
<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Se sei un IT Manager conosciamo bene il tuo mestiere.
        Sappiamo che il tuo lavoro sta cambiando: aumentano le attività che devi seguire, devi seguirle in modo puntuale, sono richieste competenze sempre più specifiche, ma spesso le risorse a tua disposizione rimangono le stesse.</p>

    <p class="p2">La mancanza di tempo, la mancanza di un aggiornamento di competenze (e purtroppo a volte le dimenticanze legate alle urgenze) portano a non riuscire a fare controlli regolari, gli aggiornamenti e le manutenzioni necessarie.
        Questo porta a gravi rischi sulla la sicurezza dei dati aziendali e la produttività.
        A questo poi si aggiungono i tentativi di intrusione e di attacco dall’esterno sempre più frequenti e con tecniche sempre più efficaci.</p>

    <p class="p3">Sappiamo quanto questo possa essere frustrante e fonte di ansia e preoccupazione e vogliamo metterci a tua disposizione con servizi mirati che potrai richiedere al bisogno per alleggerire il tuo carico di lavoro.</p>

      <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Piattaforme Web'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'E-commerce'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppomobileFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Applicazioni mobile'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-intranetFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Intranet e aree riservate'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Software custom'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'UI/UX'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'SEO e social'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Gestionali e ERP'"></app-icone>
            </p-tabPanel>
           
        </p-tabView>


        </div>


</div>



<h1>Il gestionale giusto fa la differenza</h1>

<p class="p4">Ogni azienda ormai deve poter contare su <strong>gestionali cuciti su misura</strong> in base alle specifiche <strong>esigenze di business</strong> e dei <strong>flussi di lavoro</strong> sempre più <strong>verticalizzati</strong> e <strong>basati sul digitale</strong>.</p>

<p class="p5">E’ difficile scegliere il prodotto o servizio adatto alla propria impresa e spesso è necessario rivolgersi a <strong>consulenti esterni</strong> per approfondire tutti gli aspetti tecnici e prendere la direzione giusta, per <strong>investimenti mirati e proficui nel tempo</strong>.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">Spesso intercettiamo presso i nostri clienti <strong>esigenze di cambio gestionale ed ERP</strong>: una scelta spesso sofferta e complessa, che richiede <strong>competenze specifiche</strong> ed un’adeguata <strong>software selection</strong>.</p>

    <p class="p9">Per questo, noi di TE&CO <strong>collaboriamo</strong> con <strong>Cast Group</strong> e <strong>Perigeo</strong> per offrire servizi e soluzioni professionali, scalabili, e cucite su misura: <strong>SAP Business One, Al Fresco</strong> e <strong>gestionali o ERP verticali</strong> a seconda del <strong>settore merceologico</strong> specifico consentono ogni giorno alle aziende nostre clienti di potersi affidare in tranquillità ai nostri partner attivi sul nostro territorio.</p>


    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-628.svg">
              <p-accordion>
                <p-accordionTab header="CONVENIENZA">
            <p>Possiamo integrare ogni ecommerce con servizi esterni come i gestionali, per consentire la compilazione automatica delle schede prodotto, giacenze e listini personalizzati</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="INTEGRAZIONI">
            <p>Creiamo soluzioni web partendo da un approccio modulare, ed allestendo una struttura integrabile con software aggiuntivi, definiti plugin, per incrementarne e diversificarne le funzionalità.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>

            <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
                <p-accordion>
                  <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
              <p>Creiamo soluzioni web partendo da un approccio modulare, ed allestendo una struttura integrabile con software aggiuntivi, definiti plugin, per incrementarne e diversificarne le funzionalità.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>


              <div class="flex tre">
                <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
                <p-accordion>
                  <p-accordionTab header="RISPARMIO">
              <p>Creiamo soluzioni web partendo da un approccio modulare, ed allestendo una struttura integrabile con software aggiuntivi, definiti plugin, per incrementarne e diversificarne le funzionalità.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>


              <div class="flex tre">
                <img class="sestaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
                <p-accordion>
                  <p-accordionTab header="SCALABILITA'">
              <p>Creiamo soluzioni web partendo da un approccio modulare, ed allestendo una struttura integrabile con software aggiuntivi, definiti plugin, per incrementarne e diversificarne le funzionalità.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="AGEVOLAZIONI E CREDITO DI IMPOSTA">
                  <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="LOCAZIONE OPERATIVA">
            <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="FORMAZIONE">
                <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="ISTITUTI SUPERIORI E UNIVERSITA'">
                  <p>Abbiamo scelto di collaborare con istituti superiori ed università per tutti quei progetti di scuola/lavoro che consentano agli studenti di prendere le misure di un ambiente come il nostro, fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da dover districare.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>