<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Grazie ai nostri sviluppatori, ci occupiamo quotidianamente di progettare, costruire e manutenere qualsiasi progetto web, ecommerce, mobile, intranet, con uno sguardo costante a ricerca e sviluppo di nuove soluzioni ed il supporto del team hosting di secondo livello.</p>

      <div class="divicone flex">


        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Piattaforme Web'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'E-commerce'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppomobileFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Applicazioni mobile'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-intranetFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Intranet e aree riservate'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Software custom'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'UI/UX'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'SEO e social'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Gestionali e ERP'"></app-icone>
            </p-tabPanel>
           
        </p-tabView>


        </div>


</div>



<h1>Interfacce all’insegna dell’usabilità</h1>

<p class="p4">Un semplice sito web basato su WordPress in molti casi non necessità di particolari studi di usabilità e design: in aiuto accorrono migliaia di temi precostituiti per ogni esigenza, disponibili in commercio, anche se risulta difficile orientarsi tra la pletora di alternative possibili. Se il vantaggio dei temi prefatti è l’economicità, il contro principale è la limitata personalizzazione, dovendo accontentarsi delle sole opzioni e alternative che offre il tema stesso. Oggi è fondamentale studiare grafiche e layout web in linea con l’azienda, ma anche e soprattutto pensare interfacce usabili per gli utenti che dovranno fruire i contenuti.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">Grazie alla nostra <strong>partnership con Discromie</strong>, possiamo offrire <strong>progetti di comunicazione digitale</strong> per dare <strong>valore e visibilità</strong> a prodotti, aziende e servizi: <strong>grafica corporate, logo design e web design</strong>, con particolare accento all’<strong>usabilità delle interfacce</strong>, sono i principali servizi a supporto del nostro team di sviluppo per offrire soluzioni complete ed in linea con le aspettative estetiche dei clienti.
    <strong>DISCROMIE è un’agenzia di comunicazione indipendente:</strong> grazie alle loro supporto di analisi, Design, UI/UX e interfacce, ideiamo e realizziamo progetti software (siti, app, portali, intranet, software custom) in grado di raccontare marche e valori attraverso lo sviluppo di contenuti, design ed esperienze progettati in modo unico.</p>

  
    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
                Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
                Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
              <p-accordion>
                <p-accordionTab header="CONVENIENZA">
            <p>I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
              <p-accordion>
                <p-accordionTab header="PROGETTI CHIAVI IN MANO">
            <p>Collaboriamo con grafici e UI/UX designers per offrire ai nostri clienti prodotti software completi, dal layout alla progettazione fino allo sviluppo vero e proprio della soluzione condivisa, garantendone la manutenzione nel tempo</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
    
            <div class="flex quattro">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-629.svg">
                <p-accordion>
                  <p-accordionTab header="UNICITA'">
              <p>Le soluzioni grafiche che proponiamo in collaborazione coi nostri partner ci consentono di confezionare prodotti unici e cuciti su misura, in linea con l’immagine coordinata dei clienti</p> 
              </p-accordionTab>
              </p-accordion>
              </div>


            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="AGEVOLAZIONI E CREDITO DI IMPOSTA">
                  <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="LOCAZIONE OPERATIVA">
            <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="FORMAZIONE">
                <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="ISTITUTI SUPERIORI E UNIVERSITA'">
                  <p>Abbiamo scelto di collaborare con istituti superiori ed università per tutti quei progetti di scuola/lavoro che consentano agli studenti di prendere le misure di un ambiente come il nostro, fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da dover districare.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="LAYOUT PER APPLICAZIONI MOBILI">
                  <p>Attraverso un’analisi preliminare delle funzionalità e delle esigenze specifiche, disegnamo mockup e interfacce delle applicazioni mobile iOS e Android prima dello sviluppo vero e proprio, facendo sì che il cliente tocchi con mano la proposta prima della produzione vera e propria.</p> 
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="SITI RESPONSIVE E MOBILE FRIENDLY">
                  <p>Realizziamo siti web responsive, in cui il contenuto cambia dinamicamente, le immagini si ridimensionano e gli spazi prendono la giusta forma adattandosi allo schermo del dispositivo. Per siti mobile-friendly, invece, studiamo una versione ottimizzata per una consultazione agevole dei contenuti da smartphone.</p> 
                </p-accordionTab>
              </p-accordion>

            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>