<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Se sei un IT Manager conosciamo bene il tuo mestiere.
        Sappiamo che il tuo lavoro sta cambiando: aumentano le attività che devi seguire, devi seguirle in modo puntuale, sono richieste competenze sempre più specifiche, ma spesso le risorse a tua disposizione rimangono le stesse.</p>

    <p class="p2">La mancanza di tempo, la mancanza di un aggiornamento di competenze (e purtroppo a volte le dimenticanze legate alle urgenze) portano a non riuscire a fare controlli regolari, gli aggiornamenti e le manutenzioni necessarie.
        Questo porta a gravi rischi sulla la sicurezza dei dati aziendali e la produttività.
        A questo poi si aggiungono i tentativi di intrusione e di attacco dall’esterno sempre più frequenti e con tecniche sempre più efficaci.</p>

    <p class="p3">Sappiamo quanto questo possa essere frustrante e fonte di ansia e preoccupazione e vogliamo metterci a tua disposizione con servizi mirati che potrai richiedere al bisogno per alleggerire il tuo carico di lavoro.</p>

      <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Piattaforme Web'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'E-commerce'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppomobileFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Applicazioni mobile'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-intranetFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Intranet e aree riservate'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Software custom'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'UI/UX'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'SEO e social'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Gestionali e ERP'"></app-icone>
            </p-tabPanel>
           
        </p-tabView>


        </div>


</div>



<h1>Negozi virtuali usabili, semplici da gestire e performanti</h1>

<p class="p4">Il negozio virtuale o ecommerce richiede la stessa cura ed attenzione ai dettagli di un negozio fisico, questo a cominciare dall’aspetto grafico e di usabilità, per una navigazione semplice ed allo stesso tempo in linea con l’immagine dell’azienda.</p>

<p class="p5">L’obiettivo principale di chi si affaccia al mondo del commercio virtuale è principalmente quello di <strong>creare una nuova linea di ricavo</strong>: per ottenere ciò, oggi è necessario dotarsi delle tecnologie più adatte in termini di <strong>gestione autonoma ed il più possibile automatizzata dei contenuti, integrazione e scambio dati con piattaforme esterne</strong> (gestionali, CRM) e <strong>sicurezza dell’infrastruttura</strong>.</p>

<p class="p6">Questo solo per ciò che riguarda il mezzo, ovvero il negozio virtuale, che dovrà poi necessariamente essere <strong>posizionato secondo determinate parole chiave sui motori di ricerca</strong>, oltre che promosso adeguatamente e supportato dai <strong>canali social aziendali</strong>.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">La soluzione proposta dal team di sviluppo TEL&CO per il <strong>commercio elettronico</strong> si basa su <strong>WordPress</strong>, lo strumento per fare siti più diffuso al mondo; in particolare, grazie all’integrazione con il noto <strong>plugin</strong> (software aggiuntivo) WooCommerce, siamo nelle condizioni di offrire uno <strong>strumento ecommerce facile da utilizzare, performante e scalabile</strong>.</p>

    <p class="p9">A cominciare dal <strong>layout</strong>, accompagnamo il cliente insieme ai nostri partner nella <strong>scelta del template più adatto</strong> al settore merceologico così come al <strong>target di vendita</strong> che si vuole approcciare; una volta individuata la grafica, entreremo nel dettaglio delle specifiche, definendo tutti gli aspetti (<strong>home page, scheda prodotto, call to action, sezioni, contenuti</strong> come testo, foto e video, <strong>sistemi di pagamento, profilo utente e carrello</strong>) e i <strong>servizi integrati</strong> (newsletter, CRM, gestionale) oltre che gli <strong>aspetti normativi</strong> (Termini d’uso, certificato SSL, cookie e privacy policy, nuovo GDPR).</p>


    <p class="p10">Se è vero che la pubblicità è l’anima del commercio, una volta collaudato <strong>l’ecommerce</strong>, a cominciare dalla campagna di lancio, dovrà prevedere <strong>campagne promozionali sui social</strong> in uso così come <strong>contenuti dinamici</strong>, oltre ad un essenziale lavoro di <strong>posizionamento sui motori di ricerca</strong> a cominciare da Google, per comparire nelle ricerche degli utenti secondo determinate parole chiave: <strong>i partner di TEL&CO hanno competenza ed esperienza per accompagnare i clienti con progetti concreti, misurabili e proficui</strong>.</p>
  
    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="CONVENIENZA">
              <p class="piccoloparagrafo">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-628.svg">
              <p-accordion>
                <p-accordionTab header="INTEGRAZIONI">
            <p>Possiamo integrare ogni ecommerce con servizi esterni come i gestionali, per consentire la compilazione automatica delle schede prodotto, giacenze e listini personalizzati</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="SCALABILITA'">
            <p>Creiamo soluzioni web partendo da un approccio modulare, ed allestendo una struttura integrabile con software aggiuntivi, definiti plugin, per incrementarne e diversificarne le funzionalità.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="AGEVOLAZIONI E CREDITO DI IMPOSTA">
                  <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="LOCAZIONE OPERATIVA">
            <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="FORMAZIONE">
                <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="ISTITUTI SUPERIORI E UNIVERSITA'">
                  <p>Abbiamo scelto di collaborare con istituti superiori ed università per tutti quei progetti di scuola/lavoro che consentano agli studenti di prendere le misure di un ambiente come il nostro, fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da dover districare.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="SISTEMI DI PAGAMENTO">
                  <p>Abbiamo le competenze per integrare ogni tipologia di sistema di pagamento, sia sfruttando i plugin che i vari provider mettono a disposizione, sia creando API ad hoc per collegare i servizi necessari.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="INFRASTRUTTURA HOSTING IN CLOUD">
                  <p>Grazie alle competenze dei nostri sistemisti certificati AWS, realizziamo infrastrutture server nel cloud in grado di ospitare ogni genere di software, dal web ai gestionali, sfruttando la sicurezza, gli strumenti e le potenzialità di Amazon web services.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="SEO E DIGITAL MARKETING">
                  <p>Forti delle nostre collaborazioni pluriennali, affianchiamo i clienti per tutto ciò che riguarda la parte di promozione dell’ecommerce: dalla Search Engine Optimization per un proficuo posizionamento sui motori di ricerca, al Social Media Marketing per portare traffico e nuovi clienti sul sito.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>