<div class="riquadroazzurro">

    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>
   
   <p class="p1">I servizi sistemistici consistono in tutte quelle attività di supporto alla gestione delle infrastrutture informatiche in azienda.
     Questa tipologia di servizi è solitamente gestita dal nostro team di esperti, ogni giorno al fianco delle aziende per garantire continuità ed un corretto funzionamento dei sistemi informatici delle imprese che si affidano a noi.</p>

     <p class="p2">Così facendo, le imprese sono sgravate da quelle attività sistemistiche quotidiane, a volte necessarie  ma spesso dimenticate o rimandate, e potendo così concentrarsi sul proprio core business e ottenere una gestione più razionale e sicura degli apparati informatici, oltre che un generale contenimento dei costi.</p>


     <div class="divicone flex">



      <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-helpdesk.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Help Desk'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-presidio.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Presidio e manutenzione'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-gdprWebFinal.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Vulnerability Assessment'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-businessFinal.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Prevenzione'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-recuperoDatiFinal.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Recupero dati'"></app-icone>
        </p-tabPanel>

    </p-tabView>   


     </div>
   </div>


   <h1>Prevenire gli imprevisti più comuni</h1>

   <p class="p3">Le organizzazioni aziendali devono avere sotto controllo tutte quelle <strong>misure precauzionali atte a prevenire un disastro informatico</strong>.</p>
   <p class="p4">Riteniamo che sia essenziale garantire la disponibilità immediata di <strong>dispositivi muletto e ridondanze dei sistemi critici</strong> come server, firewall, router di connettività, apparati di rete core switch, UPS, come anche dotarsi di <strong>tecnologie di protezione dello storage</strong>, sistemi RAID e le repliche.</p>
   <p class="p5">Vanno anche circoscritte le situazioni di sovratensione per <strong>ridurre al minimo l’effetto degli sbalzi di tensione</strong> sulle apparecchiature: per fare questo, ci si avvale dell’utilizzo di <strong>gruppi di continuità (UPS)</strong> e <strong>generatori di tensione</strong> per mantenere in funzione i sistemi in caso di <strong>interruzione di corrente</strong>.</p>

   <h2>LA NOSTRA SOLUZIONE</h2>

   <p class="p6">Ogni giorno <strong>i nostri tecnici si occupano di progettare tutte quelle precauzioni in grado di mettere al sicuro l’infrastruttura</strong> aziendale dei nostri clienti dagli impevisti più comuni.</p>
   <p class="p7">Lo facciamo gestendo <strong>differenti livelli di sicurezza</strong> e con una <strong>verifica periodica dell’efficacia dei sistemi</strong>, monitorando i valori più importanti e pianificando test sul restore dei dati e sui gruppi di continuità.</p>

   <p class="p8">I nostri tecnici hanno le competenze per approfondire ogni criticità e consigliare le contromisure e le soluzioni necessarie per <strong>mettere l’infrastruttura a prova di imprevisto</strong>.</p>

   <p-accordion>
    <p-accordionTab header="Gruppi di continuità Eaton">
        <p><strong>Prevenire è sempre meglio che curare</strong></p>
        <p>Cali di corrente improvvisi possono condizionare irrimediabilmente l’operatività aziendale e non di rado imprevisti picchi di tensione causano danni all’hardware con conseguente rischio di perdita di dati.</p>
        <p>I gruppi di continuità UPS sono strumenti indispensabili per proteggere apparecchiature IT e carichi elettrici dai problemi generati dalla rete pubblica.</p>
    <p>Grazie agli UPS,  scongiuriamo danni all’hardware causati dai picchi di tensione, regolando all’occorrenza la potenza in ingresso ed evitando la perdita ed il danneggiamento dei dati, potendo operare in combinazione con un software di gestione dell’alimentazione per orchestrare lo spegnimento controllato del sistema.</p>
    <p>Abbiamo scelto i gruppi di continuità Eaton perchè è l’azienda che in Italia garantisce una assistenza tecnica ed un supporto tecnico molto valido.</p>
   
<img src="../../../../assets/images/EATON-300x84.png" alt="">

    <p>Tutti gli UPS Eaton forniscono energia pulita e ininterrotta per il funzionamento delle apparecchiature aziendali: sono attenti all’ambiente, efficienti, affidabili e possono portare i tempi di intervento quasi a zero.</p>
        <p>Gli UPS Eaton risolvono i problemi di alimentazione comune che un’azienda può incontrare:</p>

        <li>interruzione dell’alimentazione, cioè uno spegnimento improvviso causato da eventi naturali o da un guasto negli impianti della società elettrica</li>
        <li>caduta di potenza, cioè un calo di breve durata della tensione che può causare il blocco delle apparecchiature e danni all’hardware.</li>
        <li>picco di tensione, cioè un’alta tensione di breve durata che causa quasi sempre la perdita di dati e/o danni all’hardware.</li>
        <li>calo di tensione, cioè riduzione della tensione di alimentazione che può causare comportamenti imprevedibili dei computer.</li>
        <li>sovratensione, cioè l’aumento della tensione di alimentazione che può danneggiare l’hardware</li>
        <li>disturbi elettrici o “interferenze” causano problemi intermittenti, sono causate per esempio da trasmettitori radio</li>
        <li>variazione di frequenza dell’alimentazione fornita da generatori</li> 
        <li>caduta di tensione istantanea solitamente dalla durata di pochi nanosecondi</li>
        <li>distorsione armonica che può causare errori di comunicazione, surriscaldamento e danni all’hardware</li>

</p-accordionTab>
   </p-accordion>


   <p-accordion>
    <p-accordionTab header="Sensori per Data Center Eaton">
<p><strong>Infrastruttura sana in ambiente sano</strong></p>
<p>Mettere in sicurezza l’infrastruttura di un’azienda significa anche e soprattutto progettare adeguatamente un data center; ciò vuol dire che ogni impresa dovrebbe avere il pieno controllo dell’ambiente in cui risiede e dei parametri vitali quali <strong>temperatura, umidità, prevenzione incendi</strong>.</p>
<p>Da notare come il consumo di energia di un CED e il logorio degli apparati che ospita siano legati al contesto ambientale che li circonda. Se è vero quindi che i server aziendali sono il centro nevralgico per la produttività dell’azienda e da loro dipende il buon funzionamento di tutti i servizi, non è sufficiente proteggerli da possibili attacchi informatici o cali di tensione ma è altrettanto importante difenderli dai rischi ambientali.</p>
<p>I nostri esperti informatici monitorano costantemente le performance oltre che la longevità dell’infrastruttura informatica dei nostri clienti: per far fronte a questa problematica, i nostri consulenti tecnici progettano i contesti ottimali in cui far processare i server aziendali: in particolare, ci avvaliamo dei sensori di ultima generazione Eaton, in grado di monitorare i fattori più critici come temperatura ed umidità.</p>
<p>I <strong>sensori di temperatura e di umidità Eaton</strong> rilevano i due parametri d’interesse ed inviano un segnale di allerta in caso di variazioni significative.</p>
<p><strong>Il controllo della temperatura del CED</strong> ha lo scopo di avvisare l’amministratore di sistema nel caso in cui si dovesse registrare un aumento pericoloso della temperatura. È importante non lasciare che venga superato un certo livello per non andare ad alterare le prestazioni delle macchine fisiche da cui dipende in gran parte la produttività aziendale.</p>
<p><strong>Monitorare l’umidità</strong>, invece, permette di evitare eventuali guasti di Hard Disk con perdita di dati in caso di elevata umidità e di scongiurare la compromissione dei componenti elettronici in caso di bassi livelli di umidità.</p>
  
<p>Le caratteristiche principali dei <strong>sensori ambientali Eaton</strong> sono:</p>

<li>capacità di monitorare i due parametri in remoto</li>
<li>sono disponibili 2 contatti in ingresso per un’ulteriore supervisione dell’aperture porte e avvio del generatore</li>
<li>possibilità di monitorare da remoto semplicemente tramite browser o Network Management System</li>
<li>invio di alert tramite mail o SMS</li>

<p>Mantenere sotto controllo questo tipo di ambienti all’interno delle aziende ha diversi vantaggi: per esempio, in caso di incidente, gli amministratori vengono subito avvertiti, evitando danni ad altri dispositivi di rete, riducendo i tempi di fermo e i costi di sostituzione.</p>


</p-accordionTab>
   </p-accordion>


   <div class="riquadroazzurro2">
<div class="flex">

    <div class="sinistra">
<h1>I NOSTRI VANTAGGI</h1>

<p-accordion>
  <div class="flex">

    <img class="immagine1" src="../../../../assets/images/Raggruppa-631.svg" alt="">

    <p-accordionTab class="titolo1" header="COMPETENZE CERTIFICATE">
<p>Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
    Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
    Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p>
    </p-accordionTab>
  </div>
  
  <div class="flex">

    <img class="immagine2" src="../../../../assets/images/Raggruppa-644.svg" alt="">
    <p-accordionTab class="titolo2" header="CONVENIENZA">
        <p>I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p>
            </p-accordionTab>

  </div>

  <div class="flex">

    <img class="immagine3" src="../../../../assets/images/Raggruppa-637.svg" alt="">
            <p-accordionTab class="titolo3" header="FLESSIBILITA'">
                <p>La nostra modalità di erogazione di risorse e competenze assicura ai nostri clienti una notevole flessibilità rispetto all’assunzione in proprio del personale dedicato alle tematiche IT sempre più strategiche: grazie ai nostri pool di tecnici infatti, oltre a garantire presidi periodici onsite presso i nostri clienti, possiamo intervenire in orari straordinari, nel weekend o in orari notturni e garantire la copertura per tutti quei progetti o cambi tecnologici aziendali che richiedono esperienza, competenza, efficienza e puntualità.  </p>
                    </p-accordionTab>      

  </div>


  <div class="flex">

    <img class="immagine4" src="../../../../assets/images/Raggruppa-634.svg" alt="">
                    <p-accordionTab class="titolo4" header="FOCUS SUL BUSINESS">
                        <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                            Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro. </p>
                            </p-accordionTab> 
  </div>

  <div class="flex">

    <img class="immagine5" src="../../../../assets/images/Raggruppa-627.svg" alt="">
                            <p-accordionTab class="titolo5" header="RISPARMIO">
                                <p>I nostri servizi vengono erogati da tecnici qualificati e sempre aggiornati: i costi degli interventi vengono addebitati solo per le attività effettivamente svolte e con la certezza della risoluzione di ogni problematica nel più breve tempo possibile. Il vero vantaggio sta nel poter contare sul nostro personale informatico certificato, senza i costi accessori di un dipendente, come ferie, malattia e soprattutto la formazione costante che garantiamo al nostro team.</p>
                                    </p-accordionTab> 
  </div>
</p-accordion>


</div>

<div class="destra">
<h1>SERVIZI CORRELATI</h1>
<p-accordion>
<p-accordionTab header="SERVER E INFRASTRUTTURE">
  <p>Ogni giorno progettiamo, implementiamo e supportiamo le aziende nella gestione delle architetture IT su cui si basano i sistemi informativi.</p>
  <button class="bottone">Scopri di più</button>
      </p-accordionTab> 

      <p-accordionTab header="BACKUP E DISASTER RECOVERY">
        <p>Sappiamo che i dati informatici sono sempre più a rischio e occorre fare il necessario per proteggerli e per consentire la continuità operativa all’azienda.</p>
        <button class="bottone">Scopri di più</button>
            </p-accordionTab> 

            <p-accordionTab header="SICUREZZA">
              <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
              <button class="bottone">Scopri di più</button>
                  </p-accordionTab> 
                </p-accordion>

</div>

</div>
</div>

