<div class="riquadroazzurro">

    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>
   
   <p class="p1">I servizi sistemistici consistono in tutte quelle attività di supporto alla gestione delle infrastrutture informatiche in azienda.
     Questa tipologia di servizi è solitamente gestita dal nostro team di esperti, ogni giorno al fianco delle aziende per garantire continuità ed un corretto funzionamento dei sistemi informatici delle imprese che si affidano a noi.</p>

     <p class="p2">Così facendo, le imprese sono sgravate da quelle attività sistemistiche quotidiane, a volte necessarie  ma spesso dimenticate o rimandate, e potendo così concentrarsi sul proprio core business e ottenere una gestione più razionale e sicura degli apparati informatici, oltre che un generale contenimento dei costi.</p>


     <div class="divicone flex">


      <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-helpdesk.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Help Desk'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-presidio.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Presidio e manutenzione'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-gdprWebFinal.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Vulnerability Assessment'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-businessFinal.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Prevenzione'"></app-icone>
        </p-tabPanel>



        <p-tabPanel>
            <ng-template pTemplate="header">
              <app-icone [immagine]="'../../assets/images/icon-recuperoDatiFinal.svg'"></app-icone>
              
            </ng-template>
            <app-icone [titolo]="'Recupero dati'"></app-icone>
        </p-tabPanel>

    </p-tabView>   


     </div>
   </div>


   <h1>Recupero dati da supporti danneggiati</h1>

   <p class="p3">Una delle grandi preoccupazioni che accomunano le aziende e gli utenti privati è la <strong>perdita di dati importanti</strong>, di <strong>documenti</strong> o <strong>file</strong> di lavoro <strong>per colpa di un’interruzione di corrente</strong> o di un <strong>danno fisico all’hard disk</strong>. È un problema che si presenta sempre più di frequente, essendo le infrastrutture informatiche sottoposte a carichi di lavoro sempre più importanti.</p>

   <p class="p4">Fortunatamente la perdita di dati ed informazioni può non essere definitiva: esistono, oltre che doverose <strong>attività di prevenzione</strong>, anche casi in cui si può ricorrere al <strong>servizio di recupero dati</strong>. Ciò dipende essenzialmente dal tipo di danno che la perdita ha provocato.</p>


<h2>LA NOSTRA SOLUZIONE</h2>

<p class="p5">Per il recupero dati noi di TEL&CO ci affidiamo ad una società specializzata con tutte le competenze e la strumentazione più efficace: abbiamo scelto di essere <strong>partner di Kroll Ontrack</strong>, che <strong>da oltre 30 anni è il punto di riferimento</strong> per le aziende di tutto il mondo <strong>per i servizi di recupero dati</strong>.</p>

<p class="p6">Se c’è una sola possibilità di recuperare le informazioni smarrite, grazie al leader mondiale nel suo campo garantiamo <strong>una soluzione di altissimo livello, sicura, puntuale ed efficace</strong>. This is <strong>data recovery</strong>!</p>
<br>
<br>
<p-accordion>
    
    <p-accordionTab header="Servizio di recupero dati Kroll on Track">
        <div class="flex">
        <div class="accordionsinistra">
<p class="p8">Ogni anno in Italia e nel mondo si rivolgono a Ontrack migliaia di utenti, dal singolo consumatore ad aziende e organizzazioni di ogni dimensione sia pubbliche che private.
    Ontrack ha svolto oltre 500.000 casi di recupero dati.</p> 

<p class="p9">In Italia, Ontrack detiene l’unica camera bianca professionale per il recupero dati.
    Un ambiente, ISO-5/Classe 100, protetto da polveri inquinanti e dotato di centinaia di Tool hardware e software e migliaia di parti di ricambio per poter affrontare con successo qualsiasi situazione di recupero dati.</p>

<p class="p10">Ontrack risolve positivamente oltre il 90% dei casi trattati.
    Scegliere Ontrack significa assicurarsi le più alte possibilità di recuperare file.</p>

    <p class="p11">TEL&CO è <strong>Premium Partner di Ontrack</strong> e offre il Servizio di recupero dati</p>
</div>
<img class="immagineontrack" src="../../../../assets/images/Ontrack-300x94.png" alt="">
</div>
</p-accordionTab>
</p-accordion>




<div class="riquadroazzurro2">

    <div class="flex">
    <div class="sinistra">

    <h1>I NOSTRI VANTAGGI</h1>
    <br>
    <p-accordion>
    <div class="flex">
        <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
    
          <p-accordionTab class="titolo1" header="COMPETENZE CERTIFICATE">
          <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono know how o addirittura certificazioni specifiche. Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
          </p-accordionTab>
     
        </div>
    
    
        <div class="flex">
            <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
          
              <p-accordionTab class="titolo2" header="CONVENIENZA">
              <p class="piccoloparagrafo">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
              </p-accordionTab>
          
            </div>
    
            <div class="flex">
                <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-631.svg">
          
                  <p-accordionTab class="titolo3" header="DISPONIBILITA' QUOTIDIANA">
                  <p class="piccoloparagrafo">il nostro team di help desk, composto da  tecnici informatici, supporta quotidianamente i nostri clienti per ogni tipo necessità o problematica operativa. Nella stragrande maggioranza dei casi espletiamo le richieste nel giro di pochissimo tempo e da remoto. Grazie alla costante interoperatività tra help desk e pianificazione, se necessario organizziamo interventi presso i clienti per quelle criticità non risolvibili dalla nostra sede.  Maggiori dettagli qui: https://devtlco.tlco.info/assistenza-tecnica/</p> 
                  </p-accordionTab>
            
                </div>
    
                <div class="flex">
                    <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-635.svg">
     
                      <p-accordionTab class="titolo4" header="RISOLUZIONE CERTA">
                      <p class="piccoloparagrafo">I nostri servizi vengono erogati da tecnici qualificati e sempre aggiornati: i costi degli interventi vengono addebitati solo per le attività effettivamente svolte e con la certezza della risoluzione di ogni problematica nel più breve tempo possibile. Il vero vantaggio sta nel poter contare sul nostro personale informatico certificato, senza i costi accessori di un dipendente, come ferie, malattia e soprattutto la formazione costante che garantiamo al nostro team.</p> 
                      </p-accordionTab>
             
                    </div>

                    <div class="flex">
                        <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-627.svg">
         
                          <p-accordionTab class="titolo4" header="RISPARMIO">
                          <p class="piccoloparagrafo">I servizi vengono erogati da tecnici qualificati e sempre aggiornati. I costi vengono addebitati solo per le attività effettivamente svolte e con la certezza della risoluzione di ogni problematica nel più breve tempo possibile.
                            Non ci sono costi accessori legati alle ferie, alle assenze per malattia, per la formazione iniziale e aggiornamenti successivi.</p> 
                          </p-accordionTab>
                 
                        </div>
                  </p-accordion>
    </div>
    
    
    <div class="destra">
      
    <h1>SERVIZI CORRELATI</h1>
    <br>
    <p-accordion>
        <p-accordionTab header="BACKUP E DISASTER RECOVERY">
        <p class="piccoloparagrafo">Sappiamo che i dati informatici sono sempre più a rischio e occorre fare il necessario per proteggerli e per consentire la continuità operativa all’azienda.</p> 
        <button class="bottone">Scopri di più</button>
    </p-accordionTab>
    
    
    
      <p-accordionTab header="POSTAZIONI DI LAVORO">
        <p class="piccoloparagrafo">Siamo a tua disposizione per una consulenza sugli strumenti di lavoro: postazioni PC Windows e Apple Mac e dispositivi Mobili Android o Apple iOS.</p> 
        <button class="bottone">Scopri di più</button>
    </p-accordionTab>
    
        <p-accordionTab header="MAIL E PEC">
            <p class="piccoloparagrafo">Le caselle di posta elettronica sono uno strumento essenziale di comunicazione interna verso gli altri colleghi, che per quella verso l’esterno, per gli ordinari scambi con partner, clienti, fornitori, collaboratori. </p> 
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>
    
    
        <p-accordionTab header="SERVER E INFRASTRUTTURE">
            <p class="piccoloparagrafo">Ogni giorno progettiamo, implementiamo e supportiamo le aziende nella gestione delle architetture IT su cui si basano i sistemi informativi.</p> 
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>        
    
    </p-accordion>
    </div>
    
    </div>
</div>    