<div class="soprai1500">


    <app-riquadroinalto [colore] = "'colore1'" [titolo] = "'Chi siamo'" [paragrafo] = "'Da oltre 20 anni affianchiamo le aziende nella gestione della infrastruttura informatica (tecnologica): Sicurezza IT, PC, Server, reti aziendali, Cloud e sviluppo Software. La storia della nostra azienda è fatta di persone: nata nel 1998 con lo sguardo rivolto all’innovazione ed i piedi radicati nel territorio, TEL&CO è una realtà informatica che negli anni è cresciuta e si è ingrandita grazie alla determinazione, passione e competenza del suo team. Una squadra coordinata e competente, orientata al raggiungimento degli obiettivi ed alle risposte ai bisogni del cliente.'"></app-riquadroinalto>


    <div class="riquadrobianco">
        <div class="primoflex">
        <div class="flex cerchiforma">

            <app-cerchiofigurina [immagine] = "'./assets/svg/dipendenti.svg'" [numero] = "'40'" [descrizione] = "'Dipendenti'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/ticket.svg'" [numero] = "'6240'" [descrizione] = "'Ticket annuali'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/formazione.svg'" [numero] = "'1720h'" [descrizione] = "'Formazione'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/clientiattivi_mobile.svg'" [numero] = "'503'" [descrizione] = "'Clienti attivi'"></app-cerchiofigurina>
           
            <app-cerchiofigurina [immagine] = "'./assets/svg/tecnici.svg'" [numero] = "'+30'" [descrizione] = "'Tecnici certificati'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/gestione.svg'" [numero] = "'6'" [descrizione] = "'Presa in carico'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/nazionalita.svg'" [numero] = "'6'" [descrizione] = "'Nazionalità'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/eta.svg'"[numero] = "'27'" [descrizione] = "'Età media'"></app-cerchiofigurina>


        </div>
        </div>
      
</div>

    <div class="team">

        <h2>I nostri Team</h2>
        <p class="paralto"><strong>TEL&CO è una grande famiglia:</strong> siamo prima <strong>amici</strong> che colleghi e ciò contribuisce in maniera determinante a creare un <strong>ambiente sereno e collaborativo.</strong>
            Siamo organizzati in <strong>reparti di competenza,</strong> veri e propri <strong>laboratori specializzati</strong> nell’impiego di <strong>tecnologie verticali:</strong> i nostri tecnici e consulenti operano all’interno di questi reparti, in continua <strong>comunicazione e commistione di competenze,</strong> favorendo la crescita personale e professionale in un ambiente di ricerca e sviluppo continui.</p>
    <p class="parbasso"><strong>Ogni gruppo di lavoro all’interno di TEL&CO ha più riferimenti,</strong> per una comunicazione efficace, proattiva e puntuale.</p>
    
    <div class="flex membri">

    <div class="membro">


        <app-cerchiopersona [immagine]="'./assets/images/Fabio-Tavoni.png'" [nome] = "'Fabio Tavoni'" [professione]="'Direzione generale e HR'"></app-cerchiopersona>

   
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Ivonne-Dotti.png'" [nome] = "'Ivonne Dotti'" [professione]="'Amministrazione'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Greta-Bartoli.png'" [nome] = "'Greta Bartoli'" [professione]="'Pianificazione Risorse'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marco-Chan.png'" [nome] = "'Marco-Chan'" [professione]="'Direttore commerciale'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Valentina-Melloni.png'" [nome] = "'Valentina Melloni'" [professione]="'Comunicazione e Marketing'"></app-cerchiopersona>
    </div>

</div>

<div class="membri2 flex">

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Alberto-Candini.png'" [nome] = "'Alberto Candini'" [professione]="'Responsabile Commerciale'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marusca-Setti.png'" [nome] = "'Marusca Setti'" [professione]="'Acquisti e Logistica'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Foto-profilo-Andrea-1024x1024.png'" [nome] = "'Andrea Leonelli'" [professione]="'Responsabile Commerciale'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Matteo-Fantuzzi.png'" [nome] = "'Matteo Fantuzzi'" [professione]="'Responsabile Commerciale'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Andrea-Lipparini.png'" [nome] = "'Andrea Lipparini'" [professione]="'Avvocato e consulente Privacy'"></app-cerchiopersona>
    </div>

</div>

<div class="membri3 flex">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Mirko-Venturelli.png'" [nome] = "'Mirko Venturelli'" [professione]="'Progettazione e Network'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marco-Ramon-Saladino.png'" [nome] = "'Marco Ramon Saladino'" [professione]="'Responsabile tecnico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marco-Aggogeri.png'" [nome] = "'Marco Aggogeri'" [professione]="'Supporto Sistemistico e Progetti'"></app-cerchiopersona>
    </div>

    <div class="membro">

    <app-cerchiopersona [immagine]="'./assets/images/Cristina-Stanciu-1.png'" [nome] = "'Cristina Stanciu'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
        
    </div>
    
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Emanuele-Righi.png'" [nome] = "'Emanuele Righi'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

</div>


<div class="membri4 flex">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Filippo-Oliviero.png'" [nome] = "'Filippo Oliviero'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Giordano-Tori.png'" [nome] = "'Giordano Tori'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">

        <app-cerchiopersona [immagine]="'./assets/images/Matteo-Zanni.png'" [nome] = "'Giordano Tori'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
        
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Samuele-Tacchini.png'" [nome] = "'Samuele Tacchini'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Simone-Ferrari.png'" [nome] = "'Simone Ferrari'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

</div>


<div class="membri5 flex">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Davide-Alvisi.png'" [nome] = "'Davide Alvisi'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Federico-Fontanella.png'" [nome] = "'Federico Fontanella'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Stefania-Della-Casa.png'" [nome] = "'Stefania Della Casa'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Willy-Dieci.png'" [nome] = "'Willy Dieci'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Lorenzo-Pirondini.png'" [nome] = "'Lorenzo Pirondini'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

</div>





<div class="membri6 flex">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Lorenzo-Pirondini.png'" [nome] = "'Lorenzo Pirondini'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Nicolo-De-Pascalis.png'" [nome] = "'Nicolo De Pascalis'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Giacomo-Cappi.png'" [nome] = "'Giacomo Cappi'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Sandro-Vita.png'" [nome] = "'Sandro Vita'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marcello-Bortolotti.png'" [nome] = "'Marcello Bortolotti'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>

</div>



<div class="membri7 flex">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Chiara-Cavani.png'" [nome] = "'Chiara Cavani'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Nebili-Radhouane.png'" [nome] = "'Nebili Radhouane'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Alessio-Cacciapuoti.png'" [nome] = "'Alessio Cacciapuoti'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Ivan-Mariani.png'" [nome] = "'Ivan Mariani'" [professione]="'Sviluppo Software'"></app-cerchiopersona>  
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Jacopo-Zanti.png'" [nome] = "'Jacopo-Zanti'" [professione]="'Sviluppo Software'"></app-cerchiopersona>  
    </div>

</div>


<h2 class="competenze">Competenze</h2>

<div class="accordion">
    <p-accordion>
        <p-accordionTab header="Presidio sistemi">
         
        </p-accordionTab>
        <p-accordionTab header="Servizi sistemistici">
          
        </p-accordionTab>
        <p-accordionTab header="Disaster recovery">
           
        </p-accordionTab>
        <p-accordionTab header="Help Desk">
         
         </p-accordionTab>
         <p-accordionTab header="Vulnerability assestment">
           
         </p-accordionTab>
         <p-accordionTab header="Sicurezza informatica">
          
         </p-accordionTab>
    </p-accordion>
</div>



<p class="certificazioni flex-1">Certificazioni</p>




<div class="h-10rem carousel1">
    <p-carousel [value]="slides" [numVisible]="6" [showIndicators]="false" [autoplayInterval]="3000"
        [circular]="true" [numScroll]="1" [orientation]="'horizontal'">
        <ng-template let-slide pTemplate="item">
            <div class="h-10rem w-4rem immagini">

                <img [src]="slide.immagine" class="immagine">

            </div>
        </ng-template>
    </p-carousel>

</div>

</div>

</div>



<div class="sottoi1500">

    <div class="riquadroviola">

                <h1>Chi siamo</h1>

                <p class="paragrafo1">
                    Da oltre 20 anni affianchiamo le aziende nella gestione della infrastruttura informatica
                    (tecnologica): Sicurezza IT, PC, Server, reti aziendali, Cloud e sviluppo Software.
                </p>

                <p class="paragrafo2">
                    La storia della nostra azienda è fatta di persone: nata nel 1998 con lo sguardo rivolto
                    all’innovazione ed i piedi radicati nel territorio, TEL&CO è una realtà informatica che negli anni è
                    cresciuta e si è ingrandita grazie alla determinazione, passione e competenza del suo team. Una
                    squadra coordinata e competente, orientata al raggiungimento degli obiettivi ed alle risposte ai
                    bisogni del cliente.
                </p>
            </div>

    




    <div class="riquadrobianco">
        <div class="flex cerchiforma">
            <app-cerchiofigurina [immagine] = "'./assets/svg/dipendenti.svg'" [numero] = "'40'" [descrizione] = "'Dipendenti'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/ticket.svg'" [numero] = "'6240'" [descrizione] = "'Ticket annuali'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/formazione.svg'" [numero] = "'1720h'" [descrizione] = "'Formazione'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/clientiattivi_mobile.svg'" [numero] = "'503'" [descrizione] = "'Clienti attivi'"></app-cerchiofigurina>
           
           


      
    </div>

    
<div class="flex secondariga">
   
    <app-cerchiofigurina [immagine] = "'./assets/svg/tecnici.svg'" [numero] = "'+30'" [descrizione] = "'Tecnici certificati'"></app-cerchiofigurina>

    <app-cerchiofigurina [immagine] = "'./assets/svg/gestione.svg'" [numero] = "'6'" [descrizione] = "'Presa in carico'"></app-cerchiofigurina>

    <app-cerchiofigurina [immagine] = "'./assets/svg/nazionalita.svg'" [numero] = "'6'" [descrizione] = "'Nazionalità'"></app-cerchiofigurina>

    <app-cerchiofigurina [immagine] = "'./assets/svg/eta.svg'"[numero] = "'27'" [descrizione] = "'Età media'"></app-cerchiofigurina>

  
    </div>

    </div>








    <div class="riquadrobianco2">
        <div class="flex primorigo">
            <app-cerchiofigurina [immagine] = "'./assets/svg/dipendenti.svg'" [numero] = "'40'" [descrizione] = "'Dipendenti'"></app-cerchiofigurina>

            <app-cerchiofigurina [immagine] = "'./assets/svg/ticket.svg'" [numero] = "'6240'" [descrizione] = "'Ticket annuali'"></app-cerchiofigurina>         
           
    </div>
<div class="flex secondorigo">
       
    <app-cerchiofigurina [immagine] = "'./assets/svg/formazione.svg'" [numero] = "'1720h'" [descrizione] = "'Formazione'"></app-cerchiofigurina>

    <app-cerchiofigurina [immagine] = "'./assets/svg/clientiattivi_mobile.svg'" [numero] = "'503'" [descrizione] = "'Clienti attivi'"></app-cerchiofigurina>

    </div>

      
   

    
<div class="flex terzorigo">
  
    <app-cerchiofigurina [immagine] = "'./assets/svg/tecnici.svg'" [numero] = "'+30'" [descrizione] = "'Tecnici certificati'"></app-cerchiofigurina>

    <app-cerchiofigurina [immagine] = "'./assets/svg/gestione.svg'" [numero] = "'6'" [descrizione] = "'Presa in carico'"></app-cerchiofigurina>
   

</div>


    <div class="flex quartorigo">
        

        <app-cerchiofigurina [immagine] = "'./assets/svg/nazionalita.svg'" [numero] = "'6'" [descrizione] = "'Nazionalità'"></app-cerchiofigurina>

        <app-cerchiofigurina [immagine] = "'./assets/svg/eta.svg'"[numero] = "'27'" [descrizione] = "'Età media'"></app-cerchiofigurina>

    </div>
    </div>
   


    <div class="team2">

        <h2>I nostri Team</h2>
        <p class="paralto"><strong>TEL&CO è una grande famiglia:</strong> siamo prima <strong>amici</strong> che colleghi e ciò contribuisce in maniera determinante a creare un <strong>ambiente sereno e collaborativo.</strong>
            Siamo organizzati in <strong>reparti di competenza,</strong> veri e propri <strong>laboratori specializzati</strong> nell’impiego di <strong>tecnologie verticali:</strong> i nostri tecnici e consulenti operano all’interno di questi reparti, in continua <strong>comunicazione e commistione di competenze,</strong> favorendo la crescita personale e professionale in un ambiente di ricerca e sviluppo continui.</p>
    <p class="parbasso"><strong>Ogni gruppo di lavoro all’interno di TEL&CO ha più riferimenti,</strong> per una comunicazione efficace, proattiva e puntuale.</p>
    
    <div class="flex flex-wrap mt-6 membri">

    <div class="membro">

        <app-cerchiopersona [immagine]="'./assets/images/Fabio-Tavoni.png'" [nome] = "'Fabio Tavoni'" [professione]="'Direzione generale e HR'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Ivonne-Dotti.png'" [nome] = "'Ivonne Dotti'" [professione]="'Amministrazione'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Greta-Bartoli.png'" [nome] = "'Greta Bartoli'" [professione]="'Pianificazione Risorse'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marco-Chan.png'" [nome] = "'Marco-Chan'" [professione]="'Direttore commerciale'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Valentina-Melloni.png'" [nome] = "'Valentina Melloni'" [professione]="'Comunicazione e Marketing'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Alberto-Candini.png'" [nome] = "'Alberto Candini'" [professione]="'Responsabile Commerciale'"></app-cerchiopersona>
    </div>
</div>

<div class="membri2 flex flex-wrap mt-6">

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marusca-Setti.png'" [nome] = "'Marusca Setti'" [professione]="'Acquisti e Logistica'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Foto-profilo-Andrea-1024x1024.png'" [nome] = "'Andrea Leonelli'" [professione]="'Responsabile Commerciale'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Matteo-Fantuzzi.png'" [nome] = "'Matteo Fantuzzi'" [professione]="'Responsabile Commerciale'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Andrea-Lipparini.png'" [nome] = "'Andrea Lipparini'" [professione]="'Avvocato e consulente Privacy'"></app-cerchiopersona>
    </div>


</div>

<div class="membri3 flex flex-wrap mt-6">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Mirko-Venturelli.png'" [nome] = "'Mirko Venturelli'" [professione]="'Progettazione e Network'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marco-Ramon-Saladino.png'" [nome] = "'Marco Ramon Saladino'" [professione]="'Responsabile tecnico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marco-Aggogeri.png'" [nome] = "'Marco Aggogeri'" [professione]="'Supporto Sistemistico e Progetti'"></app-cerchiopersona>
    </div>

    <div class="membro">

    <app-cerchiopersona [immagine]="'./assets/images/Cristina-Stanciu-1.png'" [nome] = "'Cristina Stanciu'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
        
    </div>
    
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Emanuele-Righi.png'" [nome] = "'Emanuele Righi'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Filippo-Oliviero.png'" [nome] = "'Filippo Oliviero'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>
</div>


<div class="membri4 flex flex-wrap mt-6">
  


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Giordano-Tori.png'" [nome] = "'Giordano Tori'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">

        <app-cerchiopersona [immagine]="'./assets/images/Matteo-Zanni.png'" [nome] = "'Matteo Zanni'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
        
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Samuele-Tacchini.png'" [nome] = "'Samuele Tacchini'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Simone-Ferrari.png'" [nome] = "'Simone Ferrari'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


</div>


<div class="membri5 flex flex-wrap mt-6">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Davide-Alvisi.png'" [nome] = "'Davide Alvisi'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Federico-Fontanella.png'" [nome] = "'Federico Fontanella'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Stefania-Della-Casa.png'" [nome] = "'Stefania Della Casa'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Willy-Dieci.png'" [nome] = "'Willy Dieci'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

</div>





<div class="membri6 flex flex-wrap mt-6">
    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Lorenzo-Pirondini.png'" [nome] = "'Lorenzo Pirondini'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Nicolo-De-Pascalis.png'" [nome] = "'Nicolo De Pascalis'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Giacomo-Cappi.png'" [nome] = "'Giacomo Cappi'" [professione]="'Tecnico informatico'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Sandro-Vita.png'" [nome] = "'Sandro Vita'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>

  
</div>



<div class="membri7 flex flex-wrap mt-6">

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Marcello-Bortolotti.png'" [nome] = "'Marcello Bortolotti'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Chiara-Cavani.png'" [nome] = "'Chiara Cavani'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Nebili-Radhouane.png'" [nome] = "'Nebili Radhouane'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>


    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Alessio-Cacciapuoti.png'" [nome] = "'Alessio Cacciapuoti'" [professione]="'Sviluppo Software'"></app-cerchiopersona>
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Ivan-Mariani.png'" [nome] = "'Ivan Mariani'" [professione]="'Sviluppo Software'"></app-cerchiopersona>  
    </div>

    <div class="membro">
        <app-cerchiopersona [immagine]="'./assets/images/Jacopo-Zanti.png'" [nome] = "'Jacopo-Zanti'" [professione]="'Sviluppo Software'"></app-cerchiopersona>  
    </div>

</div>


<h2 class="competenze">Competenze</h2>

<div class="accordion">
    <p-accordion>
        <p-accordionTab header="Presidio sistemi">
         
        </p-accordionTab>
        <p-accordionTab header="Servizi sistemistici">
          
        </p-accordionTab>
        <p-accordionTab header="Disaster recovery">
           
        </p-accordionTab>
        <p-accordionTab header="Help Desk">
         
         </p-accordionTab>
         <p-accordionTab header="Vulnerability assestment">
           
         </p-accordionTab>
         <p-accordionTab header="Sicurezza informatica">
          
         </p-accordionTab>
    </p-accordion>
</div>



<p class="certificazioni flex-1">Certificazioni</p>




<div class="h-10rem carousel1">
    <p-carousel [value]="slides" [numVisible]="6" [showIndicators]="false" [autoplayInterval]="3000"
        [circular]="true" [numScroll]="1" [orientation]="'horizontal'">
        <ng-template let-slide pTemplate="item">
            <div class="h-10rem w-4rem immagini">

                <img [src]="slide.immagine" class="immagine">

            </div>
        </ng-template>
    </p-carousel>

</div> 

</div>



<div class="h-10rem carouselmobile">
    <p-carousel [value]="slides" [numVisible]="2" [showIndicators]="false" [autoplayInterval]="3000"
        [circular]="true" [numScroll]="1" [orientation]="'horizontal'">
        <ng-template let-slide pTemplate="item">
            <div class="h-10rem w-4rem immagini">

                <img [src]="slide.immagine" class="immagine">

            </div>
        </ng-template>
    </p-carousel>

</div>


