.sottoi1500{
    display: none;
}

.team2{
    display: none;
}

.carouselmobile{
    display: none;
}


.riquadroviola{
    height: 400px;
    width: screen;
    background-image: linear-gradient(130deg, #1E1B2C 0%, #5945BA 100%);
    margin: 0;
}

.riquadrobianco2{
    display: none;
}


h1{
    margin-top: 0;
    padding-top: 40px;
    margin-left: 10%;
    color: white;
    font-size: 50px;
    font-family: "Segoe UI", Sans-serif;
    font-weight: 200;
}

.paragrafo1{
    width: 30%;
    color: white;
    margin-left: 10%;
    font-family: "Segoe UI", Sans-serif;
}

.paragrafo2{
    width: 30%;
    padding-top: 20px;
    color: white;
    margin-left: 10%;
    font-family: "Segoe UI", Sans-serif;
}

.user{
    height: 200px;
    width: 200px;
    margin-left: -70%;
    margin-top: 5%;

}

.riquadrobianco{
    height: 200px;
    width: screen;
    background-color: white;
    box-shadow: 1px 1px 1px rgb(131, 131, 131);
}

.primoflex .flex {
    margin-top: 0.5%;
    justify-content: space-evenly;
    }




.team h2{
    font-size: 40px;
    font-family: "Segoe UI", Sans-serif;
    font-weight: 400;
    margin-left: 12%;
    color: #2E2655;
    margin-top: 5%;
}

.team .paralto{
    margin-left: 12%;
    width: 80%;
    font-family: "Segoe UI", Sans-serif;
    font-size: 17px;
    color: #707070;

}

.immagine {
    width: 100px;
}

.team .parbasso{
    margin-left: 12%;
    width: 80%;
    font-family: "Segoe UI", Sans-serif;
    font-size: 17px;
    color: #707070;
}

.fabio{
    width: 134px;
    height: 134px;
}

.ivonne{
    width: 134px;
    height: 134px;
}

.greta{
    width: 134px;
    height: 134px;
}

.marco{
    width: 134px;
    height: 134px;
}

.valentina{
    width: 134px;
    height: 134px;
}

.alberto{
    width: 134px;
    height: 134px;
}
.marusca{
    width: 134px;
    height: 134px;
}

.andrea{
    width: 94px;
    height: 94px;
    margin-top: 20px;
    margin-left: 20px;
}

.matteo{
    width: 134px;
    height: 134px;
}

.lipparini{
    width: 134px;
    height: 134px;
}

.mirko{
    width: 134px;
    height: 134px;
}

.saladino{
    width: 134px;
    height: 134px;
}
.aggogeri{
    width: 134px;
    height: 134px;
}

.cristina{
    width: 134px;
    height: 134px;
}

.emanuele{
    width: 134px;
    height: 134px;
}

.filippo{
    width: 134px;
    height: 134px;
}

.giordano{
    width: 134px;
    height: 134px;
}

.zanni{
    width: 134px;
    height: 134px;
}

.samuele{
    width: 134px;
    height: 134px;
}

.simone{
    width: 134px;
    height: 134px;
}

.davide{
    width: 134px;
    height: 134px;
}

.federico{
    width: 134px;
    height: 134px;
}

.stefania{
    width: 134px;
    height: 134px;
}

.willy{
    width: 134px;
    height: 134px;
}

.lorenzo{
    width: 134px;
    height: 134px;
}

.dario{
    width: 134px;
    height: 134px;
}

.nicolo{
    width: 134px;
    height: 134px;
}

.giacomo{
    width: 134px;
    height: 134px;
}

.sandro{
    width: 134px;
    height: 134px;
}

.marcello{
    width: 134px;
    height: 134px;
}

.chiara{
    width: 134px;
    height: 134px;
}

.nebili{
    width: 134px;
    height: 134px;
}
.alessio{
    width: 134px;
    height: 134px;
}

.ivan{
    width: 134px;
    height: 134px;
}

.jacopo{
    width: 134px;
    height: 134px;
}

.testoandrea{
    margin-top: 32%;
}

.testomarco{
    margin-left: -40%;
}

.membri{
    margin-top: 3%;
}

.membri2{
    margin-top: 3%;
}

.membri3{
    margin-top: 3%;
}

.membri4{
    margin-top: 3%;
}

.membri5{
    margin-top: 3%;
}

.membri6{
    margin-top: 3%;
}

.membri7{
    margin-top: 3%;
}

.membri p{
    font-size: 15px;
    color: #6C6969;
    font-family: "Segoe UI", Sans-serif;
    width: 100%;
    margin-left: 0%;
    margin-top: -15px;
}

.membri2 p{
    font-size: 15px;
    color: #6C6969;
    font-family: "Segoe UI", Sans-serif;
    width: 100%;
    margin-left: 0%;
    margin-top: -15px;
}

.membri3 p{
    font-size: 15px;
    color: #6C6969;
    font-family: "Segoe UI", Sans-serif;
    width: 100%;
    margin-left: 0%;
    margin-top: -15px;
}


.membri4 p{
    font-size: 15px;
    color: #6C6969;
    font-family: "Segoe UI", Sans-serif;
    width: 100%;
    margin-left: 0%;
    margin-top: -15px;
}


.membri5 p{
    font-size: 15px;
    color: #6C6969;
    font-family: "Segoe UI", Sans-serif;
    width: 100%;
    margin-left: 0%;
    margin-top: -15px;
}


.membri6 p{
    font-size: 15px;
    color: #6C6969;
    font-family: "Segoe UI", Sans-serif;
    width: 100%;
    margin-left: 0%;
    margin-top: -15px;
}


.membri7 p{
    font-size: 15px;
    color: #6C6969;
    font-family: "Segoe UI", Sans-serif;
    width: 100%;
    margin-left: 0%;
    margin-top: -15px;
}

.testoandrea2{
    margin-left: -50%;
}



h3{
    font-size: 23px;
    font-family: "Segoe UI", Sans-serif;
    font-weight: 400;
    margin-left: 0%;
    color: #2E2655;
    font-weight: bold;
}
.membri7{
    margin-top: 5%;
    margin-left: 0%;
}

.membro31{
    margin-top: 3%;
    margin-left: 12%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid #2e2655;
}


.membro32{
    margin-top: 3%;
    margin-left: 8%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid #2e2655;
}


.membro33{
    margin-top: 3%;
    margin-left: 8%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid #2e2655;
}


.membro34{
    margin-top: 3%;
    margin-left: 8%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid #2e2655;
}


.membro35{
    margin-top: 3%;
    margin-left: 8%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid #2e2655;
}

.membro{
    width: 25%;
    text-align: -webkit-center;
}

.immagineandrea{
   border-radius: 100px;
}


.cerchiforma{
    width: 100%;
}

.cerchi{
    justify-content: space-around;
    width: 73%;
    margin-left: 10%;
    margin-top: -2%;
    position: static;
    margin-right: 12%;
}

.cerchio1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 12%;
    margin-top: 1%;
}


.cerchio2{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 5%;
    margin-top: 1%;
}

.cerchio3{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 5%;
    margin-top: 1%;
}

.cerchio4{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 5%;
    margin-top: 1%;
}

.cerchio5{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 5%;
    margin-top: 1%;
}

.cerchio6{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 5%;
    margin-top: 1%;
}

.cerchio7{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 5%;
    margin-top: 1%;
}

.cerchio8{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #AAC711;
    margin-left: 5%;
    margin-top: 1%;
}

.primoh{
    font-size: 30px;
    margin-left: 14%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.primap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}


.secondoh{
    font-size: 30px;
    margin-left: 14%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.secondap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}

.terzoh{
    font-size: 30px;
    margin-left: 5%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.terzap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}

.quartoh{
    font-size: 30px;
    margin-left: 14%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.quartap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}

.quintoh{
    font-size: 30px;
    margin-left: 14%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.quintap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}

.sestoh{
    font-size: 30px;
    margin-left: 14%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.sestap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}

.settimoh{
    font-size: 30px;
    margin-left: 14%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.settimap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}

.ottavoh{
    font-size: 30px;
    margin-left: 14%;
    color: black;
    margin-top: -2%;
    font-family: "Segoe UI", Sans-serif;
}

.ottavap{
    margin-left: 13%;
    color: black;
    margin-top: -20%;
    font-family: "Segoe UI", Sans-serif;
}

@media screen and (max-width: 1500px) {

    .team2{
        overflow-x: hidden;
        margin-left: -13%;
        display: block;
    }


    .membro{
        margin-left: 10%;
        margin-top: 2%;
    }


    .team2 h2{
        font-size: 40px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: 400;
        margin-left: 15%;
        color: #2E2655;
    }
    
    .team2 .paralto{
        margin-left: 15%;
        width: 80%;
        font-family: "Segoe UI", Sans-serif;
        font-size: 17px;
        color: #707070;
    
    }
    
    
    .team2 .parbasso{
        margin-left: 15%;
        width: 80%;
        font-family: "Segoe UI", Sans-serif;
        font-size: 17px;
        color: #707070;
    }

    .riquadrobianco2{
        display: none;
    }

    .carousel1{
        display: none;
    }

    .carouselmobile{
        display: block;
    }
    
    .soprai1500{
        display: none;
    }

    .cerchiforma{
        justify-content: space-around;
        margin-top: 2%;
    }

    .secondariga{
        justify-content: space-around;
    }

    .secondariga{
        margin-left: 0%;
        margin-top: 5%;
    }

    .riquadrobianco{
        height: 550px;
    }

    .membri{
        justify-content: center;

    }

    .membri2{
        justify-content: center;
    }

    .membri3{
        justify-content: center;
    }

    .membri4{
        justify-content: center;
    }

    .membri5{
        justify-content: center;
    }

    .membri6{
        justify-content: center;
    }

    .membri7{
        justify-content: center;
    }


    .testomarco{
        margin-left: 0%;
    }

    .testostefania{
        margin-left: 40%;
    }

    .testonicolo{
        margin-left: 20%;
    }

    .membro1{
        margin-bottom: 15%;
    }

    .membro2{
        margin-bottom: 15%;
    }

    .membro3{
        margin-bottom: 15%;
    }

    .membro4{
        margin-bottom: 15%;
    }

    .membro5{
        margin-bottom: 15%;
    }

    .membro6{
        margin-bottom: 15%;
    }

    .membro7{
        margin-bottom: 15%;
    }

    .membro9{
        margin-bottom: 15%;
    }

    .membro10{
        margin-bottom: 15%;
    }

    .membro11{
        margin-bottom: 15%;
    }

    .membro12{
        margin-bottom: 15%;
    }


    .membro13{
        margin-bottom: 15%;
    }


    .membro14{
        margin-top: 3%;
        margin-bottom: 15%;
    }

    .membro15{
        margin-top: 3%;
        margin-bottom: 15%;
    }

    .membro16{
        margin-bottom: 15%;
    }

    .membro17{
        margin-bottom: 15%;
    }

    .membro18{
        margin-bottom: 15%;
    }

    .membro19{
        margin-bottom: 15%;
    }

    .membro20{
        margin-bottom: 15%;
    }

    .membro21{
        margin-bottom: 15%;
    }

    .membro22{
        margin-bottom: 15%;
    }

    .membro23{
        margin-bottom: 15%;
    }

    .membro24{
        margin-top: 3%;
        margin-bottom: 15%;
    }

    .membro25{
        margin-top: 3%;
        margin-bottom: 15%;
    }

    .membro26{
        margin-bottom: 15%;
    }

    .membro27{
        margin-bottom: 15%;
    }

    .membro28{
        margin-bottom: 15%;
    }

    .membro29{
        margin-top: 3%;
        margin-bottom: 15%;
    }

    .membro30{
        margin-top: 3%;
        margin-bottom: 15%;
    }


    .membro31{
        margin-bottom: 15%;
    }


    .membro32{
        margin-bottom: 15%;
    }


    .membro33{
        margin-bottom: 15%;
    }


    .membro34{
        margin-bottom: 15%;
    }


    .membro35{
        margin-bottom: 15%;
    }







    .sottoi1500{
        display: block;

        .riquadroviola{
            height: 500px;
            width: screen;
            background-image: linear-gradient(130deg, #1E1B2C 0%, #5945BA 100%);
            margin: 0;
        }

        h1{
            width: 80%;
        }
        p{
            width: 80%;
        }

    }
}

@media screen and (max-width: 760px) {

    .soprai1500{
        display: none;
    }


    .sottoi1500{

    .riquadroviola{
        height: 600px;
    }
    }
}


@media screen and (max-width: 420px) {

    .soprai1500{
        display: none;
    }


    .sottoi1500{

    .riquadroviola{
        height: 700px;
    }
    }
}


@media screen and (max-width: 500px) {

    .riquadrobianco{
        display: none;
    }

    .riquadrobianco2{
        display: block;
    }

    .primorigo{
        justify-content: space-around;
        margin-top: 5%;
    }

    .secondorigo{
        margin-top: 5%;
        justify-content: space-around;
    }

    .terzorigo{
        margin-top: 5%;
        justify-content: space-around;
        margin-left: 0%;
    }

    .riquadro6{
        margin-left: 15%;
    }

    .quartorigo{
        margin-top: 5%;
        justify-content: space-around;
    }
}


@media screen and (max-width: 800px) {
.team2{
    margin-left: -10%;
    overflow-x: hidden;
}





.membro1{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro2{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro3{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro4{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro5{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro6{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro7{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro8{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}



.membro9{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro10{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro11{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro12{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


.membro13{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


.membro14{
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro15{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro16{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro17{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro18{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro19{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro20{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro21{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro22{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro23{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro24{
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro25{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro26{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro27{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro28{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro29{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}

.membro30{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


.membro31{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


.membro32{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


.membro33{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


.membro34{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}


.membro35{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}










}

.competenze{
    margin-top: 200px;
}


:host ::ng-deep .accordion{
    margin: 0 13%;
    .p-accordion {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 40px;
        .p-element {
            flex-basis: 30%;
        }
    }  
}



.certificazioni {
    font-size: 25px;
    margin-left: 13%;
    color: #2E2655;
    margin-top: 130px;
    font-weight: bolder;
    font-family: 'Segoe UI', Sans-serif;
    margin-bottom: 50px;
}


:host ::ng-deep .carousel1{
    .p-carousel-prev{
        margin-left: 10%;
        position: absolute;
    }
}

:host ::ng-deep .carousel1{
    .p-carousel-next{
       margin-left: 80%;
       position: absolute;
    }
}

.team2{
    height: 100%;
    width: screen;
    background-color: white;
    
}

:host ::ng-deep .p-carousel-items-content{
    width: 70%;
    margin-left: 12%;
}

:host ::ng-deep .p-carousel-container{
    margin-left: 2%;
}

.widget5{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.widget6{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.widget7{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.widget8{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}


.widget1{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}


.widget2{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.widget3{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}


.widget4{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 0.5%;
    margin-top: 0.5%;
}




@media screen and (max-width: 320px) {

    .soprai1500{
        display: none;
    }


    .sottoi1500{

    .riquadroviola{
        height: 800px;
    }
    }
}

@media screen and (max-width: 1850px) {
    .cerchi{
        justify-content: space-around;
        width: 75%;
        margin-left: 10%;
        margin-top: -2%;
        position: static;
        margin-right: 12%;
    }

}


@media screen and (max-width: 1800px) {
.cerchi{
    justify-content: space-around;
    width: 77%;
    margin-left: 10%;
    margin-top: -2%;
    position: static;
    margin-right: 12%;
}
}


@media screen and (max-width: 1700px) {
    .cerchi{
        justify-content: space-around;
        width: 79%;
        margin-left: 10%;
        margin-top: -2%;
        position: static;
        margin-right: 12%;
    }

}


@media screen and (max-width: 1600px) {
    .cerchi{
        justify-content: space-around;
        width: 81.5%;
        margin-left: 10%;
        margin-top: -2%;
        position: static;
        margin-right: 12%;
    }

}