
<div class="foot">
            
    <div class="flex">
    
    <p class="testofooter">TEL&CO S.r.l. - P.IVA 02487670362 &nbsp;&nbsp;&nbsp;Privacy | Cookie policy</p>
    
    <p class="testofooter2">Hai un progetto o un problema che possiamo affrontare insieme?</p>
    <div class="bottone">
    <button pButton class="p-button-rounded bottonefooter">Contattaci</button>
    </div>
    </div>
    </div>
    
    
    <div class="mobile">
    
        <div class="foot2">
            
            <p class="testofooter2">TEL&CO S.r.l. - P.IVA 02487670362</p>
    
            <p class="testofooterintermedio2">Privacy | Cookie policy</p>
            <p class="testofooter3">Hai un progetto o un problema che possiamo affrontare insieme?</p>
            <div class="bottone2">
            <button pButton class="p-button-rounded bottonefooter2">Contattaci</button>
            </div>
            </div>
    
    </div>
