
.mobile{
    display:none;
}

.testofooter{
    font-size: 13px;
    height: 65px;
    background-color: #2E2655;
    color: white;
    padding: 1.2%;
    padding-left: 5%;
    width: 1610px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Segoe UI", Sans-serif;
}

.testofooter2{
    height:65px;
    background-color: #2E2655;
    color: white;
    width: 1070px;
    padding-left: 6%;
    margin-top: 16px;
    padding-top: 1%;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Segoe UI", Sans-serif;
    font-weight: lighter;
}

.bottonefooter{
    margin-right: 10px;
    width: 80%;
    padding-top: 10px;
    margin-left: 10px;
    background-color:rgb(179, 233, 52);
    color: black;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px ;
    margin-bottom: 0px;

}

.bottonefooter:hover{
    background-color:rgb(179, 233, 52) !important;
    color: black;
}

.bottone{
    padding-right: 25px;
    margin-top: 16px;
    padding-top: 10px;
    height:65px;
    margin-left: -30px;
    background-color: #2E2655;
    margin-top: 0px;
    margin-bottom: 0px;
}


.foot{
    position:absolute;
    margin-top: 30px;
    margin-left:0;
    margin-right: 0;
    width: inherit;
}

@media screen and (max-width: 450px) {
    .bottonefooter2{
        left: -20px;
        height: 20px;
    }
}


@media screen and (min-width: 1625px) and (max-width: 1700px) {

 


    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 810px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 820px;
        padding-left:210px;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: -45px;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
        width: inherit;
    }

}


@media screen and (min-width: 1500px) and (max-width: 1550px) {
    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 900px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 750px;
        padding-left: 20px;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: -130px;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
        width: inherit;
    }

}


@media screen and (min-width: 1700px) and (max-width: 1800px) {

    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 1000px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 800px;
        padding-left: 50px;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: -170px;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
        width: inherit;
    }


}


@media screen and (min-width: 1800px) and (max-width: 1900px) {
    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 1000px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 800px;
        padding-left: 20px;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: -200px;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
        width: inherit;
    }

}



@media screen and (min-width: 1600px) and (max-width: 1625px) {


    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 780px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 740px;
        padding-left:190px;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 110px;
        padding-top: 10px;
        margin-left: 10px;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
        width: inherit;
    }

}


@media screen and (min-width: 1550px) and (max-width: 1600px) {
   

.testofooter{
    font-size: 13px;
    height: 65px;
    background-color: #2E2655;
    color: white;
    padding: 1.2%;
    padding-left: 5%;
    width: 850px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Segoe UI", Sans-serif;
}

.testofooter2{
    height:65px;
    background-color: #2E2655;
    color: white;
    width: 750px;
    padding-left: 70px;
    margin-top: 16px;
    padding-top: 1%;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Segoe UI", Sans-serif;
    font-weight: lighter;
}

.bottonefooter{
    margin-left: -130px;
    width: 120px;
    padding-top: 10px;
    background-color:rgb(179, 233, 52);
    color: black;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.bottonefooter:hover{
    background-color:rgb(179, 233, 52) !important;
    color: black;
}





.bottone{
    padding-right: 25px;
    margin-top: 16px;
    padding-top: 10px;
    height:65px;
    margin-left: -30px;
    background-color: #2E2655;
    margin-top: 0px;
    margin-bottom: 0px;
}


.foot{
    position:absolute;
    margin-top: 30px;
    margin-left:0;
    margin-right: 0;
    width: inherit;
}

}

@media screen and (max-width: 1500px) {

    .mobile{
        display: block;
    }
 .foot2{
     margin-top: 40px;
     height: 160px;
     background-color: #2E2655;
     width: screen;
     bottom: 0;
 }

 .testofooter2{
    text-align: center;
    width: auto;
     font-weight: 400;
     font-size: 15px;
     font-family: "Segoe UI", Sans-serif;
 }

 .testofooterintermedio2{
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    color: white;
    margin-top: -35px;
    font-family: "Segoe UI", Sans-serif;
 }

 .testofooter3{
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    color: white;
    font-family: "Segoe UI", Sans-serif;
 }

 .foot{
     display: none;
 }

 .bottonefooter2{
     margin-left: 47%;
     background-color:rgb(179, 233, 52);
     color: black;
 }

 .bottonefooter2:hover{
    background-color:rgb(179, 233, 52) !important;
    color: black;
}

}

@media screen and (max-width: 780px) {
.bottonefooter2{
    margin-left: 40%;
    background-color:rgb(179, 233, 52);
    color: black;
}

.bottonefooter2:hover{
    background-color:rgb(179, 233, 52) !important;
    color: black;
}

}



@media screen and (min-width: 1820px) and (max-width: 1900px) {

    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 1050px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 850px;
        padding-left: 100px;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: -170px;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
    }


}



@media screen and (min-width: 1900px) and (max-width: 2000px) {

    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 1200px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 900px;
        padding-left: 80px;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: -180px;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
    }

}


@media screen and (min-width: 2000px) and (max-width: 9999999) {

    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 1800px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 1400px;
        padding-left: 20%;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: 0%;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
    }

}


@media screen and (min-width: 2300px) and (max-width: 2800px) {
    .testofooter{
        font-size: 13px;
        height: 65px;
        background-color: #2E2655;
        color: white;
        padding: 1.2%;
        padding-left: 5%;
        width: 1800px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
    }
    
    .testofooter2{
        height:65px;
        background-color: #2E2655;
        color: white;
        width: 1400px;
        padding-left: 15%;
        margin-top: 16px;
        padding-top: 1%;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "Segoe UI", Sans-serif;
        font-weight: lighter;
    }
    
    .bottonefooter{
        margin-right: 10px;
        width: 120px;
        padding-top: 10px;
        margin-left: 0%;
        background-color:rgb(179, 233, 52);
        color: black;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px ;
        margin-bottom: 0px;
    
    }
    
    .bottonefooter:hover{
        background-color:rgb(179, 233, 52) !important;
        color: black;
    }
    
    
    
    
    
    .bottone{
        padding-right: 25px;
        margin-top: 16px;
        padding-top: 10px;
        height:65px;
        margin-left: -30px;
        background-color: #2E2655;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    
    .foot{
        position:absolute;
        margin-top: 30px;
        margin-left:0;
        margin-right: 0;
    }
}