
<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Nelle aziende più piccole, raramente viene dedicato del personale alla gestione e risoluzione dei problemi informatici quotidiani, quasi mai troviamo un responsabile IT che si occupi della gestione e manutenzione del sistema informativo.</p>

    <p class="p2">Questo porta a blocchi frequenti dei sistemi IT con relativa frustrazione degli utenti che non possono lavorare in modo produttivo.  L’assenza di aggiornamenti e di una costante manutenzione e con i tentativi di intrusione e di attacco dall’esterno che sono sempre più frequenti, portano a forti rischi sulla sicurezza aziendale.</p>

    <p class="p3">Il nostro servizio di gestione completa dell’infrastruttura informatica è pensato proprio per queste aziende: il nostro team di esperti può controllare in modo continuativo il  regolare funzionamento dei tuoi dispositivi informatici ed occuparsi anche di quegli apparati che richiedono competenze di alto livello come i Firewall ed i sistemi di sicurezza e di backup.</p>

      <div class="divicone flex">



        

        <p-tabView>
          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-postazioniFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Postazioni'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Server'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-backupFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Backup'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-networkFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Network e sicurezza'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-voipFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'VOIP'"></app-icone>
          </p-tabPanel>

      </p-tabView>   

        </div>


</div>

<h1>La gestione del tuo network all’insegna della sicurezza</h1>

<p class="p4">Le reti aziendali sono costantemente sotto attacco: è fondamentale approntare le giuste protezioni, tipicamente dispositivi firewall, collegamenti criptati VPN, sistemi antivirus e di condivisione sicura dei dati.</p>


<p class="p5">La scelta adeguata della soluzione da installare e la corretta implementazione e collaudo rappresentano solo l’inizio del percorso per una adeguata protezione in azienda: il network aziendale viene infatti violato solitamente sfruttando falle di dispositivi di sicurezza, di soluzioni software di comunicazione e collaborazione che, se pur validi e performanti al momento dell’acquisto, non vengono più aggiornati e manutenuti nel tempo. </p>

<h2>IL NOSTRO SERVIZIO</h2>

<p class="p6">Per questo noi di TEL&CO abbiamo pensato il servizio di gestione del network dei nostri clienti, particolarmente utile a quelle imprese che non hanno personale dedicato a manutenere e verificare correttamente i sistemi di sicurezza, come i firewall UTM, gli access point wireless, componenti critiche e che richiedono competenze qualificate e verticali. </p>


<div class="riquadroazzurro2">

    <div class="flex">
        <div class="sinistra">
        <h1>I NOSTRI VANTAGGI</h1>
        <br>
        
        <div class="flex uno">
        <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
        <p-accordion>
          <p-accordionTab header="COMPETENZE CERTIFICATE">
          <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
            Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
            Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
          </p-accordionTab>
        </p-accordion>
        </div>
        
        
        <div class="flex due">
          <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-628.svg">
          <p-accordion>
            <p-accordionTab header="CONTINUITA'">
        <p>Garantiamo alle aziende assistenza continuativa indipendentemente dai periodi di ferie, malattia e corsi di aggiornamento del nostro personale:
            non  contrattualizziamo infatti una singola risorsa, ma definiamo un pool di tecnici intercambiabili con competenze adeguate rispetto all’architettura ed alle configurazioni specifiche di ogni cliente. Interveniamo ove necessario per sostituzioni del personale dei nostri clienti, in caso di pensionamento o  fuoriuscita di una risorsa  IT.</p>
        </p-accordionTab>
        </p-accordion>
        </div>
        
        
        
        <div class="flex tre">
          <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-638.svg">
          <p-accordion>
            <p-accordionTab header="PREVENZIONE">
        <p>Supervisioniamo tutte le infrastrutture informatiche dei nostri clienti  sono monitorati da un sistema automatico e continuo. Attraverso il monitoraggio continuo e garantito ci attiviamo prima di un evento bloccante, appena un potenziale problema viene rilevato.</p> 
        </p-accordionTab>
        </p-accordion>
        </div>
        
        <div class="flex quattro">
          <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
          <p-accordion>
            <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
        <p>Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.</p>
        </p-accordionTab>
        </p-accordion>
        </div>

        <div class="flex cinque">
            <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-639.svg">
            <p-accordion>
              <p-accordionTab header="PROTEZIONE COMPLETA">
          <p>La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p>
          </p-accordionTab>
          </p-accordion>
          </div>

        </div>
       
        <div class="destra">
          <h1>AREE DI INTERVENTO</h1>
          <br>
        
        
          <p-accordion>
            <p-accordionTab header="NETWORK">
              <p>L’operatività di una azienda dipende in maniera determinante dalla sua rete: in caso di malfunzionamenti, le conseguenze possono essere svariate. Diventa quindi fondamentale che i collegamenti vengano correttamente implementati e testati.</p>
              <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
          </p-accordion>
          
        
          <p-accordion>
            <p-accordionTab header="SICUREZZA">
        <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
        <button class="bottone">Scopri di più</button>  
        </p-accordionTab>
        </p-accordion>
        
        
        <p-accordion>
          <p-accordionTab header="INTERNET E TELEFONIA">
            <p>Supportiamo le aziende nella scelta del provider migliore, con il giusto rapporto qualità/prezzo e per creare le condizioni necessarie per garantire la business continuity.</p>
            <button class="bottone">Scopri di più</button>  
          </p-accordionTab>
        </p-accordion>
        

    </div>
        </div>

</div>


<h3>Certificazioni</h3>
<app-carousel></app-carousel>