
<div class="desktop">
    <div class="formattazione">
        <h2 class="titolop">La consapevolezza di operare in un territorio unico</h2>

        <p class="primap">Lavorare sul territorio significa per noi operare anche per il bene della comunità, in tutte le sue forme. Contribuiamo quindi a diverse iniziative che consentono al nostro territorio di conservare la propria unicità, le tradizioni e la coesione che da sempre ci caratterizza. Supportiamo da diversi anni il Sandrone e la Famiglia Pavironica, affiancandoli con il sito internet e sponsorizzando il Giornalino del Sandrone. Oltre a ciò, abbiamo contribuito a diversi eventi e iniziative benefiche e di raccolta fondi, partecipando tra le altre cose all’acquisto di un’ambulanza per le assistenze domiciliari.</p>
        
        
        
    <div class="flex-1 flex flex-wrap contenitoreciclocard">
       
        <div *ngFor="let item of news; index as i;" class="ciclocard">
    
           
            <p-card class="cardnews">
    
                <app-unavviso [immagine]="item._embedded['wp:featuredmedia'][0].source_url" [titolo] = "item.title.rendered" [descrizione] = "item.excerpt.rendered.slice(3, 100)" [data] = "item._embedded['wp:featuredmedia'][0].date.slice(0 , -9)" [bottone] = "item._embedded['wp:term'][0][0].name"></app-unavviso>
    
               
            </p-card>
            <br>
        </div>
        </div>
    </div>
    </div>
    
    <div class="mobile">
      
        
        <div class="spaziocard">
            <h2 class="titolop">La consapevolezza di operare in un territorio unico</h2>

            <p class="primap">Lavorare sul territorio significa per noi operare anche per il bene della comunità, in tutte le sue forme. Contribuiamo quindi a diverse iniziative che consentono al nostro territorio di conservare la propria unicità, le tradizioni e la coesione che da sempre ci caratterizza. Supportiamo da diversi anni il Sandrone e la Famiglia Pavironica, affiancandoli con il sito internet e sponsorizzando il Giornalino del Sandrone. Oltre a ciò, abbiamo contribuito a diversi eventi e iniziative benefiche e di raccolta fondi, partecipando tra le altre cose all’acquisto di un’ambulanza per le assistenze domiciliari.</p>
            
    <div *ngFor="let item of news; index as i;" class="ciclocard2">
    
    
        <p-card class="cardnews2">
            <app-unavviso [immagine]="item._embedded['wp:featuredmedia'][0].source_url" [titolo] = "item.title.rendered" [descrizione] = "item.excerpt.rendered.slice(3, 130)" [data] = "item._embedded['wp:featuredmedia'][0].date.slice(0 , -9)" [bottone] = "item._embedded['wp:term'][0][0].name"></app-unavviso>
    
            <!-- <img src="{{item._embedded['wp:featuredmedia'][0].source_url}}" alt="" class="immaginecard">
            <p class="titolo">{{item.title.rendered}}</p>
            {{item.excerpt.rendered.slice(3, 130)}}
            <ng-template pTemplate="footer">
                <div class="flex-1 flex spazio">
                    <p class="data">{{item._embedded['wp:featuredmedia'][0].date.slice(0 , -9)}}</p>
                    <button pButton class=" p-button-rounded bottonenews">{{item._embedded['wp:term'][0][0].name}}</button>
                </div>
            </ng-template> -->
        </p-card>
        <br>
    </div> 
    </div>
    </div>