<div class="flex newseavvisicard">
    <p-card class="pcard1">
        <div class="numerouno">



            <app-unavvisopernewscomponents [immagine]="'assets/images/image1.jpg'" [titolo]="'Cybersecurity: non dimenticare di difendere la tua Azienda.'" [descrizione] ="'In questi ultimi giorni è tornato prepotentemente sotto i riflettori il tema della cybersecurity: le notizie riportano di attacchi informatici'" [data] = "'10 Marzo 2022'" [categoria]="'soluzioni'" [coloreCategoria]="'AAC711'"></app-unavvisopernewscomponents>

            <!-- <img class="imm" src="./assets/images/image1.jpg">
            <div class="padding">
                <p class="testouno">Cybersecurity: non dimenticare di difendere la tua Azienda</p>
                <p class="testouno_2">In questi ultimi giorni è tornato prepotentemente sotto i riflettori <br>
                    il tema
                    della cybersecurity: le notizie riportano di attacchi informatici</p>

                <div class="flex spazio">

                    <p class="primap">10 Marzo 2022</p>
                    <button pButton class="p-button-secondary p-button-rounded bottone1">Soluzioni</button>

                </div>

            </div> -->
        </div>
    </p-card>


    <p-card class="pcard2">
        <div class="numerodue">

            <app-unavvisopernewscomponents [immagine]="'assets/images/image2.png'" [titolo]="'Conosci il valore dei tuoi dati personali?'" [descrizione] ="'Cybersecurity: non dimenticare di difendere la tua Azienda. In questi ultimi giorni è tornato prepotentemente sotto i riflettori il tema della cybersecurity: le notizie riportano di attacchi informatici'" [data] = "'10 Marzo 2022'" [categoria]="'soluzioni'" [coloreCategoria]="'AAC711'"></app-unavvisopernewscomponents>


            <!-- <img class="imm" src="./assets/images/image2.png">
            <div class="padding">
                <p class="testouno">Conosci il valore dei tuoi dati personali?</p>
                <p class="testouno_2">Quanto possono arrivare a costare i nostri dati <br> personali rubati?</p>

                <div class="flex spazio">
                    <p class="secondap">14 Febbraio 2022</p>
                    <button pButton class="p-button-secondary p-button-rounded bottone2">Servizi</button>
                </div>

            </div> -->
        </div>
    </p-card>



    <p-card class="pcard3">
        <div class="numerotre">

            <app-unavvisopernewscomponents [immagine]="'assets/images/image3.jpg'" [titolo]="'Vulnerabilità critica: a rischio i server Windows'" [descrizione] ="'È soprannominata “PrintNightmare”: una nuova vulnerabilità, chiamata CVE-2021-1675.'" [data] = "'14 Febbraio 2022'" [categoria]="'news'" [coloreCategoria]="'efd906'" ></app-unavvisopernewscomponents>

            <!-- <img class="imm" src="./assets/images/image3.jpg">
            <div class="padding">
                <p class="testouno">Vulnerabilità critica: a rischio i server Windows</p>
                <p class="testouno_2">È soprannominata “PrintNightmare”: una nuova <br> vulnerabilità, chiamata
                    CVE-2021-1675.</p>

                <div class="flex spazio">
                    <p class="terzap">14 Febbraio 2022</p>
                    <button pButton class="p-button-secondary p-button-rounded bottone3">News</button>
                </div>

            </div> -->
        </div>
    </p-card>
</div>