

<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Nelle aziende più piccole, raramente viene dedicato del personale alla gestione e risoluzione dei problemi informatici quotidiani, quasi mai troviamo un responsabile IT che si occupi della gestione e manutenzione del sistema informativo.</p>

    <p class="p2">Questo porta a blocchi frequenti dei sistemi IT con relativa frustrazione degli utenti che non possono lavorare in modo produttivo.  L’assenza di aggiornamenti e di una costante manutenzione e con i tentativi di intrusione e di attacco dall’esterno che sono sempre più frequenti, portano a forti rischi sulla sicurezza aziendale.</p>

    <p class="p3">Il nostro servizio di gestione completa dell’infrastruttura informatica è pensato proprio per queste aziende: il nostro team di esperti può controllare in modo continuativo il  regolare funzionamento dei tuoi dispositivi informatici ed occuparsi anche di quegli apparati che richiedono competenze di alto livello come i Firewall ed i sistemi di sicurezza e di backup.</p>

      <div class="divicone flex">




        <p-tabView>
          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-postazioniFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Postazioni'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Server'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-backupFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Backup'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-networkFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Network e sicurezza'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-voipFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'VOIP'"></app-icone>
          </p-tabPanel>

      </p-tabView>   
        </div>


</div>



<h1>L’importanza del backup</h1>

<p class="p4">I <strong>dati rappresentano il vero patrimonio della azienda</strong> e devono essere correttamente gestiti, tutelati ed archiviati.
    Spesso le PMI non dedicano tempo e risorse sufficienti alle attività di <strong>verifica della consistenza dei propri dati ed al corretto funzionamento dei sistemi di archiviazione e di backup</strong>.
    Spesso capita di <strong>dover recuperare dei dati importanti</strong>: in queste circostanze può succedere di rendersi conto che <strong>il sistema di backup</strong>, ritenuto fino a quel momento funzionante perché testato in fase di installazione, <strong>non è più effettivamente operativo</strong> e non sta effettuando le copie da molto tempo: questo può avere delle <strong>conseguenze potenzialmente disastrose</strong> per la continuità dell’impresa che può trovarsi nella condizione di non riuscire a ritrovare dati importanti per ricostruire informazioni fondamentali.</p>

    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p5">Il nostro servizio di gestione dei backup è fondamentale per quelle imprese che non hanno personale dedicato a manutenere e verificare correttamente i sistemi di salvataggio ed archiviazione dei dati, componente critico ed insieme essenziale. che richiede competenze specifiche di livello più alto rispetto alla normale gestione delle postazioni di lavoro.</p>

    <p class="p6">Il <strong>nostro apporto qualificato</strong> consente di <strong>anticipare l’insorgere di problemi bloccanti</strong> o situazioni critiche, grazie al <strong>nostro sistema di monitoraggio</strong> attivo 24 ore su 24 e 7 giorni su 7, che <strong>notifica il supporto tecnico</strong> all’insorgere dei problemi, anticipandone la <strong>risoluzione da remoto o onsite</strong> senza condizionare l’operatività degli utenti.</p>

    <p class="p7">Forniamo a corredo <strong>reportistica dettagliata</strong> di tutte le attività di monitoraggio, gestione e aggiornamento dei backup, che condividiamo con i responsabili dell’azienda per un <strong>approccio trasparente e affidabile</strong>.</p>

    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
                Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
                Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="FOCUS SUL BUSINESS">
            <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-638.svg">
              <p-accordion>
                <p-accordionTab header="PREVENZIONE">
            <p>Supervisioniamo tutte le infrastrutture informatiche dei nostri clienti  sono monitorati da un sistema automatico e continuo. Attraverso il monitoraggio continuo e garantito ci attiviamo prima di un evento bloccante, appena un potenziale problema viene rilevato.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
            
            <div class="flex quattro">
              <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
              <p-accordion>
                <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
            <p>Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
    
            <div class="flex cinque">
                <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-639.svg">
                <p-accordion>
                  <p-accordionTab header="PROTEZIONE COMPLETA">
              <p>La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p>
              </p-accordionTab>
              </p-accordion>
              </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="BACKUP E DISASTER RECOVERY">
                  <p>Sappiamo che i dati informatici sono sempre più a rischio e occorre fare il necessario per proteggerli e per consentire la continuità operativa all’azienda.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="SICUREZZA">
            <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="MAIL E PEC">
                <p>Le caselle di posta elettronica sono uno strumento essenziale di comunicazione interna verso gli altri colleghi, che per quella verso l’esterno, per gli ordinari scambi con partner, clienti, fornitori, collaboratori.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            
        </div>
            </div>

    </div>
