<div class="riquadroverde">

    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Ogni giorno progettiamo, implementiamo e supportiamo le aziende nella <strong>gestione delle architetture IT</strong> su cui si basano i sistemi informativi.</p>

    <p class="p2">La nostra è un’attività di tipo sartoriale e prevede un‘<strong>analisi preliminare</strong> delle specifiche necessità delle aziende, per fornire un <strong>progetto con adeguati livelli di affidabilità, scalabilità, sicurezza dei dati</strong> e con un costo operativo concorrenziale.</p>

    <p class="p3">In base alle specifiche esigenze, proponiamo quindi le soluzioni più adatte, dalle infrastrutture tradizionali basate su <strong>server hardware</strong> fisico, a quelle <strong>virtualizzate</strong> con uno o più server, <strong>cluster o alta affidabilità, SAN</strong>.</p>

    <p class="p4">Progettiamo infrastrutture <strong>iperconvergenti</strong> ed in <strong>cloud</strong>, supportati dai migliori provider di servizi come <strong>Amazon Web Services, Microsoft Azure e Google Cloud Platform</strong>.</p>



    <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinalGreen.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Server Hardware'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-virtualizzazioneFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Virtualizzazione'"></app-icone>
            </p-tabPanel>
    
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-iperconvFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Iperconvergenza'"></app-icone>
            </p-tabPanel>
    
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-cloudFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Server in Cloud'"></app-icone>
            </p-tabPanel>
    
        </p-tabView>
    
    
    </div>
</div>


    <h1>Server Hardware</h1>

<p class="p5">Un’infrastruttura IT tradizionale basata su server hardware fisico installato in azienda è una delle configurazioni più classiche, anche se la tendenza è quella di dotarsi di <strong>infrastrutture virtualizzate</strong> per una maggiore <strong>semplicità</strong> di gestione a parità di <strong>sicurezza operativa</strong>.</p>
<p class="p6">Per implementare una soluzione che sia correttamente dimensionata, affidabile e semplice da gestire nel tempo, occorre fare diverse valutazioni: partendo dall’<strong>analisi delle esigenze e del contesto aziendale</strong>, occorre raccogliere le <strong>necessità prestazionali</strong>, considerare le possibili <strong>evoluzioni future</strong>, ragionare sull’affidabilità e la <strong>continuità del servizio.</strong> </p>
<p class="p7">Le <strong>valutazioni di ordine tecnico</strong> richiedono approfondimenti a livello di configurazione, per capire se dotarsi di <strong>server tower o rack</strong>, quanti e quali <strong>processori</strong> e quanti <strong>core</strong>, memoria <strong>RAM, storage</strong> basato su dischi <strong>SATA, SAS, SSD</strong> o NVM e con che livello di <strong>sicurezza RAID</strong>, porte di rete GBit/10 GBit, <strong>sistemi di monitoraggio e di assistenza da remoto</strong> iDRAC o iLO, numero di alimentatori. In tutto ciò, è necessario valutare <strong>quali prodotti scegliere</strong> in base alle migliori offerte del mercato e alle garanzie di assistenza necessarie.</p>

<p class="p8">Una volta definiti architettura e strumenti necessari, si passa all’<strong>implementazione vera e propria: installazione, configurazione e collaudo</strong> sono passaggi fondamentali che, se accompagnati dalle dovute verifiche, garantiscono affidabilità della soluzione nel tempo, che deve essere consolidata costantemente da una <strong>gestione puntuale e monitoraggio delle attività necessarie</strong>, programmando per tempo gli <strong>aggiornamenti server</strong>, dei <strong>sistemi operativi</strong> e delle <strong>componenti di sicurezza, prevedendo ove necessario dei test di disaster recovery e le corrette strategie di backup</strong>.</p>

<h2>LA NOSTRA SOLUZIONE</h2>

<p class="p9">Noi di TEL&CO siamo prima di tutto partner a fianco delle aziende: ogni giorno offriamo <strong>consulenza certificata per valutare ogni aspetto dell’infrastruttura</strong>, con l’obiettivo di arrivare ad una scelta corretta e consapevole.</p>

<p class="p10">TEL&CO ha sviluppato <strong>da oltre 20 anni competenze specifiche</strong> nella implementazione e gestione delle infrastrutture Server ed ha <strong>sistemisti certificati</strong> sui principali sistemi operativi server e ambienti di virtualizzazione.</p>

<p class="p11">In qualità di <strong>Gold Partner Microsoft</strong>, siamo nelle condizioni di supportare con competenza le organizzazioni di qualunque dimensione; oltre a ciò, <strong>la partnership diretta</strong> con tutti i maggiori produttori informatici ci consente una <strong>proposta neutrale</strong> scegliendo tra i migliori brand come <strong>Dell, HP, Lenovo, iXSystems</strong>.</p>

<div class="gliaccordion">
<p-accordion>
    <span class="piuaccordion">&#43;</span>
    <p-accordionTab header="Microsoft Gold Partner">
        <div class="flex">
            <div>
        <p class="p12"><strong>TEL&CO è Gold Partner Microsoft e può supportare con competenza le organizzazioni di qualunque dimensione.</strong></p>
        <p class="p13">Siamo specializzati nella fornitura delle più recenti soluzioni basate sulla tecnologia Microsoft: ogni giorno aiutiamo i nostri clienti a <strong>sfruttare la piattaforma in cloud di Microsoft</strong> in tutte le sue potenzialità, valutando attentamente gli obiettivi specifici ed identificando la migliore soluzione per <strong>aiutare le aziende a diventare più agili ed efficienti</strong>, ottimizzando i processi che disperdono energie e risorse.
            Siamo a tua disposizione per una <strong>consulenza su misura</strong> per analizzare le tue esigenze proporti una  soluzione basata sullo sviluppo e configurazione delle applicazioni e sistemi operativi Microsoft.</p>
        </div>
            <img src="../../../assets/images/GOLD-300x111-1.png" alt="" class="primaimmagineaccordion">
        </div>
        </p-accordionTab>
</p-accordion>


<p-accordion>
    <span class="piuaccordion">&#43;</span>
    <p-accordionTab header="DELL">
        <div class="flex">
        <div>
        <p class="p12">TEL&CO è un <strong>Partner Dell</strong> con competenze <strong>IT Solution Provider</strong> e può fornire la gamma completa di soluzioni Server e infrastrutture, ampiamente personalizzabili e con un supporto di assistenza tecnica eccezionale direttamente presso le sedi delle aziende. Il rapporto diretto con Dell, consente di offrire ai clienti <strong>i prezzi più competitivi del mercato</strong>.</p>
    </div>
        <img src="../../../assets/images/Dell_EMC_AP.png" alt="">
    
    </div>
    </p-accordionTab>
</p-accordion>


<p-accordion>
    <span class="piuaccordion">&#43;</span>
    <p-accordionTab header="HP">
        <div class="flex">
        <div>
        <p class="p12">HP ha una gamma estremamente completa di soluzioni Server e infrastrutture, ampiamente personalizzabili e con un ottimo supporto di assistenza tecnica direttamente presso le sedi delle aziende. Il rapporto diretto con HP, consente di offrire ai clienti i prezzi più competitivi del mercato.</p>
    </div>
   <img src="../../../assets/images/Business_Partner-300x137-1.png" alt="">
    </div>
    </p-accordionTab>
</p-accordion>


<p-accordion>
    <span class="piuaccordion">&#43;</span>
    <p-accordionTab header="LENOVO">
        <div class="flex">
        <div>
        <p class="p12">Lenovo offre un portfolio completo di  servizi e soluzioni per data center e infrastrutture smart in tutto il mondo.
            TEL&CO ha la partnership con Lenovo per garantire le competenze sia nelle soluzioni Server infrastrutturali, sia in quelle relative alle postazioni di lavoro da tavolo e portatili.
            Il rapporto diretto con Lenovo, consente di offrire ai clienti i prezzi più competitivi del mercato.</p>
        </div>
    <img src="../../../assets/images/Lenovo-Partner-Emblem-Infrastructure-Solutions-Partner-Authorized.png" alt="" class="immaginelenovo">
        </div>
        </p-accordionTab>
</p-accordion>


<p-accordion>
    <span class="piuaccordion">&#43;</span>
    <p-accordionTab header="iXsystem">
        <div class="flex">
            <div>
        <p class="p12">TEL&CO è Partner Autorizzato di iXsystem e può affiancare le aziende italiane nella analisi, implementazione e supporto di progetti di Storage ed archiviazione di classe Enterprise Mission-Critical</p>
    </div>
        <img src="../../../assets/images/Authorized-partner-iXSystem-768x595.png" alt="" class="immaginesystems">
   
    </div>
    </p-accordionTab>
</p-accordion>
</div>

<div class="riquadroverde2">

<div class="flex">

    <div class="sinistra">
        <h1>I NOSTRI VANTAGGI</h1>

        <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
          <p class="primotestoasinistra">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
            Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
            Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex due">
            <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="CONVENIENZA">
          <p class="secondotestoasinistra">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex tre">
            <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
            <p-accordion>
              <p-accordionTab header="FOCUS SUL BUSINESS">
          <p class="terzotestoasinistra">Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
            Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex quattro">
            <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
            <p-accordion>
              <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
          <p class="quartotestoasinistra">Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex cinque">
            <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-639.svg">
            <p-accordion>
              <p-accordionTab header="PROTEZIONE TOTALE">
          <p class="quintotestoasinistra">La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

    </div>

    <div class="destra">

        <h1>SERVIZI CORRELATI</h1>

            <p-accordion>
                <div class="flex">
                    <span>&#43;</span>
              <p-accordionTab header="SERVIZI SISTEMISTICI">
            <div>
          <p>Il nostro team di esperti è a disposizione per tutte le attività di supporto alla gestione delle infrastrutture informatiche in azienda, in modo da garantire continuità ed un corretto funzionamento dei sistemi informatici.</p> 
          <button class="bottone">Scopri di più</button>
        </div>
        </p-accordionTab>
                </div>
          </p-accordion>


          <p-accordion>
              <div class="flex">
            <span>&#43;</span>
            <p-accordionTab header="GESTIONE INFRASTRUTTURE">
                <div>
        <p>Il server oggi è il fulcro informativo di un’azienda, rappresenta davvero la linfa vitale dei processi e deve lavorare al massimo delle sue potenzialità: per fare ciò, è fondamentale prestare attenzione ai componenti chiave.</p> 
        <button class="bottone">Scopri di più</button>
    </div>
      </p-accordionTab>
              </div>
        </p-accordion>



        <p-accordion>
            <div class="flex">
                <span>&#43;</span>
            <p-accordionTab header="SUPPORTO A IT MANAGER">
                <div>
        <p>Il servizio di monitoraggio dei Server consente di anticipare l’insorgenza di problemi bloccanti o situazioni critiche, tramite un sistema che allerta in modo automatico i responsabili IT.</p> 
        <button class="bottone">Scopri di più</button>
    </div>
      </p-accordionTab>
            </div>
        </p-accordion>



        <p-accordion>
            <div class="flex">
                <span>&#43;</span>
            <p-accordionTab header="RECUPERO DATI">
                <div>
        <p>Una delle grandi preoccupazioni è la perdita di dati importanti per colpa di un’interruzione di corrente o di un danno fisico all’hard disk, ma questa può non essere definitiva.</p> 
        <button class="bottone">Scopri di più</button>
    </div>
      </p-accordionTab>
            </div>
        </p-accordion>



        <p-accordion>
            <div class="flex">
                <span>&#43;</span>
            <p-accordionTab header="PREVENZIONE">
                <div>
        <p>Ogni giorno i nostri tecnici si occupano di progettare tutte quelle precauzioni in grado di mettere al sicuro l’infrastruttura aziendale dei nostri clienti dagli imprevisti più comuni.</p> 
        <button class="bottone">Scopri di più</button>
    </div>
      </p-accordionTab>
            </div>
        </p-accordion>



        <p-accordion>
            <div class="flex">
                <span>&#43;</span>
            <p-accordionTab header="FORMAZIONE">
                <div>
        <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p> 
        <button class="bottone">Scopri di più</button>
    </div>
      </p-accordionTab>
            </div>
        </p-accordion>



        <p-accordion>
            <div class="flex">
                <span>&#43;</span>
            <p-accordionTab header="AGEVOLAZIONI E CREDITO D'IMPOSTA">
                <div>
        <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. </p> 
        <br>
        <p>Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</p>
        <button class="bottone">Scopri di più</button>
    </div>
      </p-accordionTab>
            </div>
        </p-accordion>



        <p-accordion>
            <div class="flex">
                <span>&#43;</span>
            <p-accordionTab header="LOCAZIONE OPERATIVA">
                <div>
        <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p> 
        <button class="bottone">Scopri di più</button>
    </div>
      </p-accordionTab>
            </div>
        </p-accordion>


    </div>


</div>
<hr>
</div>


<h3>Certificazioni</h3>
<app-carousel></app-carousel>