
<div class="riquadroverde">

    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Siamo a tua disposizione per una consulenza sugli strumenti di lavoro: postazioni PC Windows e Apple Mac e dispositivi Mobili Android o Apple iOS che possiamo integrare tra loro e fornire tutto il supporto tecnico nel tempo.</p>

    <p class="p2">Con la diffusione del lavoro in mobilità ed Agile (smart working) ci siamo specializzati nelle soluzioni di collaborazione, videoconferenza e apparecchiture da sala riunione, che consentono di semplificare il lavoro in team. </p>

    <p class="p3">Possiamo inoltre consigliarti le migliori periferiche di stampa, sia di etichette per gli ambienti industriali, sia per l’ufficio e i reparti grafici.</p>

    <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-pcFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'PC'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-appleFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Apple'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-mobileFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Mobile'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-videoconferenzaFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Videoconferenza'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-pcFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Stampanti'"></app-icone>
            </p-tabPanel>
           
    
    
        </p-tabView>
    
    
    </div>

</div>

<h1>Le postazioni di lavoro degli utenti</h1>

<p class="p4">Scegliere una postazioni di lavoro, computer fisso o notebook, può sembrare un aspetto banale e che può essere deciso all’ultimo momento.
    Possono essere corrette delle valutazioni apparentemente in contrasto tra loro. Ti poniamo alcune domande, chiedendoti se per la tua azienda hai una risposta chiara ed univoca:</p>

<p class="p5">Per la tua situazione, sono più adatti i computer fissi da tavolo o i computer portatili ?
    Nella tua azienda pensi che sia più conveniente sfruttare i dispositivi fino a quando non si guastano oppure pianifichi di sostituirli a cadenze fisse, anche se sono ancora performanti ?
    Preferisci scegliere postazioni simili per tutti gli utenti oppure lasci libertà all’utente di scegliere la piattaforma e tipologia, ad esempio Notebook o Desktop oppure Windows o Apple Mac ?
    Scegli il prodotto che ha il prezzo più basso al momento della necessità, o fai valutazioni differenti. 
    Credi che i computer abbia senso comprarli ? O noleggiarli con una locazione operativa o con un Leasing ?</p>

    <p class="p6">Se ti interessa un confronto anche su  uno qualunque dei punti sopra riportati, rivolgiti pure a noi!
        Abbiamo un approccio consulenziale e agnostico alla scelta delle migliori soluzioni, non condizionato da esigenze di tipo commerciale e contingente.</p>

<p class="p7">I nostri servizi di consulenza e sistemistici sono rivolti ad aziende di ogni dimensione: dalle PMI italiane con pochi utenti, alle multinazionali.
    Abbiamo delle competenze importanti e che possiamo condividere con te per i settori di produzione meccanica, biomedicale e manifatturiero.</p>

<h2>LA NOSTRA SOLUZIONE</h2>

<p class="p8">In TEL&CO ci occupiamo a 360° della sicurezza del parco macchine dei nostri clienti, controllando tutti i dispositivi connessi alla rete stampanti comprese, che possono rappresentare un punto debole di accesso per gli hacker. Ci assicuriamo che i dati dei dispositivi connessi alle reti siano crittografati e le macchine dei nostri clienti sempre aggiornate, eliminando le vulnerabilità intercettate dalla casa madre e messe a disposizione dei nostri tecnici sotto forma di aggiornamenti e patch di sistema.</p>

<p class="p9">Grazie ad un efficace meccanismo di controllo degli accessi, evitiamo documenti dimenticati nei vassoi e garantiamo la totale sicurezza delle informazioni sensibili. Oltre a ciò, programmiamo per i nostri clienti l’invio dei consumabili in anticipo rispetto alla loro naturale usura, evitando così fermi macchina e perdita di tempo nell’ordine dei ricambi necessari.</p>

<p class="p10">Il nostro servizio di Help Desk è a completa disposizione per ogni problema imprevisto relativo alle stampanti: interveniamo tempestivamente scongiurando blocchi operativi ed intercedendo con il produttore quando necessario, perché la nostra priorità è non lasciar mai soli i nostri clienti.</p>

<p class="p11">Per la fornitura delle stampanti e multifunzioni da produzione e da ufficio collaboriamo con Zerosystem, che è specializzata nella assistenza tecnica dei dispositivi di stampa a costo copia.</p>