
<div class="desktop">
    <div class="formattazione">
        <h2 class="titolop">Sosteniamo giovani, il nostro futuro</h2>
    
    
        <p class="primap">Noi di TEL&CO pensiamo che sia importante sostenere i giovani, componenti fondamentali della famiglia, futuro motore del nostro mondo, sia sociale che informatico.  Per questo, collaboriamo da sempre sia con le organizzazioni formative, operando fattivamente con istituti superiori e università, sia con numerose associazioni sportive e ricreative rivolte ai giovani, dal calcio alla pallavolo, passando per nuoto e rugby.</p>
    
      <p class="secondap">In questo senso cerchiamo di individuare tematiche che riescono a definire un codice etico accettato e condiviso, rendendo partecipi i nostri clienti delle strategie, del modo di operare che ci contraddistingue sul mercato, oltre che dei prodotti e dei servizi informatici offerti.</p>
    
    
    <div class="flex-1 flex flex-wrap contenitoreciclocard">
       
        <div *ngFor="let item of news; index as i;" class="ciclocard">
    
           
            <p-card class="cardnews">
    
                <app-unavviso [immagine]="item._embedded['wp:featuredmedia'][0].source_url" [titolo] = "item.title.rendered" [descrizione] = "item.excerpt.rendered.slice(3, 100)" [data] = "item._embedded['wp:featuredmedia'][0].date.slice(0 , -9)" [bottone] = "item._embedded['wp:term'][0][0].name"></app-unavviso>
    
               
            </p-card>
            <br>
        </div>
        </div>
    </div>
    </div>
    
    <div class="mobile">

        <div class="spaziocard">
            
        <h2 class="titolop">Sosteniamo giovani, il nostro futuro</h2>
    
    
        <p class="primap">Noi di TEL&CO pensiamo che sia importante sostenere i giovani, componenti fondamentali della famiglia, futuro motore del nostro mondo, sia sociale che informatico.  Per questo, collaboriamo da sempre sia con le organizzazioni formative, operando fattivamente con istituti superiori e università, sia con numerose associazioni sportive e ricreative rivolte ai giovani, dal calcio alla pallavolo, passando per nuoto e rugby.</p>
    
      <p class="secondap">In questo senso cerchiamo di individuare tematiche che riescono a definire un codice etico accettato e condiviso, rendendo partecipi i nostri clienti delle strategie, del modo di operare che ci contraddistingue sul mercato, oltre che dei prodotti e dei servizi informatici offerti.</p>
    
    <div *ngFor="let item of news; index as i;" class="ciclocard2">
    
    
        <p-card class="cardnews2">
            <app-unavviso [immagine]="item._embedded['wp:featuredmedia'][0].source_url" [titolo] = "item.title.rendered" [descrizione] = "item.excerpt.rendered.slice(3, 130)" [data] = "item._embedded['wp:featuredmedia'][0].date.slice(0 , -9)" [bottone] = "item._embedded['wp:term'][0][0].name"></app-unavviso>
    
            <!-- <img src="{{item._embedded['wp:featuredmedia'][0].source_url}}" alt="" class="immaginecard">
            <p class="titolo">{{item.title.rendered}}</p>
            {{item.excerpt.rendered.slice(3, 130)}}
            <ng-template pTemplate="footer">
                <div class="flex-1 flex spazio">
                    <p class="data">{{item._embedded['wp:featuredmedia'][0].date.slice(0 , -9)}}</p>
                    <button pButton class=" p-button-rounded bottonenews">{{item._embedded['wp:term'][0][0].name}}</button>
                </div>
            </ng-template> -->
        </p-card>
        <br>
    </div> 
    </div>
    </div>