<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Grazie ai nostri sviluppatori, ci occupiamo quotidianamente di progettare, costruire e manutenere qualsiasi progetto web, ecommerce, mobile, intranet, con uno sguardo costante a ricerca e sviluppo di nuove soluzioni ed il supporto del team hosting di secondo livello.</p>

   
      <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Piattaforme Web'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'E-commerce'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppomobileFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Applicazioni mobile'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-intranetFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Intranet e aree riservate'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Software custom'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'UI/UX'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'SEO e social'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Gestionali e ERP'"></app-icone>
            </p-tabPanel>
           
        </p-tabView>


        </div>


</div>



<h1>L’applicazione mobile aziendale, cucita su misura</h1>

<p class="p4">Sempre più aziende scelgono di dotarsi di applicazioni mobili per smartphone e tablet: sia come <strong>strumento ad uso interno per efficentare i flussi di lavoro</strong> e magari integrato con database terzi per uno scambio in tempo reale di dati di varia tipologia, sia come <strong>azione di marketing e promozione passando per gli store</strong>, iTunes e Google Play.</p>

<p class="p5">Oltre a ciò, il passaggio alla suite 365 di Microsoft spinge sempre più aziende ad esplorare le Power Apps, uno strumento integrato con Microsoft Teams e Sharepoint che consente di automatizzare i processi e la comunicazione interna e esterna aziendale, attraverso la creazione di applicazioni customizzate secondo le specifiche esigenze.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">Il nostro team di sviluppo è in grado di progettare ed implementare <strong>applicazioni mobile multipiattaforma</strong> (dette anche <strong>ibride</strong>) per i sistemi operativi <strong>Apple e Android</strong>, sfruttando tutte le potenzialità  e le skill acquisite nell’integrazione con sistemi terzi, per soluzioni efficaci e performanti.</p>

    <p class="p9">Cosa significa app ibrida o multipiattaforma? In sostanza, sfruttiamo un <strong>framework</strong> per produrre <strong>un unica linea di codice</strong>, che in output ci da le <strong>due versioni per i due sistemi operativi</strong>. Questo, a differenza dello sviluppo nativo per iOS (Apple) e Android (Google) che richiede la produzione di due codici sorgenti differenti, ci da la possibilità di <strong>ottimizzare i costi di produzione</strong> a parità di performance e con una più <strong>agevole manutenzione post-rilascio</strong>.</p>


    <p class="p10">Oltre a ciò, grazie alle <strong>numerose librerie opensource</strong>, ogni applicazione può essere <strong>collegata</strong> facilmente ad altre applicazioni come <strong>fotocamere, GPS, e qualsiasi altro strumento</strong> di un dispositivo con cui è consentito uno scambio dati.</p>
  <p class="p11">Nel corso del tempo, abbiamo sviluppato sia applicazioni per gli store (istituzionali, cataloghi, lancio prodotti, app social e di informazione) con interfacce moderne ed esperienze d’uso coinvolgenti, sia ad uso interno aziendale (gestione spedizioni, flussi magazzino, prototipazione auto, controllo sicurezza in azienda, catalogo prodotti, controllo qualità) con l’obiettivo di creare strumenti integrati e ottimizzazione dei processi.</p>

  <p class="p12">La <strong>ricerca e sviluppo del mondo Power Apps</strong> di Microsoft ci sta portando ad applicare prima di tutto al nostro interno quegli <strong>automatismi</strong> che  ci consentono di offrire soluzioni ergonomiche ai nostri clienti che si sono affidati alla suite Office 365: <strong>applicazioni come configuratori di preventivi, builder di presentazioni, cruscotti con dati estratti da database esterni</strong>, il tutto a portata di click, integrato con i più innovativi strumenti Microsoft, popolando Sharepoint con documenti e informazioni prodotte per una successiva consultazione..</p>
    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="CONVENIENZA">
              <p class="piccoloparagrafo">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="FOCUS SUL BUSINESS">
            <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
              <p-accordion>
                <p-accordionTab header="USABILITA'">
            <p>Il mondo oggi viaggia via app e dotarsi di strumenti aziendali mobile avvicina dipendenti e clienti all’azienda, attraverso uno strumento intuitivo, immediato e produttivo</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="AGEVOLAZIONI E CREDITO DI IMPOSTA">
                  <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="LOCAZIONE OPERATIVA">
            <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="FORMAZIONE">
                <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="ISTITUTI SUPERIORI E UNIVERSITA'">
                  <p>Abbiamo scelto di collaborare con istituti superiori ed università per tutti quei progetti di scuola/lavoro che consentano agli studenti di prendere le misure di un ambiente come il nostro, fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da dover districare.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="CREAZIONE ACCOUNT APPLE E GOOGLE">
                  <p>Supportiamo le aziende nella creazione del loro account, necessario per la pubblicazione di ogni applicazione sui rispettivi store, ognuno con i suoi parametri e le sue regole.</p>
      
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="PUBBLICAZIONE APP E MANTENIMENTO">
                  <p>Una volta validata, supportiamo il cliente nella pubblicazione sugli store o nella distribuzione all’interno della forza aziendale, garantendone il corretto funzionamento grazie a manutenzione ed aggiornamenti in linea con i nuovi sistemi operativi.</p> 
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="DESIGN, UI E UX">
                  <p>Grazie alle nostre partnership, progettiamo interfacce moderne ed in linea con l’immagine aziendale del cliente, in cui l’usabilità e l’intuitività sono il punto di partenza di ogni approccio.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>