
<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Crediamo fortemente nell’<strong>importanza</strong> della <strong>formazione</strong> e lavoriamo assiduamente per il <strong>trasferimento delle competenze</strong>: sia gli utilizzatori alle prime armi sia i più esperti <strong>IT Manager si affidano a noi</strong> con la garanzia di <strong>acquisire strumenti, tecnologie e know how</strong> che possano aiutare a migliorare la produttività e la sicurezza in azienda.</p>

    <p class="p2">Abbiamo <strong>certificazioni e skill</strong> molto specifiche negli ambiti delle <strong>tecnologie Microsoft e del network</strong>, oltre a <strong>collaborare</strong> con i diversi <strong>istituti di formazione</strong> del territorio per individuare e far crescere insieme i migliori <strong>talenti informatici</strong>.</p>

      <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-helpdesk.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Formazione'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-helpdesk.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Istituti superiori e università'"></app-icone>
            </p-tabPanel>

        </p-tabView>


        </div>


</div>



<h1>La scuola, presente e futuro dell’innovazione</h1>

<p class="p4">Oggi la tecnologia corre a ritmi vertiginosi: la scuola assume sempre di più i connotati di una vera e propria <strong>palestra</strong> dove i ragazzi possono <strong>sperimentare e apprendere</strong> sul campo, in un’epoca in cui gli <strong>strumenti informatici sono davvero accessibili a tutti</strong>.</p>

<p class="p5"><strong>Preparare</strong> i <strong>ragazzi</strong> nel <strong>passaggio dalla scuola al mondo</strong> del lavoro diventa una responsabilità sempre più impegnativa, con l’obiettivo di formare risorse in grado di affrontare le nuove frontiere dell’informatica.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">Fin dagli inizi del nostro percorso, <strong>abbiamo scelto di collaborare con istituti superiori ed università</strong> per tutti quei <strong>progetti di scuola/lavoro</strong> che consentano agli studenti di prendere le misure di un ambiente come il nostro, fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da dover districare.</p>

    <p class="p9">Da anni collaboriamo con alcuni dei maggiori istituti superiori del territorio tra cui <strong>Corni, Fermi e Barozzi</strong> per stage di inserimento lavorativo in cui formiamo le risorse di domani consentendogli di applicare le teorie apprese sui banchi di scuola. </p>


<p class="p10">Con <strong>ITS Maker</strong>, in qualità di <strong>azienda partner</strong>, collaboriamo per garantire ai <strong>giovani diplomati percorsi formativi altamente specializzati</strong> sulle principali tematiche sistemistiche e di programmazione.</p>

<p class="p11">Con l’<strong>Università di Ingegneria di Modena e Reggio Emilia</strong>, oltre a collaborare a progetti di respiro europeo di ricerca e sviluppo, collaboriamo per i <strong>tirocini curriculari</strong> dei <strong>laureandi</strong>, coinvolgendoli fin da subito nell’operatività quotidiana per fargli prendere confidenza con le dinamiche aziendali.</p>




    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-628.svg">
              <p-accordion>
                <p-accordionTab header="CONTINUITA'">
            <p>Garantiamo alle aziende assistenza continuativa indipendentemente dai periodi di ferie, malattia e corsi di aggiornamento del nostro personale:
                non  contrattualizziamo infatti una singola risorsa, ma definiamo un pool di tecnici intercambiabili con competenze adeguate rispetto all’architettura ed alle configurazioni specifiche di ogni cliente. Interveniamo ove necessario per sostituzioni del personale dei nostri clienti, in caso di pensionamento o  fuoriuscita di una risorsa  IT.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>

            <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-637.svg">
                <p-accordion>
                  <p-accordionTab header="FLESSIBILITA'">
              <p>La nostra modalità di erogazione di risorse e competenze assicura ai nostri clienti una notevole flessibilità rispetto all’assunzione in proprio del personale dedicato alle tematiche IT sempre più strategiche: grazie ai nostri pool di tecnici infatti, oltre a garantire presidi periodici onsite presso i nostri clienti, possiamo intervenire in orari straordinari, nel weekend o in orari notturni e garantire la copertura per tutti quei progetti o cambi tecnologici aziendali che richiedono esperienza, competenza, efficienza e puntualità.  </p> 
              </p-accordionTab>
              </p-accordion>
              </div>
    
        
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="TECNOLOGIE MICROSOFT">
                  <p>La piattaforma Microsoft 365 oggi è una vera e propria porta di accesso al percorso di trasformazione digitale di un’azienda,, che deve portare ad un aumento di produttività ed ottimizzazione dei flussi di lavoro.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="SVILUPPO SOFTWARE">
            <p>Tutte le aziende oggi sono basate sul software: dal gestionale al sito web, passando per aree riservate e applicazioni web customizzate, tutti i flussi di lavoro sono condizionati dal digitale e dal codice.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="SICUREZZA">
                <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="PRIVACY E GDPR">
                  <p>Per le aziende, il regolamento generale sulla protezione dei dati GDPR, ha comportato una revisione dei flussi di lavoro interni e la necessità di adeguamenti che possono essere di due tipologie.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="NETWORK">
                  <p>L’operatività di una azienda dipende in maniera determinante dalla sua rete: in caso di malfunzionamenti, le conseguenze possono essere svariate. Diventa quindi fondamentale che i collegamenti vengano correttamente implementati e testati.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>