
<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">I servizi sono gestiti da un team di esperti, ogni giorno al fianco delle aziende, per garantire continuità ed un corretto funzionamento dei sistemi informatici delle imprese che si affidano a noi.</p>

    <p class="p2">Così facendo, le imprese sono sgravate da quelle attività sistemistiche quotidiane, a volte necessarie  ma spesso posticipate, che consentono di  concentrarsi sul proprio core business e ottenere una gestione più razionale e sicura degli apparati informatici, oltre che un generale contenimento dei costi.</p>

      <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Agevolazioni e credito imposta'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Locazione operativa'"></app-icone>
            </p-tabPanel>

        </p-tabView>


        </div>


</div>



<h1>Locazione Operativa</h1>

<p class="p4">La locazione operativa è la soluzione per gli imprenditori che vogliono <strong>dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto</strong>.</p>

<p class="p5">Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare, collaboriamo con Pertec che offre una consulenza strategica mirata, mettendo a disposizione le proprie competenze, per individuare l’opportunità di fundrising mirata a seconda delle specifiche esigenze.</p>

<p class="p6">Perché <strong>è l’utilizzo che crea valore aggiunto</strong>, non la proprietà!</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">La Locazione Operativa è una <strong>soluzione alternativa al finanziamento ed al Leasing</strong> e prevede che i beni strumentali, necessari all’attività imprenditoriale vengano dati in locazione all’utilizzatore senza che quest’ultimo si impegni ad acquistarli al termine del contratto, con una serie di vantaggi sia di tipo operativo che fiscale.</p>

    <p class="p9">Il cliente può utilizzare i beni per la durata prestabilita, dietro pagamento di un <strong>canone periodico trimestrale</strong>.
        Con la Locazione Operativa sono possibili anche interessanti formule complete che includono nel canone di locazione pattuito anche una serie di <strong>servizi come manutenzione, assistenza</strong> ed altro.</p>


<p class="p10">La Locazione Operativa è una soluzione ormai affermata in tutta Europa particolarmente <strong>adatta per beni ad alta tecnologia</strong> come infrastrutture informatiche, computer, fotocopiatrici, centralini telefonici, macchinari medicali, strumenti di misura ecc.</p>

<p class="p11">La locazione operativa consente un rinnovo tecnologico continuo.</p>

<p class="p12">Contattaci per maggiori informazioni o per la <strong>stima del canone di locazione del tuo prossimo investimento!</strong></p>


<div class="gliaccordion">
<p-accordion>
    <p-accordionTab header="Risparmio di capitale proprio">
<p class="p8">Con la locazione operativa l’azienda ottiene in uso il bene strumentale allo svolgimento dell’attività d’impresa senza impegnare capitale propri e senza appesantimenti di immobilizzazioni nello stato patrimoniale.</p> 

</p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="Fiscali">
<p class="p8">la locazione operativa è deducibile integralmente sia a fini IRES che a fini IRAP senza limitazioni di durata minima. Assenza di ammortamenti e cespiti. Detrazione IVA. Beni fuori asset patrimoniale secondo Basilea 2 e non calcolati ai fini degli studi di settore.</p> 

</p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="Finanziari">
<p class="p8">la locazione operativa migliora i ratei di indebitamento in quanto non rappresenta, in caso di contabilità secondo standard italiano, un debito per l’azienda ma solo un canone in conto economico.
    Le linee di credito sono sempre libere in quanto la locazione operativa è un servizio e non risulta essere presente nelle banche dati degli impegni finanziari o segnalato in centrale rischi e questo porta ad un miglioramento degli indici creditizi.</p> 

</p-accordionTab>
</p-accordion>



<p-accordion>
    <p-accordionTab header="Flessibilità">
<p class="p8">la locazione operativa non ha durate minime e può prevedere soluzioni che permettano di utilizzare i beni, a seconda delle diverse tipologie, solo per quanto si deprezzino nel corso del tempo del contratto e non fino al loro completo ammortamento. A fine locazione sono possibili più opzioni: rinnovo, restituzione, prosecuzione, acquisto del bene usato.</p> 

</p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="Prevedibilità e gestione del budget">
<p class="p8">la locazione operativa opera con canoni fissi, non essendo un prodotto finanziario non sono previste “indicizzazioni” a parametri del mercato finanziario o ISTAT.
    I canoni inoltre possono includere la manutenzione programmata o altri servizi.</p> 

</p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="Semplicità">
<p class="p8">quattro fatture trimestrali all’anno, con addebito diretto SEPA senza spese di incasso.</p> 

</p-accordionTab>
</p-accordion>



<p-accordion>
    <p-accordionTab header="Operativi">
<p class="p8">Durata contratto allineata al ciclo di vita; nessuna perdita di valore del bene. Programmazione rinnovo attrezzature. Contratto prolungabile secondo le necessità. Zero spese di smaltimento.</p> 

</p-accordionTab>
</p-accordion>



</div>






    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="FOCUS SUL BUSINESS">
            <p>Utilizziamo metodi e procedure consolidate nel corso della nostra pluriennale esperienza nel settore. Pianifichiamo nel dettaglio tutte le attività necessarie al preciso svolgimento delle tue pratiche. Vigiliamo in prima linea su tutte le attività tecnico-amministrative che compongono il progetto per assicurare un risultato di massima qualità.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>

            <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
                <p-accordion>
                  <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
              <p>Utilizziamo metodi e procedure consolidate nel corso della nostra pluriennale esperienza nel settore. Pianifichiamo nel dettaglio tutte le attività necessarie al preciso svolgimento delle tue pratiche. Vigiliamo in prima linea su tutte le attività tecnico-amministrative che compongono il progetto per assicurare un risultato di massima qualità.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>

              <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-640.svg">
                <p-accordion>
                  <p-accordionTab header="RINNOVI GARANTITI">
              <p>Spesso le aziende si trovano a dover gestire rinnovi di servizi informatici essenziali senza le certezza di cosa siano. Per i nostri clienti pensiamo a tutto noi: burocrazia, attivazioni, rinnovi, per garantire la serenità di essere concentrati sul proprio business.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>

              <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-627.svg">
                <p-accordion>
                  <p-accordionTab header="RISPARMIO">
              <p>I nostri servizi vengono erogati da tecnici qualificati e sempre aggiornati: i costi degli interventi vengono addebitati solo per le attività effettivamente svolte e con la certezza della risoluzione di ogni problematica nel più breve tempo possibile. Il vero vantaggio sta nel poter contare sul nostro personale informatico certificato, senza i costi accessori di un dipendente, come ferie, malattia e soprattutto la formazione costante che garantiamo al nostro team.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="SERVER E INFRASTRUTTURE">
                  <p>Ogni giorno progettiamo, implementiamo e supportiamo le aziende nella gestione delle architetture IT su cui si basano i sistemi informativi.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="BACKUP E DISASTER RECOVERY">
            <p>Sappiamo che i dati informatici sono sempre più a rischio e occorre fare il necessario per proteggerli e per consentire la continuità operativa all’azienda.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="SICUREZZA">
                <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="POSTAZIONI DI LAVORO">
                  <p>Siamo a tua disposizione per una consulenza sugli strumenti di lavoro: postazioni PC Windows e Apple Mac e dispositivi Mobili Android o Apple iOS.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="NETWORK">
                  <p>L’operatività di una azienda dipende in maniera determinante dalla sua rete: in caso di malfunzionamenti, le conseguenze possono essere svariate. Diventa quindi fondamentale che i collegamenti vengano correttamente implementati e testati.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="TECNOLOGIE MICROSOFT">
                  <p>La piattaforma Microsoft 365 oggi è una vera e propria porta di accesso al percorso di trasformazione digitale di un’azienda,, che deve portare ad un aumento di produttività ed ottimizzazione dei flussi di lavoro.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="SVILUPPO SOFTWARE">
                  <p>Tutte le aziende oggi sono basate sul software: dal gestionale al sito web, passando per aree riservate e applicazioni web customizzate, tutti i flussi di lavoro sono condizionati dal digitale e dal codice.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="INTERNET E TELEFONIA">
                  <p>Supportiamo le aziende nella scelta del provider migliore, con il giusto rapporto qualità/prezzo e per creare le condizioni necessarie per garantire la business continuity.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="CENTRALINI VOIP E MICROSOFT PHONE SYSTEM">
                  <p>Negli ultimi anni il nostro modo di lavorare è cambiato profondamente e  si è manifestata l’esigenza di strumenti di lavoro più flessibili, multipiattaforma ed efficienti.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="PRIVACY E GDPR">
                  <p>Per le aziende, il regolamento generale sulla protezione dei dati GDPR, ha comportato una revisione dei flussi di lavoro interni e la necessità di adeguamenti che possono essere di due tipologie.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>