.riquadroazzurro{

    background-image: linear-gradient(90deg, #013C5E 22%, #7AD4D1 71%);
    width: screen;
    height: 600px; 
    }
    
    h1{
        color: #004A75;
        font-size: 40px;
        font-family: "Segoe UI", sans-serif;
        margin-left: 10%;
        font-weight: 700;
    }


    h2{
        color: #004A75;
        font-size: 30px;
        margin-left: 10%;
        font-family: "Segoe UI", sans-serif;
    }

    .p1{
        margin-top: 7%;
        color: #FFFFFFDB;
        width: 30%;
        margin-left: 10%;
        font-family: "Segoe UI", sans-serif;
    }

    .p2{
        color: #FFFFFFDB;
        width: 30%;
        margin-left: 10%;
        font-family: "Segoe UI", sans-serif;
    }


    :host ::ng-deep .p-dropdown-label{
        color: #004a75;
        font-family: "Segoe UI", sans-serif;
        font-size: 25px;
        font-weight: 700;
    }
    
    :host ::ng-deep .p-dropdown-items-wrapper{
        max-height: 400px !important;
    }
    
    :host ::ng-deep .p-dropdown{
        left: 10%;
        top: 15%;
        border-radius: 25px;
        width: 30%;
    }
    
    :host ::ng-deep .p-dropdown-panel .p-dropdown-items{
        background: #004a75;
    }

    .divicone{
        margin-left: 10%;
    }

 .p3{
     width: 70%;
     margin-left: 10%;
     font-family: "Segoe UI", sans-serif;
 }

 .p4{
    width: 70%;
    margin-left: 10%;
    font-family: "Segoe UI", sans-serif;
 }

 .p5{
    width: 70%;
    margin-left: 10%;
    font-family: "Segoe UI", sans-serif;
 }

 .p6{
    width: 70%;
    margin-left: 10%;
    font-family: "Segoe UI", sans-serif;
 }

 .p7{
        width: 70%;
        margin-left: 10%;
        font-family: "Segoe UI", sans-serif;
 }

 .p8{
    width: 70%;
    margin-left: 10%;
    font-family: "Segoe UI", sans-serif;
 }

 :host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    background: none;
 }

 .riquadroazzurro2{
     margin-top: 5%;
     height: 600px;
     width: screen;
     background-image: linear-gradient(90deg, #7AD4D1 0%, #004A75 58%);
 }

 .sinistra{
     margin-left: 5%;
     width: 40%;

     h1{
            color: white;
            font-size: 30px;
            font-family: "Segoe UI", sans-serif;
            margin-left: 10%;
            font-weight: 500;
     }
 }

 .destra{
     width: 40%;

margin-left: 10%;

     h1{
        color: white;
        font-size: 30px;
        font-family: "Segoe UI", sans-serif;
        margin-left: 10%;
        font-weight: 500;
     }
 }


 :host ::ng-deep .p-accordion-header-link{

 }

 .uno{
     margin-left: 10%;
 }

 
 .due{
    margin-left: 10%;
}


.tre{
    margin-left: 10%;
}


.quattro{
    margin-left: 10%;
}

.destra{
    h1{
        margin-left: 3%;
    }
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link{
    background: rgb(0, 0, 0, 0%);
    border: none;
    color: white;
}

.settimaimmagineasinistra{
    width: 50px;
    height: 50px;
}

.ottavaimmagineasinistra{
    width: 50px;
    height: 50px;
}


.nonaimmagineasinistra{
    width: 50px;
    height: 50px;
}


.decimaimmagineasinistra{
    width: 50px;
    height: 50px;
}


.bottone{
    background: #7ad4d1;
    border-radius: 25px;
    width: fit-content;
    height: 30px;
    font-size: 17px;
}


:host ::ng-deep .p-tabview .p-tabview-nav{
    background: transparent;
}


:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-panels{
    background: transparent;
    color: white;
}