
<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Nelle aziende più piccole, raramente viene dedicato del personale alla gestione e risoluzione dei problemi informatici quotidiani, quasi mai troviamo un responsabile IT che si occupi della gestione e manutenzione del sistema informativo.</p>

    <p class="p2">Questo porta a blocchi frequenti dei sistemi IT con relativa frustrazione degli utenti che non possono lavorare in modo produttivo.  L’assenza di aggiornamenti e di una costante manutenzione e con i tentativi di intrusione e di attacco dall’esterno che sono sempre più frequenti, portano a forti rischi sulla sicurezza aziendale.</p>

    <p class="p3">Il nostro servizio di gestione completa dell’infrastruttura informatica è pensato proprio per queste aziende: il nostro team di esperti può controllare in modo continuativo il  regolare funzionamento dei tuoi dispositivi informatici ed occuparsi anche di quegli apparati che richiedono competenze di alto livello come i Firewall ed i sistemi di sicurezza e di backup.</p>

      <div class="divicone flex">



        

        <p-tabView>
          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-postazioniFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Postazioni'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Server'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-backupFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Backup'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-networkFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Network e sicurezza'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-voipFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'VOIP'"></app-icone>
          </p-tabPanel>

      </p-tabView>   

        </div>


</div>

<h1>Sistemi di comunicazione VOIP e di telefonia</h1>

<p class="p4"><strong>I sistemi di comunicazione VOIP e di telefonia fanno sempre più parte della infrastruttura informatica, condividendo i cablaggi e le connessioni di network e la connettività internet.</strong></p>

    <p class="p5">La scelta corretta della soluzione e una adeguata implementazione e collaudo, rappresentano solo l’inizio del percorso per la protezione contro potenziali intrusioni dall’esterno. Anche i sistemi telefonici si stanno infatti allontanando sempre più dal vecchio concetto di “centralino” e richiedono le stesse manutenzioni ed aggiornamenti tipici dei sistemi Server, condividendone le stesse problematiche in termini di sicurezza informatica. Le tecniche di intrusione sono in continua evoluzione e vengono scoperte quasi quotidianamente nuove falle di sicurezza, che vengono sfruttate per violare anche i sistemi telefonici per poi penetrare nella rete aziendale e prendere il possesso dei dati o bloccare il funzionamento fino al pagamento di un riscatto.</p>

    <p class="p6">E’ quindi fondamentale che i dispositivi di comunicazione unificata, i telefoni, le celle Dect e i gateway di collegamento alle linee telefoniche, siano sempre aggiornati e testati. Ai problemi di mancanza di aggiornamento si aggiunge anche la spesso scarsa conoscenza degli utilizzatori in azienda, che a causa di azioni quotidiane involontarie mettono a rischio la sicurezza dei dati.</p>

    <p class="p7">Spesso le PMI, per mancanza di tempo o di competenze, non dedicano tempo e risorse sufficienti alle attività di aggiornamento e manutenzione dei dispositivi e alla formazione del personale, che rappresenta quindi un ulteriore criticità del sistema. Sappiamo bene che mantenere aggiornati ed in sicurezza i sistemi di comunicazione è un lavoro che richiede delle specifiche competenze e che può essere impegnativo in termini di tempo e che richiede una pianificazione dei controlli particolarmente puntuale.
        Per questi motivi offriamo un servizio di “affiancamento” con risorse dedicate per garantire che queste attività fondamentali vengano effettivamente svolte.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8"><strong>Questo servizio è particolarmente utile a quelle imprese che non hanno personale dedicato a manutenere e verificare correttamente i sistemi di comunicazione VOIP. che sono un componente critico e che richiede competenze specifiche di livello più alto rispetto alla normale gestione delle postazioni di lavoro.</strong></p>

    <p class="p9">Consente di anticipare l’insorgenza di problemi bloccanti o situazioni critiche, tramite un sistema di monitoraggio, attivo 24 ore su 24 e 7 giorni su 7 che informa in autonomia il supporto tecnico per la soluzione dei problemi da remoto e senza disturbare l’operatività degli utenti.
        Qualora le attività non si possano eseguire in modo risolutivo da remoto, verrà notificata la situazione straordinaria e quindi l’esigenza di pianificare un intervento tecnico. Per richieste o problemi non prevedibili è possibile contattare in modo illimitato il servizio di Help Desk per una risposta immediata. Con la periodicità definita, vengono inviati ai responsabili aziendali i report con tutte le attività svolte.</p>




<div class="riquadroazzurro2">

    <div class="flex">
        <div class="sinistra">
        <h1>I NOSTRI VANTAGGI</h1>
        <br>
        
        <div class="flex uno">
        <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
        <p-accordion>
          <p-accordionTab header="COMPETENZE CERTIFICATE">
          <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
            Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
            Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale..</p> 
          </p-accordionTab>
        </p-accordion>
        </div>
        
        
        <div class="flex due">
          <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-628.svg">
          <p-accordion>
            <p-accordionTab header="CONTINUITA'">
        <p>Garantiamo alle aziende assistenza continuativa indipendentemente dai periodi di ferie, malattia e corsi di aggiornamento del nostro personale:
          non  contrattualizziamo infatti una singola risorsa, ma definiamo un pool di tecnici intercambiabili con competenze adeguate rispetto all’architettura ed alle configurazioni specifiche di ogni cliente. Interveniamo ove necessario per sostituzioni del personale dei nostri clienti, in caso di pensionamento o  fuoriuscita di una risorsa  IT.</p>
        </p-accordionTab>
        </p-accordion>
        </div>
        
        
        
        <div class="flex tre">
          <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-631.svg">
          <p-accordion>
            <p-accordionTab header="DISPONIBILITA' QUOTIDIANA">
        <p>il nostro team di help desk, composto da  tecnici informatici, supporta quotidianamente i nostri clienti per ogni tipo necessità o problematica operativa. Nella stragrande maggioranza dei casi espletiamo le richieste nel giro di pochissimo tempo e da remoto. Grazie alla costante interoperatività tra help desk e pianificazione, se necessario organizziamo interventi presso i clienti per quelle criticità non risolvibili dalla nostra sede.  Maggiori dettagli qui: https://devtlco.tlco.info/assistenza-tecnica/</p> 
        </p-accordionTab>
        </p-accordion>
        </div>
        
        <div class="flex quattro">
          <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-637.svg">
          <p-accordion>
            <p-accordionTab header="FLESSIBILITA'">
        <p>La nostra modalità di erogazione di risorse e competenze assicura ai nostri clienti una notevole flessibilità rispetto all’assunzione in proprio del personale dedicato alle tematiche IT sempre più strategiche: grazie ai nostri pool di tecnici infatti, oltre a garantire presidi periodici onsite presso i nostri clienti, possiamo intervenire in orari straordinari, nel weekend o in orari notturni e garantire la copertura per tutti quei progetti o cambi tecnologici aziendali che richiedono esperienza, competenza, efficienza e puntualità.  </p>
        </p-accordionTab>
        </p-accordion>
        </div>

        <div class="flex cinque">
            <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-627.svg">
            <p-accordion>
              <p-accordionTab header="RISPARMIO">
          <p>I nostri servizi vengono erogati da tecnici qualificati e sempre aggiornati: i costi degli interventi vengono addebitati solo per le attività effettivamente svolte e con la certezza della risoluzione di ogni problematica nel più breve tempo possibile. Il vero vantaggio sta nel poter contare sul nostro personale informatico certificato, senza i costi accessori di un dipendente, come ferie, malattia e soprattutto la formazione costante che garantiamo al nostro team.</p>
          </p-accordionTab>
          </p-accordion>
          </div>

        </div>
       
        <div class="destra">
          <h1>AREE DI INTERVENTO</h1>
          <br>
        
        
          <p-accordion>
            <p-accordionTab header="CENTRALINI VOIP">
              <p>Negli ultimi anni il nostro modo di lavorare è cambiato profondamente e  si è manifestata l’esigenza di strumenti di lavoro più flessibili, multipiattaforma ed efficienti.</p>
              <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
          </p-accordion>
          
        
          <p-accordion>
            <p-accordionTab header="SICUREZZA">
        <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
        <button class="bottone">Scopri di più</button>  
        </p-accordionTab>
        </p-accordion>
        
        
        <p-accordion>
          <p-accordionTab header="INTERNET E TELEFONIA">
            <p>Supportiamo le aziende nella scelta del provider migliore, con il giusto rapporto qualità/prezzo e per creare le condizioni necessarie per garantire la business continuity.</p>
            <button class="bottone">Scopri di più</button>  
          </p-accordionTab>
        </p-accordion>

    </div>
        </div>

</div>


<h3>Certificazioni</h3>
<app-carousel></app-carousel>