
<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Crediamo fortemente nell’<strong>importanza</strong> della <strong>formazione</strong> e lavoriamo assiduamente per il <strong>trasferimento delle competenze</strong>: sia gli utilizzatori alle prime armi sia i più esperti <strong>IT Manager si affidano a noi</strong> con la garanzia di <strong>acquisire strumenti, tecnologie e know how</strong> che possano aiutare a migliorare la produttività e la sicurezza in azienda.</p>

    <p class="p2">Abbiamo <strong>certificazioni e skill</strong> molto specifiche negli ambiti delle <strong>tecnologie Microsoft e del network</strong>, oltre a <strong>collaborare</strong> con i diversi <strong>istituti di formazione</strong> del territorio per individuare e far crescere insieme i migliori <strong>talenti informatici</strong>.</p>

      <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-helpdesk.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Formazione'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-helpdesk.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Istituti superiori e università'"></app-icone>
            </p-tabPanel>

        </p-tabView>


        </div>


</div>



<h1>La produttività è legata alle competenze</h1>

<p class="p4">E’ sempre più <strong>complicato</strong> per le aziende <strong>acquisire internamente</strong> le <strong>competenze</strong> necessarie per gestire apparati, infrastruttura e dispositivi della propria rete informatica. Questo  in molti casi limita la <strong>produttività aziendale</strong> perché impedisce di <strong>sfruttare le nuove funzionalità</strong> soprattutto in ambito di collaborazione tra le diverse risorse aziendali.</p>

<p class="p5">Ci capita spesso poi di rilevare come non tutti gli utilizzatori abbiano avuto <strong>un’adeguata formazione sugli strumenti IT di uso quotidiano</strong>, operando quindi con competenze acquisite da autodidatti e rischiando di condizionare la normale operatività.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">Spesso individuiamo contesti aziendali con problemi ricorrenti e una diffusa difficoltà a prendere confidenza con gli strumenti e la loro naturale evoluzione: per questo grazie ai nostri tecnici e consulenti <strong>mettiamo a disposizione le nostre competenze</strong> per valutare un <strong>progetti formativi</strong> su argomenti specifici, organizzando le sessioni necessarie per approfondire <strong>tematiche, flussi operativi, applicazioni</strong> disponibili, esigenze da soddisfare ed obiettivi da raggiungere.</p>

    <p class="p9">Non abbiamo un catalogo corsi semplicemente perché ogni <strong>sessione formativa</strong> che prepariamo è <strong>cucita su misura</strong> in base alle specifiche esigenze dei nostri clienti: studiamo, organizziamo e pianifichiamo insieme a loro <strong>sessioni erogabili</strong> sia <strong>da remoto</strong> che in <strong>presenza</strong>, presso l’azienda o nelle sale della nostra sede.</p>


<p class="p10">I corsi che ci vengono richiesti con maggiore frequenza sono quelli relativi all’<strong>utilizzo della piattaforma Microsoft Office 365</strong> e degli ambienti <strong>Sharepoint</strong> e <strong>Teams</strong>, oltre a quelli per tenere sempre aggiornate le competenze per lavorare in <strong>sicurezza; eroghiamo anche</strong> corsi sugli applicativi <strong>Adobe Creative Cloud</strong> per gli ambienti <strong>ceramici, pubblicitari</strong> e di <strong>comunicazione</strong>. </p>

<p class="p11">I nostri <strong>consulenti privacy</strong> monitorano costantemente i cambiamenti legislativi e i chiarimenti del Garante per favorire il corretto adeguamento delle procedure relative alla protezione dei dati personali e sono a disposizione per formare dipendenti e collaboratori.</p>

<p class="p12">Collaboriamo inoltre con <strong>Cres.co</strong> per i <strong>corsi di formazione finanziata</strong> e per la ricerca di agevolazioni in ambito formativo.</p>


<div class="gliaccordion">

<p-accordion>
    <p-accordionTab header="Cres.Co.">
<p class="p8">Cres.co è un ente di formazione, centro finanziamenti e ricerche e medicina del lavoro, a disposizione del mondo delle imprese e dei lavoratori per la crescita e la competitività.</p> 

<p class="p8">Cres.co aiuta le imprese a</p> 
<p class="p8">Progettare e realizzare Percorsi di Formazione e di Crescita Professionale</p> 
<p class="p8">Ricercare Finanziamenti</p> 
<p class="p8">Promuovere la Ricerca e l’Innovazione.</p> 
<p class="p8">Supportare le imprese con Servizi di Consulenza, Medicina del lavoro, Ricerca di Finanziamenti</p> 
<p class="p8">La Mission di Cres.Co è di soddisfare le esigenze del mercato, delle imprese e delle persone che vogliono crescere professionalmente: Cres.Co significa Crescere e Competere.
<br>
<br>
    <img src="../../../assets/images/logo-cresco1.png" alt="" class="logocresco">
<p class="p8">Per maggiori informazioni: https://www.crescosrl.it/it/chi-siamo</p> 
</p-accordionTab>
</p-accordion>

</div>






    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
              <p-accordion>
                <p-accordionTab header="CONVENIENZA'">
            <p>I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>

            <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-637.svg">
                <p-accordion>
                  <p-accordionTab header="FLESSIBILITA'">
              <p>La nostra modalità di erogazione di risorse e competenze assicura ai nostri clienti una notevole flessibilità rispetto all’assunzione in proprio del personale dedicato alle tematiche IT sempre più strategiche: grazie ai nostri pool di tecnici infatti, oltre a garantire presidi periodici onsite presso i nostri clienti, possiamo intervenire in orari straordinari, nel weekend o in orari notturni e garantire la copertura per tutti quei progetti o cambi tecnologici aziendali che richiedono esperienza, competenza, efficienza e puntualità.  </p> 
              </p-accordionTab>
              </p-accordion>
              </div>
    
              <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
                <p-accordion>
                  <p-accordionTab header="FOCUS SUL BUSINESS">
              <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>

              <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
                <p-accordion>
                  <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
              <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>


              <div class="flex tre">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-627.svg">
                <p-accordion>
                  <p-accordionTab header="RISPARMIO">
              <p>I nostri servizi vengono erogati da tecnici qualificati e sempre aggiornati: i costi degli interventi vengono addebitati solo per le attività effettivamente svolte e con la certezza della risoluzione di ogni problematica nel più breve tempo possibile. Il vero vantaggio sta nel poter contare sul nostro personale informatico certificato, senza i costi accessori di un dipendente, come ferie, malattia e soprattutto la formazione costante che garantiamo al nostro team.</p> 
              </p-accordionTab>
              </p-accordion>
              </div>

            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="TECNOLOGIE MICROSOFT">
                  <p>La piattaforma Microsoft 365 oggi è una vera e propria porta di accesso al percorso di trasformazione digitale di un’azienda,, che deve portare ad un aumento di produttività ed ottimizzazione dei flussi di lavoro.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="SVILUPPO SOFTWARE">
            <p>Tutte le aziende oggi sono basate sul software: dal gestionale al sito web, passando per aree riservate e applicazioni web customizzate, tutti i flussi di lavoro sono condizionati dal digitale e dal codice.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="SICUREZZA">
                <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="PRIVACY E GDPR">
                  <p>Per le aziende, il regolamento generale sulla protezione dei dati GDPR, ha comportato una revisione dei flussi di lavoro interni e la necessità di adeguamenti che possono essere di due tipologie.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="NETWORK">
                  <p>L’operatività di una azienda dipende in maniera determinante dalla sua rete: in caso di malfunzionamenti, le conseguenze possono essere svariate. Diventa quindi fondamentale che i collegamenti vengano correttamente implementati e testati.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>