

<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Grazie ai nostri sviluppatori, ci occupiamo quotidianamente di progettare, costruire e manutenere qualsiasi progetto web, ecommerce, mobile, intranet, con uno sguardo costante a ricerca e sviluppo di nuove soluzioni ed il supporto del team hosting di secondo livello.</p>


      <div class="divicone flex">




        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Piattaforme Web'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'E-commerce'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppomobileFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Applicazioni mobile'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-intranetFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Intranet e aree riservate'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Software custom'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'UI/UX'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'SEO e social'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Gestionali e ERP'"></app-icone>
            </p-tabPanel>
           
        </p-tabView>


        </div>


</div>



<h1>Sito web come connettore di informazioni</h1>

<p class="p4">Fino a non molti anni fa, la presenza web di un’azienda veniva pensata, prodotta e data in pasto ad internet per poi essere ben presto abbandonata a se stessa, dimenticandone non solo il valore comunicativo e di branding, ma anche e soprattutto la necessità di manutenzione ed aggiornamenti costanti. La difficoltà d’uso degli strumenti a disposizione, l’assenza di strategia ed un pubblico web non ancora maturo hanno contribuito a consolidare negli imprenditori la convinzione che il sito internet fosse un prodotto accessorio.</p>

<p class="p5">Oggi il sito web è uno strumento dinamico, in continua evoluzione, che oltre ad essere in grado di comunicare la propria offerta deve poter essere collegato con dati ed informazioni aggiornate: sempre più spesso l’integrazione con gestionali e servizi terzi consentono la creazione di aree riservate all’interno del sito web istituzionale.</p>

<p class="p6">Più in generale, considerando che il traffico internet viaggia per oltre il 70% da mobile, ogni sito web deve per forza di cose contemplare una versione ad hoc per gli smartphone, questo per agevolarne la navigazione e la consultazione dei contenuti.</p>
 
<h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">Il team sviluppo TEL&CO ad oggi gestisce oltre <strong>100 siti web</strong>, aggiornati costantemente per mantenere adeguati standard  di sicurezza e performance.</p>

    <p class="p9">Per lo sviluppo web, fin dalla sua nascita il team ha adottato il content management system <strong>WordPress</strong>, ad oggi <strong>lo strumento più utilizzato al mondo per creare siti</strong>; oggi il know how accumulato consente di progettare soluzioni di ogni genere di complessità.</p>


    <p class="p10">Partendo dal design fino al golive di ogni piattaforma web, accompagnamo il cliente fin dallo studio delle schermate (sia desktop che mobile), affiancandolo nella definizione degli obiettivi e nel dettaglio delle funzionalità che andranno a caratterizzare la piattaforma web.</p>
    <p class="p11">WordPress oggi consente una altissima personalizzazione sia per ciò che riguarda il frontend ovvero il layout della soluzione (è pressoché infinita la scelta tra temi precostituiti ed integrati con effetti grafici e funzionalità dedicate) sia per la parte funzionale: oltre ad un repository di decine di migliaia di plugin (software aggiuntivi) gratuiti, molti prodotti professionali sono in commercio</p>
    
    <h4>+ 100</h4>
    <h5>SITI WEB</h5>
    
    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
                Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
                Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
              <p-accordion>
                <p-accordionTab header="CONVENIENZA">
            <p>I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-636.svg">
              <p-accordion>
                <p-accordionTab header="SCALABILITA'">
            <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
         
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="OTTIMIZZAZIONE MOBILE">
                  <p>Ottimizziamo i siti in modo che siano responsive, ovvero ottimizzati per smartphone e tablet.</p>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="MULTILINGUA">
            <p>Grazie all’utilizzo del plugin professionale WPML, creaimo siti multilingua gestibili in completa autonomia dal cliente.</p> 
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="INTEGRAZIONE CON TERZE PARTI">
                <p>Abbiamo le capacità per integrare ogni genere di servizio esterno. all’occorrenza, creiamo web services ad hoc per gestire le esigenze specifiche dei nostri clienti.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="AGEVOLAZIONI E CREDITO D'IMPOSTA">
                  <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="LOCAZIONE OPERATIVA">
                  <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="FORMAZIONE">
                  <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="ISTITUTI SUPERIORI E UNIVERSITA'">
                  <p>Abbiamo scelto di collaborare con istituti superiori ed università per tutti quei progetti di scuola/lavoro che consentano agli studenti di prendere le misure di un ambiente come il nostro, fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da dover districare.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>


        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>

