
<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Nelle aziende più piccole, raramente viene dedicato del personale alla gestione e risoluzione dei problemi informatici quotidiani, quasi mai troviamo un responsabile IT che si occupi della gestione e manutenzione del sistema informativo.</p>

    <p class="p2">Questo porta a blocchi frequenti dei sistemi IT con relativa frustrazione degli utenti che non possono lavorare in modo produttivo.  L’assenza di aggiornamenti e di una costante manutenzione e con i tentativi di intrusione e di attacco dall’esterno che sono sempre più frequenti, portano a forti rischi sulla sicurezza aziendale.</p>

    <p class="p3">Il nostro servizio di gestione completa dell’infrastruttura informatica è pensato proprio per queste aziende: il nostro team di esperti può controllare in modo continuativo il  regolare funzionamento dei tuoi dispositivi informatici ed occuparsi anche di quegli apparati che richiedono competenze di alto livello come i Firewall ed i sistemi di sicurezza e di backup.</p>

      <div class="divicone flex">



        

        <p-tabView>
          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-postazioniFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Postazioni'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Server'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-backupFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Backup'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-networkFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Network e sicurezza'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-voipFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'VOIP'"></app-icone>
          </p-tabPanel>

      </p-tabView>   

        </div>


</div>

<h1>Il server come linfa vitale dell’azienda</h1>

<p class="p4"><strong>Il server oggi è il fulcro informativo di un’azienda</strong>, rappresenta davvero la linfa vitale dei processi e <strong>deve lavorare al massimo delle sue potenzialità</strong>: per fare ciò, è fondamentale prestare attenzione ai <strong>componenti chiave</strong> come l’ utilizzo della <strong>CPU</strong>, della memoria <strong>RAM</strong> nonché delle <strong>prestazioni di rete</strong> e l’utilizzo della <strong>capacità di archiviazione</strong>.
    Spesso i server sono portati ai limiti operativi, in funzione h24 e senza la possibilità di organizzare dei fermi per verifiche e manutenzioni; ciò può causare da <strong>rallentamenti e peggioramenti nelle prestazioni complessive</strong> a veri e propri <strong>blocchi</strong> dovuti alla <strong>saturazione della memoria</strong> o dello storage, o a <strong>intrusioni nel server</strong> da parte di malintenzionati. </p>

    <p class="p5">Anche <strong>i sistemi operativi Windows Server non sono esenti da vulnerabilità</strong> ed errori di sviluppo e devono quindi essere applicati i costanti aggiornamenti per correggere i problemi e tamponare le falle di sicurezza. Negli ultimi anni il problema si è accentuato perchè le <strong>nuove vulnerabilità vengono scoperte quasi quotidianamente</strong>, esercitando così un’enorme pressione sui produttori, in primis Microsoft appunto, affinché rilascino patch prima che siano state completamente testate: il risultato è che <strong>spesso gli aggiornamenti che risolvono un problema involontariamente ne creano un altro</strong>. Da qui la necessità di <strong>non considerare l’installazione delle patch come un compito banale</strong> risolvibile con un click, ma come un processo che deve essere prima valutato, validato e solo dopo messo in opera da tecnici qualificati.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p6">Noi di TEL&CO <strong>ci occupiamo quotidianamente di seguire correttamente il funzionamento, la manutenzione e l’aggiornamento dei server</strong>, ovvero il componente tanto essenziale quanto critico che <strong>richiede competenze specifiche</strong> di livello più alto rispetto alla normale gestione delle postazioni di lavoro.</p>

    <p class="p7">In particolare, il nostro obiettivo è quello di <strong>anticipare l’insorgenza di problemi bloccanti o situazioni critiche</strong>: per fare ciò ci avvaliamo di un <strong>sistema di monitoraggio attivo 24 ore su 24 e 7 giorni su 7</strong>, che notifica il supporto tecnico all’insorgere di criticità che nella maggior parte dei casi prendiamo in carico <strong>da remoto e senza condizionare l’operatività degli utenti aziendali</strong>. </p>


    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
                Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
                Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="FOCUS SUL BUSINESS">
            <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-638.svg">
              <p-accordion>
                <p-accordionTab header="PREVENZIONE">
            <p>Supervisioniamo tutte le infrastrutture informatiche dei nostri clienti  sono monitorati da un sistema automatico e continuo. Attraverso il monitoraggio continuo e garantito ci attiviamo prima di un evento bloccante, appena un potenziale problema viene rilevato.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
            
            <div class="flex quattro">
              <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
              <p-accordion>
                <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
            <p>Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
    
            <div class="flex cinque">
                <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-639.svg">
                <p-accordion>
                  <p-accordionTab header="PROTEZIONE COMPLETA">
              <p>La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p>
              </p-accordionTab>
              </p-accordion>
              </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="SERVER E INFRASTRUTTURE">
                  <p>Siamo a tua disposizione per una consulenza sugli strumenti di lavoro: postazioni PC Windows e Apple Mac e dispositivi Mobili Android o Apple iOS.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="SICUREZZA">
            <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="TECNOLOGIE MICROSOFT">
                <p>Le caselle di posta elettronica sono uno strumento essenziale di comunicazione interna verso gli altri colleghi, che per quella verso l’esterno, per gli ordinari scambi con partner, clienti, fornitori, collaboratori.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="HOSTING E DOMINI">
                <p>La piattaforma Microsoft 365 oggi è una vera e propria porta di accesso al percorso di trasformazione digitale di un’azienda,, che deve portare ad un aumento di produttività ed ottimizzazione dei flussi di lavoro.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
    
        </div>
            </div>

    </div>


    <h3>Certificazioni</h3>
<app-carousel></app-carousel>