<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Nelle aziende più piccole, raramente viene dedicato del personale alla gestione e risoluzione dei problemi informatici quotidiani, quasi mai troviamo un responsabile IT che si occupi della gestione e manutenzione del sistema informativo.</p>

    <p class="p2">Questo porta a blocchi frequenti dei sistemi IT con relativa frustrazione degli utenti che non possono lavorare in modo produttivo.  L’assenza di aggiornamenti e di una costante manutenzione e con i tentativi di intrusione e di attacco dall’esterno che sono sempre più frequenti, portano a forti rischi sulla sicurezza aziendale.</p>

    <p class="p3">Il nostro servizio di gestione completa dell’infrastruttura informatica è pensato proprio per queste aziende: il nostro team di esperti può controllare in modo continuativo il  regolare funzionamento dei tuoi dispositivi informatici ed occuparsi anche di quegli apparati che richiedono competenze di alto livello come i Firewall ed i sistemi di sicurezza e di backup.</p>

      <div class="divicone flex">





        <p-tabView>
          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-postazioniFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Postazioni'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Server'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-backupFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Backup'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-networkFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'Network e sicurezza'"></app-icone>
          </p-tabPanel>



          <p-tabPanel>
              <ng-template pTemplate="header">
                <app-icone class="immagine" [immagine]="'../../assets/images/icon-voipFinal.svg'"></app-icone>
                
              </ng-template>
              <app-icone class="titolo" [titolo]="'VOIP'"></app-icone>
          </p-tabPanel>

      </p-tabView>   

</div>

</div>


<h1>L’importanza di una postazione di lavoro sempre aggiornata</h1>

<p class="p4">Spesso <strong>le PMI non dedicano tempo e risorse sufficienti alle attività di manutenzione ed aggiornamento IT</strong>: il risultato è che i computer, gli smartphone e gli applicativi degli utenti non risultano performanti, aggiornati e in sicurezza, con il <strong>rischio di possibili attacchi da virus, rallentamenti o blocchi delle postazioni</strong> con relativo abbassamento nella produttività.</p>

<p class="p5">La <strong>sicurezza dei dati aziendali è un aspetto spesso sottovalutato</strong>: le postazioni di lavoro non costantemente aggiornate o scarsamente manutenute possono aprire falle nel sistema aumentandone la vulnerabilità.
    Negli ultimi anni il problema si è poi accentuato perché <strong>le nuove vulnerabilità vengono scoperte quasi quotidianamente</strong>, esercitando un’enorme pressione sui produttori come Microsoft affinché rilascino patch prima che siano state completamente testate; il risultato è che <strong>spesso gli aggiornamenti che risolvono un problema involontariamente ne creano un altro</strong>.
    Da qui il concetto che <strong>l’installazione delle patch</strong> non sia un compito banale e a portata di click, ma <strong>un processo che deve essere valutato, validato e solo dopo messo in opera</strong>, possibilmente da un tecnico qualificato.</p>


<h2>IL NOSTRO SERVIZIO</h2>

<p class="p6">I nostri tecnici offrono il <strong>giusto supporto e risposte mirate</strong> a quelle imprese che non hanno personale con competenze informatiche, facendosi carico di <strong>seguire la manutenzione e a dare assistenza agli utenti</strong>.</p>

<p class="p7">Riusciamo ad <strong>anticipare</strong> in molti casi <strong>l’insorgenza di problemi bloccanti o situazioni critiche</strong>, grazie al <strong>nostro sistema di monitoraggio attivo 24 ore su 24</strong> che ci informa per tempo dell’insorgenza di eventuali criticità per un <strong>efficace intervento da remoto o in presenza</strong> ove necessario, <strong>senza inficiare l’operatività degli utenti</strong>.</p>


<div class="riquadroazzurro2">



    <div class="flex">
        <div class="sinistra">
        <h1>I NOSTRI VANTAGGI</h1>
        <br>
        
        <div class="flex uno">
        <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
        <p-accordion>
          <p-accordionTab header="CONVENIENZA">
          <p class="piccoloparagrafo">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
          </p-accordionTab>
        </p-accordion>
        </div>
        
        
        <div class="flex due">
          <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
          <p-accordion>
            <p-accordionTab header="FOCUS SUL BUSINESS'">
        <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
            Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p>
        </p-accordionTab>
        </p-accordion>
        </div>
        
        
        
        <div class="flex tre">
          <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-638.svg">
          <p-accordion>
            <p-accordionTab header="PREVENZIONE">
        <p>Supervisioniamo tutte le infrastrutture informatiche dei nostri clienti  sono monitorati da un sistema automatico e continuo. Attraverso il monitoraggio continuo e garantito ci attiviamo prima di un evento bloccante, appena un potenziale problema viene rilevato.</p> 
        </p-accordionTab>
        </p-accordion>
        </div>
        
        <div class="flex quattro">
          <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
          <p-accordion>
            <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
        <p>Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.</p>
        </p-accordionTab>
        </p-accordion>
        </div>

        <div class="flex cinque">
            <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-639.svg">
            <p-accordion>
              <p-accordionTab header="PROTEZIONE COMPLETA">
          <p>La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p>
          </p-accordionTab>
          </p-accordion>
          </div>

        </div>
       
        <div class="destra">
          <h1>AREE DI INTERVENTO</h1>
          <br>
        
        
          <p-accordion>
            <p-accordionTab header="POSTAZIONI DI LAVORO">
              <p>Siamo a tua disposizione per una consulenza sugli strumenti di lavoro: postazioni PC Windows e Apple Mac e dispositivi Mobili Android o Apple iOS.</p>
              <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
          </p-accordion>
          
        
          <p-accordion>
            <p-accordionTab header="SICUREZZA">
        <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
        <button class="bottone">Scopri di più</button>  
        </p-accordionTab>
        </p-accordion>
        
        
        <p-accordion>
          <p-accordionTab header="MAIL E PEC">
            <p>Le caselle di posta elettronica sono uno strumento essenziale di comunicazione interna verso gli altri colleghi, che per quella verso l’esterno, per gli ordinari scambi con partner, clienti, fornitori, collaboratori.</p>
            <button class="bottone">Scopri di più</button>  
          </p-accordionTab>
        </p-accordion>
        
        
        <p-accordion>
          <p-accordionTab header="TECNOLOGIE MICROSOFT">
            <p>La piattaforma Microsoft 365 oggi è una vera e propria porta di accesso al percorso di trasformazione digitale di un’azienda,, che deve portare ad un aumento di produttività ed ottimizzazione dei flussi di lavoro.</p>
            <button class="bottone">Scopri di più</button>  
          </p-accordionTab>
        </p-accordion>

              
        <p-accordion>
            <p-accordionTab header="TECNOLOGIE MICROSOFT">
              <p>Supportiamo le aziende nella scelta del provider migliore, con il giusto rapporto qualità/prezzo e per creare le condizioni necessarie per garantire la business continuity.</p>
              <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
          </p-accordion>
    
    </div>
        </div>

</div>

<h3>Certificazioni</h3>
<app-carousel></app-carousel>