<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Grazie ai nostri sviluppatori, ci occupiamo quotidianamente di progettare, costruire e manutenere
        qualsiasi progetto web, ecommerce, mobile, intranet, con uno sguardo costante a ricerca e sviluppo di nuove
        soluzioni ed il supporto del team hosting di secondo livello.</p>


    <div class="divicone flex">



        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Piattaforme Web'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'E-commerce'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppomobileFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Applicazioni mobile'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-intranetFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Intranet e aree riservate'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Software custom'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'UI/UX'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'SEO e social'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Gestionali e ERP'"></app-icone>
            </p-tabPanel>
           
        </p-tabView>

    </div>
</div>



<h1>Posizionamento e comunicazione per un’azienda dentro il mercato</h1>

<p class="p4">Abbiamo detto come il sito web oggi si stia rivelando uno strumento dinamico ed in continua evoluzione,
    che oltre ad essere in grado di comunicare la propria offerta deve poter essere collegato con dati ed informazioni
    aggiornate: risulta quindi essenziale che la <strong>presenza online dell’impresa sia posizionata correttamente sui
        motori di ricerca</strong> secondo le <strong>keyword strategiche</strong> che identificano gli specifici
    prodotti e servizi offerti, dal posizionamento locale fino a quello sui mercati tradizionali. Tutto ciò viene
    definito <strong>SEO</strong>, ovvero <strong>search engine optimization</strong>, che in sostanza significa essere
    trovati su Google in determinate ricerche semantiche.</p>

<p class="p5">Individuare i <strong>corretti canali di comunicazione sui social</strong>, il <strong>tono di
        voce</strong> e le <strong>regole da utilizzare</strong> nella comunicazione coi propri followers, redigere un
    <strong>calendario editoriale</strong> per organizzare contenuti di valore e promozionali in grado di rafforzare il
    marketing aziendale, gestire campagne pubblicitarie online: tutti <strong>questi obiettivi richiedono professionisti
        in grado di mettere a fuoco obiettivi e filosofia del cliente</strong>.</p>


<h2>IL NOSTRO SERVIZIO</h2>

<p class="p8">Grazie alle nostre collaborazioni pluriennali con partner di fiducia come <strong>Teplaco Agency</strong>
    e <strong>Agile Idea</strong>, affianchiamo ai nostri clienti <strong>professionisti di valore</strong> in grado di
    ottimizzare il <strong>posizionamento web delle aziende</strong>: attraverso un’analisi di mercato e dei competitor
    principali, hanno le competenze per individuare le <strong>migliori keyword</strong> in termini di efficacia, con
    <strong>ritorni misurabili</strong> nelle ricerche su Google.</p>

<p class="p9">Il loro apporto in termini consulenziali consente più in generale di progettare un piano di comunicazione
    aziendale, affiancando i nostri clienti nella gestione e aggiornamento dei loro <strong>profili social
        aziendali</strong>, ideando e seguendo campagne specifiche in accordo con il <strong>marketing</strong> e con la
    proprietà, correlate da <strong>report</strong> dettagliati per un <strong>monitoraggio costante di investimenti e
        risultati</strong> ottenuti.</p>


<div class="riquadroazzurro2">

    <div class="flex">
        <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>

            <div class="flex uno">
                <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
                <p-accordion>
                    <p-accordionTab header="COMPETENZE CERTIFICATE">
                        <p class="piccoloparagrafo">Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo
                            fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.
                        </p>
                    </p-accordionTab>
                </p-accordion>
            </div>


            <div class="flex due">
                <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
                <p-accordion>
                    <p-accordionTab header="CONVENIENZA">
                        <p>Collaboriamo con grafici e UI/UX designers per offrire ai nostri clienti prodotti software
                            completi, dal layout alla progettazione fino allo sviluppo vero e proprio della soluzione
                            condivisa, garantendone la manutenzione nel tempo </p>
                    </p-accordionTab>
                </p-accordion>
            </div>



            <div class="flex tre">
                <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
                <p-accordion>
                    <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
                        <p>Creiamo soluzioni web partendo da un approccio modulare, ed allestendo una struttura
                            integrabile con software aggiuntivi, definiti plugin, per incrementarne e diversificarne le
                            funzionalità.</p>
                    </p-accordionTab>
                </p-accordion>
            </div>


            <div class="flex quattro">
                <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-627.svg">
                <p-accordion>
                    <p-accordionTab header="RISPARMIO">
                        <p>La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la
                            nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano
                            l’infrastruttura aziendale ed i dati più sensibili e strategici.</p>
                    </p-accordionTab>
                </p-accordion>
            </div>

            <div class="flex cinque">
                <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-636.svg">
                <p-accordion>
                    <p-accordionTab header="SCALABILITA'">
                        <p>La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la
                            nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano
                            l’infrastruttura aziendale ed i dati più sensibili e strategici.</p>
                    </p-accordionTab>
                </p-accordion>
            </div>

        </div>

        <div class="destra">
            <h1>AREE DI INTERVENTO</h1>
            <br>


            <p-accordion>
                <p-accordionTab header="AGEVOLAZIONI E CREDITO D'IMPOSTA">
                    <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo
                        sviluppo strutturale delle aziende. </p>
                    <P>Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</P>
                    <button class="bottone">Scopri di più</button>
                </p-accordionTab>
            </p-accordion>


            <p-accordion>
                <p-accordionTab header="LOCAZIONE OPERATIVA">
                    <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni
                        strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni
                        strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p>
                    <button class="bottone">Scopri di più</button>
                </p-accordionTab>
            </p-accordion>


            <p-accordion>
                <p-accordionTab header="FORMAZIONE">
                    <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare
                        progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire
                        tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                    <button class="bottone">Scopri di più</button>
                </p-accordionTab>
            </p-accordion>

            <p-accordion>
                <p-accordionTab header="ISTITUTI SUPERIORI E UNIVERSITA'">
                    <p>Abbiamo scelto di collaborare con istituti superiori ed università per tutti quei progetti di
                        scuola/lavoro che consentano agli studenti di prendere le misure di un ambiente come il nostro,
                        fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da
                        dover districare.</p>
                    <button class="bottone">Scopri di più</button>
                </p-accordionTab>
            </p-accordion>

        </div>
    </div>

</div>

<h3>Certificazioni</h3>
<app-carousel></app-carousel>