
<div class="desktop">

    <app-riquadroinalto [colore] = "'colore3'" [titolo] = "'Le nostre soluzioni'" [paragrafo] = "'La competenza certificata, la continua formazione e l’aggiornamento del nostro personale ci permettono di realizzare soluzioni tecnologiche sempre al passo con i tempi e avanguardia.'"></app-riquadroinalto>


<div class="accordion">
    <p-accordion>
        <p-accordionTab header="Server e Infrastrutture">
                <h1 class="secondoh1">Server e Infrastrutture</h1>
                <p class="p1">Ogni giorno progettiamo, implementiamo e supportiamo le aziende nella <strong>gestione
                        delle architetture IT</strong> su cui si basano i sistemi informativi.</p>
                <p class="p2">La nostra è un’attività di tipo sartoriale e prevede <strong>un‘analisi
                        preliminare</strong> delle specifiche necessità delle aziende, per fornire un progetto con
                    adeguati livelli di <strong>affidabilità, scalabilità, sicurezza dei dati</strong> e con un
                    <strong>costo operativo concorrenziale.</strong></p>
                <p class="p3">In base alle specifiche esigenze, proponiamo quindi le soluzioni più adatte, dalle
                    <strong>infrastrutture tradizionali</strong> basate su server <strong>hardware fisico</strong>, a
                    quelle <strong>virtualizzate</strong> con uno o più server, <strong>cluster</strong> o <strong>alta
                        affidabilità, SAN</strong>.</p>
                <p class="p4"><strong>Progettiamo infrastrutture iperconvergenti ed in cloud</strong>, supportati dai
                    migliori provider di servizi come <strong>Amazon Web Services, Microsoft Azure e Google Cloud
                        Platform.</strong></p>
                <button class="bottone">Scopri di più</button>     
        </p-accordionTab>
        <p-accordionTab header="Backup e Disaster Recovery">
            <h1 class="secondoh1">Backup e Disaster Recovery</h1>
            <h4 class="h4speciale">Il Backup è fondamentale per non perdere i dati nel caso di un incidente informatico o di altra natura
            </h4>
            <p class="p1">Il backup è l’attività con cui viene creata e memorizzata altrove una copia di sicurezza dei
                dati, per poterli recuperare in caso di incidenti o imprevisti.
                Senza un adeguato piano di backup e recovery nessuna azienda può dormire sonni tranquilli, perché
                rischia di perdere il suo patrimonio ovvero i dati aziendali, temporaneamente o per sempre.
                La perdita dei dati porta spesso anche alla perdita di tempo e soldi, reputazione e clienti.</p>
            <p class="p2">L’importanza del backup negli ultimi anni è ulteriormente cresciuta anche perchè agli
                imprevisti più conosciuti, come la rottura di un computer o di un server, di un blackout che mette fuori
                uso temporaneamente una sala macchine, sono sempre più frequenti gli attacchi informatici tramite
                ransomware che eseguono la crittografia dei file contenuti sul sistema target, rendendoli inservibili e
                no recuperabili se non pagando un riscatto.</p>
            <p class="p3">Il costo della perdita di dati può tradursi in gravi danni economici, la cui entità può
                dipendere da molti fattori:</p>
            <li>il <strong>tipo di dati compromesso</strong>; ad esempio se viene persa l’anagrafica dei clienti, oppure gli archivi
                contabili oppure i messaggi di posta o gli archivi dei progetti</li>
            <li>la <strong>durata dell’interruzione di attività</strong>, le cui conseguenze spaziano dalla mancata produzione e vendite,
                alla perdita di reputazione, alle azioni legali avviate dai clienti;</li>
            <li>eventuali <strong>sanzioni pecuniarie</strong>, per esempio per mancata conformità ai requisiti del Gdpr (che richiede
                alle aziende di proteggere i propri dati con backup regolari e ripristino d’emergenza);</li>
            <li>la <strong>richiesta di riscatti da pagare</strong>, quando la perdita dei dati è conseguenza di un attacco ransomware;
            </li>
            <li>i costi del <strong>recupero dei dati</strong>, attività che può richiedere molto tempo o anche risultare impossibile.
            </li>
            <p class="p5">Le conseguenze economiche sono particolarmente gravi per il settore sanitario e, a seguire,
                per il mondo dell’istruzione, per il farmaceutico, per i servizi finanziari, per le aziende di
                progettazione e produzione.</p>
            <h2>Analizzare e prevenire i disastri</h2>
            <p class="p6">Un evento disastroso può capitare a qualunque azienda: da un evento naturale (alluvione,
                terremoto, sbalzo elettrico a causa di un fulmine ecc.) ad un guasto Hardware su una apparecchiatura
                critica, o un errore umano o un attacco ransomware, sono solo alcune delle casistiche più diffuse.</p>
            <p class="p7">I dati informatici sono sempre a rischio e occorre fare tutto il possibile per <strong>proteggerli</strong>, ma
                spesso il semplice Backup non è sufficiente.</p>
            <p class="p8">Oltre alla protezione dei dati è importante, in seguito ad un incidente, riuscire a
            <strong>ripristinare la funzionalità</strong> dei sistemi più rapidamente possibile, per consentire di tornare
                immediatamente alla piena operatività in azienda.</p>
            <p class="p9">La pandemia che ha portato a nuove metodologia di lavoro, dove le persone pur lavorando da
                fuori sede si collegano tutte alla sede tramite sistemi digitali, ha fatto capire in modo molto chiaro
                l’importanza della <strong>continuità aziendale</strong> e che oggi nessuna organizzazione può permettersi di fermarsi.
            </p>
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>
        <p-accordionTab header="Sicurezza">
            <h1 class="secondoh1">Sicurezza</h1>
            <h4>Negli ultimi anni sta assumendo sempre maggiore rilevanza il tema della sicurezza informatica, o cybersecurity, cioè quell’insieme di azioni, strumenti e regole che hanno lo scopo di difendere le informazioni sensibili che ogni azienda possiede da attacchi interni ed esterni.</h4>
            <p class="p1">Ogni organizzazione deve mettere in pratica una serie di attività con lo scopo di tutelare il sistema informatico (dal pc, alla rete, fino al dispositivo mobile) e i dati sensibili contenuti.</p>
            <p class="p2">Lo scopo principale delle soluzioni di sicurezza informatica è identificare e bloccare gli attacchi che cercano di interrompere la produttività dell’azienda, distruggere o rubare informazioni sensibili e accedere senza autorizzazione al sistema aziendale.</p>
            <p class="p3">Per mantenere in sicurezza i dati aziendali e la produttività è necessaria una strategia di protezione organica e ben pianificata con elementi che possono lavorare insieme e costantemente monitorati.
                Tra gli elementi da prevedere:</p>
            <li>sistemi antivirus</li>
            <li>sistemi antispam</li>
            <li>sistemi gestione delle password</li>
            <li>protezione del perimetro della rete tramite firewall/UTM</li>
            <li>connessioni criptate VPN per navigare in sicurezza.</li>
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>
        <p-accordionTab header="Postazioni di lavoro">
            <h1 class="secondoh1">Postazioni di lavoro</h1>
            <p class="p1">Siamo a tua disposizione per una consulenza sugli strumenti di lavoro: postazioni PC Windows e Apple Mac e dispositivi Mobili Android o Apple iOS che possiamo integrare tra loro e fornirti tutto il supporto tecnico nel tempo.</p>
            <p class="p2">Con la diffusione del lavoro in mobilità ed Agile (Smart Working) ci siamo specializzati nelle soluzioni di collaborazione, videoconferenza e apparecchiature da sala riunione, che consentono semplificare il lavoro in Team. </p>
            <p class="p3">Possiamo inoltre consigliarti le migliori periferiche di stampa, sia di etichette per gli ambienti industriali che quelle da ufficio e per reparti grafici.</p>
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>
        <p-accordionTab header="Network">
            <h1 class="secondoh1">Network</h1>
            <p class="p1">L’operatività di una azienda parte dalla sua rete.</p>
            <p class="p2">Se la rete non è correttamente funzionante si avranno necessariamente dei disservizi alla telefonia, navigazione in Internet, nella collaborazione tra colleghi ed utilizzo delle applicazioni software che dipendono infatti dalle reti aziendali e dai cablaggi strutturati.</p>
            <p class="p3">Diventa quindi fondamentale che i collegamenti vengano correttamente implementati e testati e che i dispositivi abilitanti, come gli Switch di Network e del Data Center, gli Access Point per la rete WiFi e gli UTM/Firewall per il collegamento alle linee di connettività e alle altre sedi, siano opportunamente progettati e manutenuti</p>
            <p class="p4">TEL&CO progetta reti Wireless di qualunque complessita e alle competenze dei suoi ingegneri di rete, affianca le soluzioni professionali di Ekahau per realizzare Survey in campo affidabili e implementazioni allineate alle aspettative e requisiti di progetto.</p>
            <p class="p5">Con una esperienza nelle reti aziendali di oltre 20 anni, TEL&CO è il Partner ideale per offrire una soluzione a tutte le problematiche di Network</p>
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>
        <p-accordionTab header="Tecnologie Microsoft">
            <h1 class="secondoh1">Tecnologie Microsoft</h1>
            <h4>La piattaforma Microsoft 365 ti permette di iniziare il percorso di trasformazione digitale e di aumentare la produttività e la sicurezza in azienda, grazie all’utilizzo di strumenti come Outlook e il pacchetto Office, assieme all’utilizzo di servizi fortemente orientati alla collaborazione come OneDrive, Sharepoint, Teams e Planner.</h4>
        <p class="p1">I nostri consulenti possono aiutarti nella fase di acquisto delle licenze e mettendo a tua disposizione la nostra esperienza tecnica per la migrazione dei tuoi utenti, mail e dati in sicurezza.</p>
        <p class="p2">Riteniamo fondamentale farti comprendere le potenzialità della piattaforma per consentirti di sfruttarne tutte le funzionalità, quindi possiamo fornirti la formazione e rimanerti accanto in tutto il processo di adozione degli strumenti.</p>
        <button class="bottone">Scopri di più</button>
        </p-accordionTab>
        <p-accordionTab header="Mail e PEC">
        <h1 class="secondoh1">Mail e PEC</h1>
        <p class="p1">Le <strong>caselle di posta elettronica</strong> sono oggi per un’azienda <strong>strumento essenziale</strong> di comunicazione. Solitamente ogni risorsa aziendale, e in aggiunta o in alternativa ogni dipartimento, sono dotati di un account email aziendale caratterizzato dal dominio @nomeazienda.it o .com: questo, sia per gestire la comunicazione interna verso gli altri colleghi, che per quella verso l’esterno, per gli ordinari scambi con partner, clienti, fornitori, collaboratori.</p>
        <p class="p2">Allo stesso modo la <strong>PEC</strong>, con la sua <strong>validità giuridica</strong>, è una forma particolare di <strong>posta certificata</strong> che consente di gestire digitalmente qualsiasi tipo di pratica formale, amministrativa e contrattuale.</p>
        <p class="p3">Nel flusso di informazioni tra colleghi e dipartimenti poi, la <strong>condivisione di documenti, dati, appuntamenti e indicatori</strong> specifici diviene essenziale per una corretta gestione della complessità aziendale.</p>
        <button class="bottone">Scopri di più</button>
    </p-accordionTab>
        <p-accordionTab header="Hosting e Domini">
        <h1 class="secondoh1">Hosting e Domini</h1>
        <p class="p1">Il <strong>dominio</strong> oggi rappresenta <strong>uno dei pilastri fondamentali dell’azienda</strong>: da lui partono tutte le diramazioni per la gestione della posta elettornica e del sito web, <strong>è parte integrante dell’identità e dell’immagine dell’azienda.</strong></p>
        <p class="p2">Una <strong>corretta gestione delle sue impostazioni</strong> (DNS) oltre che il <strong>rinnovo annuale automatico</strong>, diventano i prerequisti fondamentali per una corretta gestione.</p>
        <p class="p3">Oltre a ciò, <strong>l’ospitalità di siti, gestionali, ecommerce CRM e database</strong> necessitano sempre di più di <strong>soluzioni in cloud sicure, performanti e scalabili</strong>, alla luce di una <strong>crescita esponenziale di dati</strong> che le aziende si trovano a dover gestire, con un occhio di riguardo al nuovo <strong>GDPR</strong>.</p>
        <button class="bottone">Scopri di più</button>
    </p-accordionTab>
        <p-accordionTab header="Sviluppo software">
            <h1 class="secondoh1">Sviluppo software</h1>
            <p class="p1">Tutte le aziende oggi sono basate sul software: dal gestionale al sito web, passando per aree riservate e applicazioni web customizzate, <strong>tutti i flussi di lavoro sono condizionati dal digitale e dal codice.</strong></p>
            <p class="p2">Oggi il <strong>software richiede un’analisi quanto mai accurata</strong>, essendo costituito da <strong>molteplici componenti e fattori interni ed esterni</strong> che ne possono condizionare il regolare funzionamento: un semplice sito web, oggi richiede una serie di <strong>certificazioni, ottimizzazioni e diciture legali</strong> obbligatorie per essere a norma e di livello standard: da ciò si comprende come lo studio preliminare del progetto di sviluppo sia essenziale per la riuscita dello stesso: <strong>il team software di TEL&CO si occupa quotidianamente di progettare, implementare e manutenere differenti soluzioni software</strong>.</p>
            <p class="p3">Grazie alle skill acquisite dal nostro team siamo infatti nelle condizioni  di implementare oltre che i <strong>siti web tradizionali, anche ecommerce, portali, aree riservate, intranet, cruscotti, applicazioni mobili.</strong>
                Con <strong>ricerca e sviluppo continui</strong>, esploriamo sempre nuove soluzioni: attualmente un team dedicato sta approfondendo le potenzialità delle <strong>Power Apps di Microsoft</strong>, per offrire strumenti sempre più performanti ed integrati ai propri clienti.</p>
                <button class="bottone">Scopri di più</button>
        </p-accordionTab>
        <p-accordionTab header="Internet e Telefonia">
            <h1 class="secondoh1">Internet e Telefonia</h1>
            <h4>Per garantire la continuità del servizio internet non è sufficiente affidarsi a un buon fornitore di connettività.</h4>
            <p class="p1">Ogni linea ha i suoi momenti di disservizio, con diversi livelli di qualità e nessuna connettività è esente da problemi.</p>
            <p class="p2">Anche le tecnologie apparentemente più sicure (es. Fibra ottica) non possono nulla contro un taglio accidentale del cavo da parte di operai che riparano una strada o altri spiacevoli inconvenienti.</p>
            <p class="p3">Le linee di connettività sono sempre in rapida evoluzione e diventa complicato rimanere aggiornati alle nuove tecnologie e alle offerte degli operatori di connettività e telefonici, sempre più aggressive.</p>
            <button class="bottone">Scopri di più</button>
        
        </p-accordionTab>
        <p-accordionTab header="Centralini VOIP e Microsoft Phone System">
            <h1 class="secondoh1">Centralini VOIP e Microsoft Phone System</h1>
            <h4>Dai sistemi telefonici tradizionali alle soluzioni VOIP in Cloud.</h4>
            <p class="p1">Negli ultimi anni il modo di lavorare e comunicare è cambiato e la pandemia ha accelerato la diffusione dello Smart Working e la necessità di strumenti di lavoro più flessibili, utilizzabili non solo in sede ma ovunque si trovi il lavoratore.
                Il sistema telefonico tradizionale si è rivelato da subito uno strumento limitato, anche per le realtà aziendali più piccole.</p>
            <p class="p2">La soluzione che proponiamo da oltre 20 anni e su cui abbiamo maturato una solida esperienza è l’integrazione dei sistemi telefonici tradizionali con le reti informatiche ed i software utilizzati in azienda, come ad esempio i sistemi di collaborazione aziendale Microsoft 365 e Teams.</p>
                <p class="p3">Queste soluzioni:</p>

                <li>sono completamente software ed in Cloud, completamente sicure “By Design” e con tutti gli aggiornamenti di sicurezza necessari nel tempo</li>
                <li>offrono vantaggi di produttività per gli utilizzatori, con nuove funzionalità molto apprezzate e si integrano con Microsoft Office 365 e Teams, gestionali come SAP Business One e CRM come HubSpot, Salesforce ecc</li>
                <li>consentono di utilizzare linee telefoniche di tipo analogico, digitale ISDN e gestire in modo nativo le numerazioni VOIP in Trunk SIP.</li>
                <li>non richiedono l’acquisto di apparecchiature da installare in azienda e che richiedono manutenzione nel tempo</li>
                <li>sono scalabili (è possibile iniziare con pochi interni telefonici e arrivare a diverse migliaia) e possono crescere a pari passo con la azienda</li>
                <li>garantiscono una maggiore affidabilità unita ad una riduzione dei costi complessivi</li>
                <li>consentono la razionalizzazione delle linee di connettività internet e dei contratti telefonici.</li>
                <button class="bottone">Scopri di più</button>
        </p-accordionTab>
        <p-accordionTab header="Privacy e GDPR">
            <h1 class="secondoh1">Privacy & GDPR</h1>
            <p class="p1">Con l’entrata in vigore del GDPR, il 25 maggio 2016, la sua completa applicazione il 24 maggio 2018 e gli interventi successivi dei membri dell’Autorità Garante, è emersa la necessità per le aziende di due diversi tipi di adeguamento:</p>
            <p class="p2"><strong>a) Legale ed organizzativo</strong>, sia alle procedure interne della azienda, sia alle criticità e rischi residui, sia alla formazione del personale sulle nuove procedure e regolamenti.</p>
            <p class="p3"><strong>b) Informatico e Sicurezza IT</strong>, alle metodologie di trattamento, archiviazione e monitoraggio dei dati digitali sui sistemi.
                Questo adeguamento ad esempio può prevedere:</p>
                <li>l’inserimento o potenziamento delle strutture di sicurezza perimetrale (UTM/Firewall)</li>
                <li>Il cambiamento nell’uso della posta elettronica e nella condivisione tra gli utenti delle credenziali di accesso ai sistemi</li>
                <li>Il cambiamento delle strategie di Backup, con l’aggiunta di destinazioni in Cloud</li>
                <li>l’inserimento di sistemi di controllo o di blocco di circolazione delle informazioni per evitare furti o violazione dei dati</li>
                <li>la valutazione delle possibili vulnerabilità dei sistemi informatici interni ed esterni, tramite degli esami di vulnerabilità o Penetration Test</li>
                <button class="bottone">Scopri di più</button>
        </p-accordionTab>
    </p-accordion>
</div>

</div>


<div class="mobile">

    <div class="riquadroverde">

        <h1 class="hnumero1">Le nostre soluzioni</h1>
    
        <p class="testo1">La competenza certificata, la continua formazione e l’aggiornamento del nostro personale ci
            permettono di realizzare soluzioni tecnologiche sempre al passo con i tempi e avanguardia.</p>
    </div>
    
    
    <div class="accordion">
        <p-accordion>
            <p-accordionTab header="Server e Infrastrutture">
                    <h1 class="secondoh1">Server e Infrastrutture</h1>
                    <p class="p1">Ogni giorno progettiamo, implementiamo e supportiamo le aziende nella <strong>gestione
                            delle architetture IT</strong> su cui si basano i sistemi informativi.</p>
                    <p class="p2">La nostra è un’attività di tipo sartoriale e prevede <strong>un‘analisi
                            preliminare</strong> delle specifiche necessità delle aziende, per fornire un progetto con
                        adeguati livelli di <strong>affidabilità, scalabilità, sicurezza dei dati</strong> e con un
                        <strong>costo operativo concorrenziale.</strong></p>
                    <p class="p3">In base alle specifiche esigenze, proponiamo quindi le soluzioni più adatte, dalle
                        <strong>infrastrutture tradizionali</strong> basate su server <strong>hardware fisico</strong>, a
                        quelle <strong>virtualizzate</strong> con uno o più server, <strong>cluster</strong> o <strong>alta
                            affidabilità, SAN</strong>.</p>
                    <p class="p4"><strong>Progettiamo infrastrutture iperconvergenti ed in cloud</strong>, supportati dai
                        migliori provider di servizi come <strong>Amazon Web Services, Microsoft Azure e Google Cloud
                            Platform.</strong></p>
                    <button class="bottone">Scopri di più</button>     
            </p-accordionTab>
            <p-accordionTab header="Backup e Disaster Recovery">
                <h1 class="secondoh1">Backup e Disaster Recovery</h1>
                <h4 class="h4speciale">Il Backup è fondamentale per non perdere i dati nel caso di un incidente informatico o di altra natura
                </h4>
                <p class="p1">Il backup è l’attività con cui viene creata e memorizzata altrove una copia di sicurezza dei
                    dati, per poterli recuperare in caso di incidenti o imprevisti.
                    Senza un adeguato piano di backup e recovery nessuna azienda può dormire sonni tranquilli, perché
                    rischia di perdere il suo patrimonio ovvero i dati aziendali, temporaneamente o per sempre.
                    La perdita dei dati porta spesso anche alla perdita di tempo e soldi, reputazione e clienti.</p>
                <p class="p2">L’importanza del backup negli ultimi anni è ulteriormente cresciuta anche perchè agli
                    imprevisti più conosciuti, come la rottura di un computer o di un server, di un blackout che mette fuori
                    uso temporaneamente una sala macchine, sono sempre più frequenti gli attacchi informatici tramite
                    ransomware che eseguono la crittografia dei file contenuti sul sistema target, rendendoli inservibili e
                    no recuperabili se non pagando un riscatto.</p>
                <p class="p3">Il costo della perdita di dati può tradursi in gravi danni economici, la cui entità può
                    dipendere da molti fattori:</p>
                <li>il <strong>tipo di dati compromesso</strong>; ad esempio se viene persa l’anagrafica dei clienti, oppure gli archivi
                    contabili oppure i messaggi di posta o gli archivi dei progetti</li>
                <li>la <strong>durata dell’interruzione di attività</strong>, le cui conseguenze spaziano dalla mancata produzione e vendite,
                    alla perdita di reputazione, alle azioni legali avviate dai clienti;</li>
                <li>eventuali <strong>sanzioni pecuniarie</strong>, per esempio per mancata conformità ai requisiti del Gdpr (che richiede
                    alle aziende di proteggere i propri dati con backup regolari e ripristino d’emergenza);</li>
                <li>la <strong>richiesta di riscatti da pagare</strong>, quando la perdita dei dati è conseguenza di un attacco ransomware;
                </li>
                <li>i costi del <strong>recupero dei dati</strong>, attività che può richiedere molto tempo o anche risultare impossibile.
                </li>
                <p class="p5">Le conseguenze economiche sono particolarmente gravi per il settore sanitario e, a seguire,
                    per il mondo dell’istruzione, per il farmaceutico, per i servizi finanziari, per le aziende di
                    progettazione e produzione.</p>
                <h2>Analizzare e prevenire i disastri</h2>
                <p class="p6">Un evento disastroso può capitare a qualunque azienda: da un evento naturale (alluvione,
                    terremoto, sbalzo elettrico a causa di un fulmine ecc.) ad un guasto Hardware su una apparecchiatura
                    critica, o un errore umano o un attacco ransomware, sono solo alcune delle casistiche più diffuse.</p>
                <p class="p7">I dati informatici sono sempre a rischio e occorre fare tutto il possibile per <strong>proteggerli</strong>, ma
                    spesso il semplice Backup non è sufficiente.</p>
                <p class="p8">Oltre alla protezione dei dati è importante, in seguito ad un incidente, riuscire a
                <strong>ripristinare la funzionalità</strong> dei sistemi più rapidamente possibile, per consentire di tornare
                    immediatamente alla piena operatività in azienda.</p>
                <p class="p9">La pandemia che ha portato a nuove metodologia di lavoro, dove le persone pur lavorando da
                    fuori sede si collegano tutte alla sede tramite sistemi digitali, ha fatto capire in modo molto chiaro
                    l’importanza della <strong>continuità aziendale</strong> e che oggi nessuna organizzazione può permettersi di fermarsi.
                </p>
                <button class="bottone">Scopri di più</button>
            </p-accordionTab>
            <p-accordionTab header="Sicurezza">
                <h1 class="secondoh1">Sicurezza</h1>
                <h4>Negli ultimi anni sta assumendo sempre maggiore rilevanza il tema della sicurezza informatica, o cybersecurity, cioè quell’insieme di azioni, strumenti e regole che hanno lo scopo di difendere le informazioni sensibili che ogni azienda possiede da attacchi interni ed esterni.</h4>
                <p class="p1">Ogni organizzazione deve mettere in pratica una serie di attività con lo scopo di tutelare il sistema informatico (dal pc, alla rete, fino al dispositivo mobile) e i dati sensibili contenuti.</p>
                <p class="p2">Lo scopo principale delle soluzioni di sicurezza informatica è identificare e bloccare gli attacchi che cercano di interrompere la produttività dell’azienda, distruggere o rubare informazioni sensibili e accedere senza autorizzazione al sistema aziendale.</p>
                <p class="p3">Per mantenere in sicurezza i dati aziendali e la produttività è necessaria una strategia di protezione organica e ben pianificata con elementi che possono lavorare insieme e costantemente monitorati.
                    Tra gli elementi da prevedere:</p>
                <li>sistemi antivirus</li>
                <li>sistemi antispam</li>
                <li>sistemi gestione delle password</li>
                <li>protezione del perimetro della rete tramite firewall/UTM</li>
                <li>connessioni criptate VPN per navigare in sicurezza.</li>
                <button class="bottone">Scopri di più</button>
            </p-accordionTab>
            <p-accordionTab header="Postazioni di lavoro">
                <h1 class="secondoh1">Postazioni di lavoro</h1>
                <p class="p1">Siamo a tua disposizione per una consulenza sugli strumenti di lavoro: postazioni PC Windows e Apple Mac e dispositivi Mobili Android o Apple iOS che possiamo integrare tra loro e fornirti tutto il supporto tecnico nel tempo.</p>
                <p class="p2">Con la diffusione del lavoro in mobilità ed Agile (Smart Working) ci siamo specializzati nelle soluzioni di collaborazione, videoconferenza e apparecchiature da sala riunione, che consentono semplificare il lavoro in Team. </p>
                <p class="p3">Possiamo inoltre consigliarti le migliori periferiche di stampa, sia di etichette per gli ambienti industriali che quelle da ufficio e per reparti grafici.</p>
                <button class="bottone">Scopri di più</button>
            </p-accordionTab>
            <p-accordionTab header="Network">
                <h1 class="secondoh1">Network</h1>
                <p class="p1">L’operatività di una azienda parte dalla sua rete.</p>
                <p class="p2">Se la rete non è correttamente funzionante si avranno necessariamente dei disservizi alla telefonia, navigazione in Internet, nella collaborazione tra colleghi ed utilizzo delle applicazioni software che dipendono infatti dalle reti aziendali e dai cablaggi strutturati.</p>
                <p class="p3">Diventa quindi fondamentale che i collegamenti vengano correttamente implementati e testati e che i dispositivi abilitanti, come gli Switch di Network e del Data Center, gli Access Point per la rete WiFi e gli UTM/Firewall per il collegamento alle linee di connettività e alle altre sedi, siano opportunamente progettati e manutenuti</p>
                <p class="p4">TEL&CO progetta reti Wireless di qualunque complessita e alle competenze dei suoi ingegneri di rete, affianca le soluzioni professionali di Ekahau per realizzare Survey in campo affidabili e implementazioni allineate alle aspettative e requisiti di progetto.</p>
                <p class="p5">Con una esperienza nelle reti aziendali di oltre 20 anni, TEL&CO è il Partner ideale per offrire una soluzione a tutte le problematiche di Network</p>
                <button class="bottone">Scopri di più</button>
            </p-accordionTab>
            <p-accordionTab header="Tecnologie Microsoft">
                <h1 class="secondoh1">Tecnologie Microsoft</h1>
                <h4>La piattaforma Microsoft 365 ti permette di iniziare il percorso di trasformazione digitale e di aumentare la produttività e la sicurezza in azienda, grazie all’utilizzo di strumenti come Outlook e il pacchetto Office, assieme all’utilizzo di servizi fortemente orientati alla collaborazione come OneDrive, Sharepoint, Teams e Planner.</h4>
            <p class="p1">I nostri consulenti possono aiutarti nella fase di acquisto delle licenze e mettendo a tua disposizione la nostra esperienza tecnica per la migrazione dei tuoi utenti, mail e dati in sicurezza.</p>
            <p class="p2">Riteniamo fondamentale farti comprendere le potenzialità della piattaforma per consentirti di sfruttarne tutte le funzionalità, quindi possiamo fornirti la formazione e rimanerti accanto in tutto il processo di adozione degli strumenti.</p>
            <button class="bottone">Scopri di più</button>
            </p-accordionTab>
            <p-accordionTab header="Mail e PEC">
            <h1 class="secondoh1">Mail e PEC</h1>
            <p class="p1">Le <strong>caselle di posta elettronica</strong> sono oggi per un’azienda <strong>strumento essenziale</strong> di comunicazione. Solitamente ogni risorsa aziendale, e in aggiunta o in alternativa ogni dipartimento, sono dotati di un account email aziendale caratterizzato dal dominio @nomeazienda.it o .com: questo, sia per gestire la comunicazione interna verso gli altri colleghi, che per quella verso l’esterno, per gli ordinari scambi con partner, clienti, fornitori, collaboratori.</p>
            <p class="p2">Allo stesso modo la <strong>PEC</strong>, con la sua <strong>validità giuridica</strong>, è una forma particolare di <strong>posta certificata</strong> che consente di gestire digitalmente qualsiasi tipo di pratica formale, amministrativa e contrattuale.</p>
            <p class="p3">Nel flusso di informazioni tra colleghi e dipartimenti poi, la <strong>condivisione di documenti, dati, appuntamenti e indicatori</strong> specifici diviene essenziale per una corretta gestione della complessità aziendale.</p>
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>
            <p-accordionTab header="Hosting e Domini">
            <h1 class="secondoh1">Hosting e Domini</h1>
            <p class="p1">Il <strong>dominio</strong> oggi rappresenta <strong>uno dei pilastri fondamentali dell’azienda</strong>: da lui partono tutte le diramazioni per la gestione della posta elettornica e del sito web, <strong>è parte integrante dell’identità e dell’immagine dell’azienda.</strong></p>
            <p class="p2">Una <strong>corretta gestione delle sue impostazioni</strong> (DNS) oltre che il <strong>rinnovo annuale automatico</strong>, diventano i prerequisti fondamentali per una corretta gestione.</p>
            <p class="p3">Oltre a ciò, <strong>l’ospitalità di siti, gestionali, ecommerce CRM e database</strong> necessitano sempre di più di <strong>soluzioni in cloud sicure, performanti e scalabili</strong>, alla luce di una <strong>crescita esponenziale di dati</strong> che le aziende si trovano a dover gestire, con un occhio di riguardo al nuovo <strong>GDPR</strong>.</p>
            <button class="bottone">Scopri di più</button>
        </p-accordionTab>
            <p-accordionTab header="Sviluppo software">
                <h1 class="secondoh1">Sviluppo software</h1>
                <p class="p1">Tutte le aziende oggi sono basate sul software: dal gestionale al sito web, passando per aree riservate e applicazioni web customizzate, <strong>tutti i flussi di lavoro sono condizionati dal digitale e dal codice.</strong></p>
                <p class="p2">Oggi il <strong>software richiede un’analisi quanto mai accurata</strong>, essendo costituito da <strong>molteplici componenti e fattori interni ed esterni</strong> che ne possono condizionare il regolare funzionamento: un semplice sito web, oggi richiede una serie di <strong>certificazioni, ottimizzazioni e diciture legali</strong> obbligatorie per essere a norma e di livello standard: da ciò si comprende come lo studio preliminare del progetto di sviluppo sia essenziale per la riuscita dello stesso: <strong>il team software di TEL&CO si occupa quotidianamente di progettare, implementare e manutenere differenti soluzioni software</strong>.</p>
                <p class="p3">Grazie alle skill acquisite dal nostro team siamo infatti nelle condizioni  di implementare oltre che i <strong>siti web tradizionali, anche ecommerce, portali, aree riservate, intranet, cruscotti, applicazioni mobili.</strong>
                    Con <strong>ricerca e sviluppo continui</strong>, esploriamo sempre nuove soluzioni: attualmente un team dedicato sta approfondendo le potenzialità delle <strong>Power Apps di Microsoft</strong>, per offrire strumenti sempre più performanti ed integrati ai propri clienti.</p>
                    <button class="bottone">Scopri di più</button>
            </p-accordionTab>
            <p-accordionTab header="Internet e Telefonia">
                <h1 class="secondoh1">Internet e Telefonia</h1>
                <h4>Per garantire la continuità del servizio internet non è sufficiente affidarsi a un buon fornitore di connettività.</h4>
                <p class="p1">Ogni linea ha i suoi momenti di disservizio, con diversi livelli di qualità e nessuna connettività è esente da problemi.</p>
                <p class="p2">Anche le tecnologie apparentemente più sicure (es. Fibra ottica) non possono nulla contro un taglio accidentale del cavo da parte di operai che riparano una strada o altri spiacevoli inconvenienti.</p>
                <p class="p3">Le linee di connettività sono sempre in rapida evoluzione e diventa complicato rimanere aggiornati alle nuove tecnologie e alle offerte degli operatori di connettività e telefonici, sempre più aggressive.</p>
                <button class="bottone">Scopri di più</button>
            
            </p-accordionTab>
            <p-accordionTab header="Centralini VOIP e Microsoft Phone System">
                <h1 class="secondoh1">Centralini VOIP e Microsoft Phone System</h1>
                <h4>Dai sistemi telefonici tradizionali alle soluzioni VOIP in Cloud.</h4>
                <p class="p1">Negli ultimi anni il modo di lavorare e comunicare è cambiato e la pandemia ha accelerato la diffusione dello Smart Working e la necessità di strumenti di lavoro più flessibili, utilizzabili non solo in sede ma ovunque si trovi il lavoratore.
                    Il sistema telefonico tradizionale si è rivelato da subito uno strumento limitato, anche per le realtà aziendali più piccole.</p>
                <p class="p2">La soluzione che proponiamo da oltre 20 anni e su cui abbiamo maturato una solida esperienza è l’integrazione dei sistemi telefonici tradizionali con le reti informatiche ed i software utilizzati in azienda, come ad esempio i sistemi di collaborazione aziendale Microsoft 365 e Teams.</p>
                    <p class="p3">Queste soluzioni:</p>
    
                    <li>sono completamente software ed in Cloud, completamente sicure “By Design” e con tutti gli aggiornamenti di sicurezza necessari nel tempo</li>
                    <li>offrono vantaggi di produttività per gli utilizzatori, con nuove funzionalità molto apprezzate e si integrano con Microsoft Office 365 e Teams, gestionali come SAP Business One e CRM come HubSpot, Salesforce ecc</li>
                    <li>consentono di utilizzare linee telefoniche di tipo analogico, digitale ISDN e gestire in modo nativo le numerazioni VOIP in Trunk SIP.</li>
                    <li>non richiedono l’acquisto di apparecchiature da installare in azienda e che richiedono manutenzione nel tempo</li>
                    <li>sono scalabili (è possibile iniziare con pochi interni telefonici e arrivare a diverse migliaia) e possono crescere a pari passo con la azienda</li>
                    <li>garantiscono una maggiore affidabilità unita ad una riduzione dei costi complessivi</li>
                    <li>consentono la razionalizzazione delle linee di connettività internet e dei contratti telefonici.</li>
                    <button class="bottone">Scopri di più</button>
            </p-accordionTab>
            <p-accordionTab header="Privacy e GDPR">
                <h1 class="secondoh1">Privacy & GDPR</h1>
                <p class="p1">Con l’entrata in vigore del GDPR, il 25 maggio 2016, la sua completa applicazione il 24 maggio 2018 e gli interventi successivi dei membri dell’Autorità Garante, è emersa la necessità per le aziende di due diversi tipi di adeguamento:</p>
                <p class="p2"><strong>a) Legale ed organizzativo</strong>, sia alle procedure interne della azienda, sia alle criticità e rischi residui, sia alla formazione del personale sulle nuove procedure e regolamenti.</p>
                <p class="p3"><strong>b) Informatico e Sicurezza IT</strong>, alle metodologie di trattamento, archiviazione e monitoraggio dei dati digitali sui sistemi.
                    Questo adeguamento ad esempio può prevedere:</p>
                    <li>l’inserimento o potenziamento delle strutture di sicurezza perimetrale (UTM/Firewall)</li>
                    <li>Il cambiamento nell’uso della posta elettronica e nella condivisione tra gli utenti delle credenziali di accesso ai sistemi</li>
                    <li>Il cambiamento delle strategie di Backup, con l’aggiunta di destinazioni in Cloud</li>
                    <li>l’inserimento di sistemi di controllo o di blocco di circolazione delle informazioni per evitare furti o violazione dei dati</li>
                    <li>la valutazione delle possibili vulnerabilità dei sistemi informatici interni ed esterni, tramite degli esami di vulnerabilità o Penetration Test</li>
                    <button class="bottone">Scopri di più</button>
            </p-accordionTab>
        </p-accordion>
    </div>



</div>