<div class="marginecertificato">
    <img class="certificato" src="../../../assets/svg/certificato.svg" alt="">
    <br>
    <div class="sotto_certificato">
        <h1>1998 - 2022</h1>
        <h2>24 anni di garanzia, <br> sempre al tuo fianco.</h2>
    </div>
</div>






<div class="riquadri flex-1 mt-3">
    <div class="flex">

        <app-singolacard [immagine]="'assets/svg/dipendenti_mobile.svg'" [descrizione]="'Dipendenti'" [numero] ='40'></app-singolacard>
       
        <app-singolacard [immagine]="'assets/svg/ticket_mobile.svg'" [descrizione]="'Ticket gestiti annualmente'" [numero] ='6240'></app-singolacard>

        <app-singolacard [immagine]="'assets/svg/ore2021_mobile.svg'" [descrizione]="'Ore di formazione nel 2021'" [numero] ='1720'></app-singolacard>

        <app-singolacard [immagine]="'assets/svg/clienti_mobile.svg'" [descrizione]="'Clienti attivi'" [numero] ='503'></app-singolacard>
    </div>

    <div class="flex">


        <app-singolacard [immagine]="'assets/svg/tecnici_mobile.svg'" [descrizione]="'Tecnici certificati'" [numero] ='+30'></app-singolacard>
                    
        <app-singolacard [immagine]="'assets/svg/tempo_mobile.svg'" [descrizione]="'Tempo medio gestione ticket'" [numero] ='6'></app-singolacard>

        <app-singolacard [immagine]="'assets/svg/nazionalita_mobile.svg'" [descrizione]="'Nazionalità in azienda'" [numero] ='6'></app-singolacard>

        <app-singolacard [immagine]="'assets/svg/eta_mobile.svg'" [descrizione]="'Età media'" [numero] ='27'></app-singolacard>

    </div>
</div>



<div class="riquadri2 flex-1">
    <div class="flex">


        <app-singolacard [immagine]="'assets/svg/dipendenti_mobile.svg'" [descrizione]="'Dipendenti'" [numero] ='40'></app-singolacard>
       
        <app-singolacard [immagine]="'assets/svg/ticket_mobile.svg'" [descrizione]="'Ticket gestiti annualmente'" [numero] ='6240'></app-singolacard>
    </div>

    <br>
    <div class="flex">
        <app-singolacard [immagine]="'assets/svg/ore2021_mobile.svg'" [descrizione]="'Ore di formazione nel 2021'" [numero] ='1720'></app-singolacard>

        <app-singolacard [immagine]="'assets/svg/clientiattivi_mobile.svg'" [descrizione]="'Clienti attivi'" [numero] ='503'></app-singolacard>
    </div>

    <br>
<br>

    <div class="flex">

        <app-singolacard [immagine]="'assets/svg/tecnici_mobile2.svg'" [descrizione]="'Tecnici certificati'" [numero] ='+30'></app-singolacard>
                    
        <app-singolacard [immagine]="'assets/svg/tempo_mobile2.svg'" [descrizione]="'Tempo medio gestione ticket'" [numero] ='6'></app-singolacard>
    </div>
    <br>

    <div class="flex">
        <app-singolacard [immagine]="'assets/svg/nazionalita_mobile2.svg'" [descrizione]="'Nazionalità in azienda'" [numero] ='6'></app-singolacard>

        <app-singolacard [immagine]="'assets/svg/eta_mobile2.svg'" [descrizione]="'Età media'" [numero] ='27'></app-singolacard>
    </div>
</div>