<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Grazie ai nostri sviluppatori, ci occupiamo quotidianamente di progettare, costruire e manutenere qualsiasi progetto web, ecommerce, mobile, intranet, con uno sguardo costante a ricerca e sviluppo di nuove soluzioni ed il supporto del team hosting di secondo livello.</p>

   
      <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppowebFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Piattaforme Web'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppoecommerceFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'E-commerce'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sviluppomobileFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Applicazioni mobile'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-intranetFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Intranet e aree riservate'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Software custom'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-gestionaliFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'UI/UX'"></app-icone>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'SEO e social'"></app-icone>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/ultimaimmagine.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Gestionali e ERP'"></app-icone>
            </p-tabPanel>
           
        </p-tabView>

        </div>


</div>



<h1>Intranet e aree riservate come connettore di informazioni</h1>

<p class="p4">Il concetto di intranet aziendale oggi assume connotati sempre più variegati e versatili: da semplice contenitore di informazioni e documenti aziendali, di volta in volta diviene calendario, si occupa di welfare, è dotata di tool per la quotidianità (prenotazione sala riunioni, reportistica), gestione percorsi HR, forum per la raccolta di idee e tanto altro.</p>

<p class="p5">La intranet può insomma divenire un hub di fondamentale importanza per la crescita dell’azienda: usabilità, interattività ed aggiornamento costante ne sanciscono l’efficacia comunicativa ed operativa all’interno dei flussi di lavoro tra i colleghi.</p>


    <h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8">Il team di TEL&CO sviluppa Intranet solide e modulari basate su WordPress, integrate col sito internet aziendale o hostate all’interno dell’azienda senza possibilità di accesso via web.</p>

    <p class="p9">In ogni caso, garantiamo un backoffice di gestione semplice e rapido, per un utlizzo in autonomia da parte del cliente ed integrabile a più riprese con moduli aggiuntivi.</p>


      <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="PROTEZIONE COMPLETA">
              <p class="piccoloparagrafo">La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="RISPARMIO">
            <p>I nostri servizi vengono erogati da tecnici qualificati e sempre aggiornati: i costi degli interventi vengono addebitati solo per le attività effettivamente svolte e con la certezza della risoluzione di ogni problematica nel più breve tempo possibile. Il vero vantaggio sta nel poter contare sul nostro personale informatico certificato, senza i costi accessori di un dipendente, come ferie, malattia e soprattutto la formazione costante che garantiamo al nostro team.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
              <p-accordion>
                <p-accordionTab header="SCALABILITA'">
            <p>Creiamo soluzioni web partendo da un approccio modulare, ed allestendo una struttura integrabile con software aggiuntivi, definiti plugin, per incrementarne e diversificarne le funzionalità.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="AGEVOLAZIONI E CREDITO D'IMPOSTA'">
                  <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. </p>
                  <P>Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</P>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="LOCAZIONE OPERATIVA">
            <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="FORMAZIONE">
                <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            
            <p-accordion>
                <p-accordionTab header="ISTITUTI SUPERIORI E UNIVERSITA'">
                  <p>Abbiamo scelto di collaborare con istituti superiori ed università per tutti quei progetti di scuola/lavoro che consentano agli studenti di prendere le misure di un ambiente come il nostro, fatto di stimoli quotidiani, di progetti informatici da dover gestire e questioni tecniche da dover districare.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="INTEGRAZIONE CON GESTIONALI">
                  <p>Il nostro team è nelle condizioni di integrare cruscotti che divengono veri e propri aggregatori di dati, consultabili in maniera semplice ed intuitiva, sia per i propri dipendenti che per i propri clienti.</p>
      
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="SIGLE SIGN-ON">
                  <p>Abbiamo le competenze per integrare il servizio di login di ogni piattaforma, da Microsoft a Google fino ad Apple; se necessario, costruiamo i servizi necessari per un login condiviso su più piattaforme.</p> 
                </p-accordionTab>
              </p-accordion>

              <p-accordion>
                <p-accordionTab header="ARCHIVI DOCUMENTALI">
                  <p>Abbiamo le competenze per integrare il servizio di login di ogni piattaforma, da Microsoft a Google fino ad Apple; se necessario, costruiamo i servizi necessari per un login condiviso su più piattaforme.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>