<div class="desktop">

<app-riquadroinalto [titolo] = "'Responsabilità sociale di impresa'" [colore] = "'colore12'" [paragrafo] = "'In TEL&CO si applica un modello di imprenditoria socialmente responsabile, adottando una strategia che garantisca la riuscita economica dell’impresa col massimo rispetto dei principi sociali e ambientali. Questo significa soddisfare le esigenze del cliente e saper gestire allo stesso tempo le aspettative di altri soggetti quali personale, fornitori e intera comunità.'"></app-riquadroinalto>

    <div class="divicone flex flex-wrap">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-etica.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Etica'"></app-icone>
                <app-cerchioetica></app-cerchioetica>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-giovani.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per i giovani'"></app-icone>
                <app-cerchiogiovani></app-cerchiogiovani>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sport.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per lo sport'"></app-icone>
                <app-cerchiosport></app-cerchiosport>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sociale.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per il sociale'"></app-icone>
                <app-cerchiosociale></app-cerchiosociale>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-territorio.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per il territorio'"></app-icone>
                <app-cerchioterritorio></app-cerchioterritorio>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-collab.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per i collaboratori'"></app-icone>
                <app-cerchiocollaboratori></app-cerchiocollaboratori>
            </p-tabPanel>
    
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-aggr.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per l aggregazione'"></app-icone>
                <app-cerchioaggregazione></app-cerchioaggregazione>
            </p-tabPanel>
    
    
        </p-tabView>
    

    </div>

</div>




<div class="mobile">

    <app-riquadroinalto [titolo] = "'Responsabilità sociale di impresa'" [paragrafo] = "'In TEL&CO si applica un modello di imprenditoria socialmente responsabile, adottando una strategia che garantisca la riuscita economica dell’impresa col massimo rispetto dei principi sociali e ambientali. Questo significa soddisfare le esigenze del cliente e saper gestire allo stesso tempo le aspettative di altri soggetti quali personale, fornitori e intera comunità.'" [colore] = "'colore12'"></app-riquadroinalto>

    <div id="divicone" class="divicone flex flex-wrap">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-etica.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Etica'"></app-icone>
                <app-cerchioetica></app-cerchioetica>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-giovani.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per i giovani'"></app-icone>
                <app-cerchiogiovani></app-cerchiogiovani>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sport.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per lo sport'"></app-icone>
                <app-cerchiosport></app-cerchiosport>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-sociale.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per il sociale'"></app-icone>
                <app-cerchiosociale></app-cerchiosociale>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-territorio.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per il territorio'"></app-icone>
                <app-cerchioterritorio></app-cerchioterritorio>
            </p-tabPanel>


            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-collab.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per i collaboratori'"></app-icone>
                <app-cerchiocollaboratori></app-cerchiocollaboratori>
            </p-tabPanel>
    
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-aggr.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Per l aggregazione'"></app-icone>
                <app-cerchioaggregazione></app-cerchioaggregazione>
            </p-tabPanel>
    
    
        </p-tabView>
    

    </div>

