<div class="desktop">

    <div class="w-screen divisore2">

        <div class="flex-1">

            <app-tessere-home></app-tessere-home>

        </div>

    </div>
    <div class="w-screen divisore3 mt-5">

        <p class="newseavvisi flex-1">News e avvisi</p>

        <app-newscomponent></app-newscomponent> 

        <p class="certificazioni flex-1">Certificazioni</p>

        <app-carousel1></app-carousel1>

    </div>
</div>

<div class="mobile">

    <app-tessere-home-mobile></app-tessere-home-mobile>

    <app-cards-mobile class="mt-3"></app-cards-mobile>

    <app-certificazioni-mobile></app-certificazioni-mobile>

</div>

<app-carousel-medioscreen></app-carousel-medioscreen>