<div class="desktop">

    <app-riquadroinalto [titolo] = "'I nostri servizi'" [colore] = "'colore2'" [paragrafo] = "'Servizi sistemistici offerti per il supporto tecnico delle infrastrutture informatiche della tua azienda, consentendoti di lavorare in serenità e di concentrarti sul tuo core business. I servizi sono curati dal nostro team di esperti che, grazie a una esperienza ventennale, garantisce il corretto funzionamento quotidiano dei tuoi sistemi IT.'"><app-icone></app-icone></app-riquadroinalto>

    <img class="view" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-page-seo-web-and-advertising-media-flatart-icons-outline-flatarticons.png" />





<p-tabView class="selezione flex">
         
    <p-tabPanel header="Servizi sistemistici">

        <div class="testo">
            <p class="primap">  I servizi sistemistici consistono in tutte quelle attività di supporto alla gestione delle infrastrutture informatiche in azienda. </p>
             <p class="secondap"> Questa tipologia di servizi è solitamente gestita dal <strong>nostro team di esperti,</strong> ogni giorno al fianco delle aziende per <strong>garantire continuità</strong> ed un <strong>corretto funzionamento</strong> dei sistemi informatici delle imprese che si affidano a noi. </p>
              
           <p class="terzap">  Così facendo, le imprese sono sgravate da quelle attività sistemistiche quotidiane, a volte necessarie ma spesso dimenticate o rimandate, e potendo così <strong>concentrarsi sul proprio core business</strong> e ottenere una gestione più razionale e sicura degli apparati informatici, oltre che un generale contenimento dei costi. </p> 
      
      <button class="bottone">Scopri di più</button> 
        </div>
      
    </p-tabPanel>
    <p-tabPanel header="Gestione infrastrutture informatiche">

        <div class="testo">
            <p class="primap">  Nelle aziende più piccole, <strong> raramente viene dedicato del personale alla gestione e risoluzione dei problemi informatici</strong> quotidiani, quasi mai troviamo un responsabile IT che si occupi della gestione e manutenzione del sistema informativo. </p>
             <p class="secondap"> Questo porta a <strong>blocchi frequenti dei sistemi IT</strong> con relativa frustrazione degli utenti che non possono lavorare in modo produttivo.<strong> L’assenza di aggiornamenti e di una costante manutenzione</strong> e con i <strong>tentativi di intrusione e di attacco dall’esterno </strong>che sono sempre più frequenti, portano a forti rischi sulla <strong>sicurezza aziendale.</strong> </p>
              
           <p class="terzap">  Il nostro servizio di gestione completa dell’infrastruttura informatica è pensato proprio per queste aziende: il nostro team di esperti può controllare in modo continuativo il regolare funzionamento dei tuoi dispositivi informatici ed occuparsi anche di quegli apparati che richiedono competenze di alto livello come i Firewall ed i sistemi di sicurezza e di backup </p> 
      
      <button class="bottone">Scopri di più</button> 
  </div>
    </p-tabPanel>
    <p-tabPanel header="Supporto a IT manager">
        <div class="testo">
            <p class="primap"> <strong>Se sei un IT Manager conosciamo bene il tuo mestiere. </strong></p>
             <p class="secondap">Sappiamo che il tuo lavoro sta cambiando: aumentano le attività che devi seguire, devi seguirle in modo puntuale, sono <strong>richieste competenze sempre più specifiche,</strong> ma spesso le risorse a tua disposizione rimangono le stesse.
                La mancanza di tempo, la mancanza di un aggiornamento di competenze (e purtroppo a volte le dimenticanze legate alle urgenze) portano a non riuscire a fare controlli regolari, gli aggiornamenti e le manutenzioni necessarie.
                Questo porta a <strong>gravi rischi sulla la sicurezza dei dati aziendali e la produttività.</strong>
                A questo poi si aggiungono i tentativi di intrusione e di attacco dall’esterno sempre più frequenti e con tecniche sempre più efficaci. </p>
              
           <p class="terzap">  Sappiamo quanto questo possa essere frustrante e fonte di ansia e preoccupazione e vogliamo metterci <strong>a tua disposizione con servizi mirati</strong> che potrai richiedere al bisogno per alleggerire il tuo carico di lavoro. </p> 
      
      <button class="bottone">Scopri di più</button> 
        </div>
    </p-tabPanel>
    <p-tabPanel header="Sviluppo software">
        <div class="testo">
            <p class="primap"> Grazie ai nostri sviluppatori, ci occupiamo quotidianamente di progettare, costruire e manutenere qualsiasi progetto web, ecommerce, mobile, intranet, con uno sguardo costante a ricerca e sviluppo di nuove soluzioni ed il supporto del team hosting di secondo livello.</p>
            
      
      <button class="bottone">Scopri di più</button> 
        </div>
    </p-tabPanel>
    <p-tabPanel header="Finanziamenti">
        <div class="testo">
            <p class="primap"> Finanziamenti e agevolazioni </p>
             <p class="secondap"> I servizi sono gestiti da un team di esperti, ogni giorno <strong>al fianco delle aziende, per garantire continuità ed un corretto funzionamento</strong> dei sistemi informatici delle imprese che si affidano a noi. </p>
              
           <p class="terzap">  Così facendo, le imprese sono <strong>sgravate da quelle attività sistemistiche quotidiane,</strong> a volte necessarie ma spesso dimenticate o rimandate, e potendo così <strong>concentrarsi sul proprio core business</strong> e ottenere una gestione più razionale e sicura degli apparati informatici, oltre che un generale contenimento dei costi. </p> 
      
      <button class="bottone">Scopri di più</button> 
        </div>
    </p-tabPanel>
    <p-tabPanel header="Formazione">
        <div class="testo">
            <p class="primap">  Crediamo fortemente nell’<strong>importanza della formazione e lavoriamo assiduamente per il trasferimento delle competenze:</strong> sia gli utilizzatori alle prime armi sia i più esperti IT Manager si affidano a noi con la <strong>garanzia di acquisire strumenti, tecnologie e know how</strong> che possano aiutare a migliorare la produttività e la sicurezza in azienda. </p>
             <p class="secondap"> Abbiamo <strong>certificazioni e skill molto specifiche</strong> negli ambiti delle tecnologie Microsoft e del network, oltre a collaborare con i diversi <strong>istituti di formazione del territorio</strong> per individuare e far crescere insieme i migliori talenti informatici. </p>
      
      <button class="bottone">Scopri di più</button> 
        </div>
    </p-tabPanel>
</p-tabView>




</div>

<div class="mobile">

<div class="sottoi10002">
    <div class="riquadroazzurro2">
  
    <div class="sinistra2">
        <h1>I nostri servizi</h1>
    
        <p>Servizi sistemistici offerti per il supporto tecnico delle infrastrutture informatiche della tua azienda, consentendoti di lavorare in serenità e di concentrarti sul tuo core business. I servizi sono curati dal nostro team di esperti che, grazie a una esperienza ventennale, garantisce il corretto funzionamento quotidiano dei tuoi sistemi IT.</p>
    
        <img class="view2" src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-page-seo-web-and-advertising-media-flatart-icons-outline-flatarticons.png" />
    </div>
    </div>





    <p-tabView class="selezione2">
         
        <p-tabPanel header="Servizi sistemistici">
            <div class="corpo1"></div>
            <div class="testo">
                <p class="primap">  I servizi sistemistici consistono in tutte quelle attività di supporto alla gestione delle infrastrutture informatiche in azienda. </p>
                 <p class="secondap"> Questa tipologia di servizi è solitamente gestita dal <strong>nostro team di esperti,</strong> ogni giorno al fianco delle aziende per <strong>garantire continuità</strong> ed un <strong>corretto funzionamento</strong> dei sistemi informatici delle imprese che si affidano a noi. </p>
                  
               <p class="terzap">  Così facendo, le imprese sono sgravate da quelle attività sistemistiche quotidiane, a volte necessarie ma spesso dimenticate o rimandate, e potendo così <strong>concentrarsi sul proprio core business</strong> e ottenere una gestione più razionale e sicura degli apparati informatici, oltre che un generale contenimento dei costi. </p> 
          
          <button class="bottone">Scopri di più</button> 
            </div>
            <div class="corpo2"></div>
          
        </p-tabPanel>

        <p-tabPanel header="Gestione infrastrutture informatiche">
            <div class="corpo1"></div>
            <div class="testo">
                <p class="primap">  Nelle aziende più piccole, <strong> raramente viene dedicato del personale alla gestione e risoluzione dei problemi informatici</strong> quotidiani, quasi mai troviamo un responsabile IT che si occupi della gestione e manutenzione del sistema informativo. </p>
                 <p class="secondap"> Questo porta a <strong>blocchi frequenti dei sistemi IT</strong> con relativa frustrazione degli utenti che non possono lavorare in modo produttivo.<strong> L’assenza di aggiornamenti e di una costante manutenzione</strong> e con i <strong>tentativi di intrusione e di attacco dall’esterno </strong>che sono sempre più frequenti, portano a forti rischi sulla <strong>sicurezza aziendale.</strong> </p>
                  
               <p class="terzap">  Il nostro servizio di gestione completa dell’infrastruttura informatica è pensato proprio per queste aziende: il nostro team di esperti può controllare in modo continuativo il regolare funzionamento dei tuoi dispositivi informatici ed occuparsi anche di quegli apparati che richiedono competenze di alto livello come i Firewall ed i sistemi di sicurezza e di backup </p> 
          
          <button class="bottone">Scopri di più</button> 
      </div>
      <div class="corpo2"></div>
        </p-tabPanel>


        <p-tabPanel header="Supporto a IT manager">
            <div class="corpo1"></div>
            <div class="testo">
                <p class="primap"> <strong>Se sei un IT Manager conosciamo bene il tuo mestiere. </strong></p>
                 <p class="secondap">Sappiamo che il tuo lavoro sta cambiando: aumentano le attività che devi seguire, devi seguirle in modo puntuale, sono <strong>richieste competenze sempre più specifiche,</strong> ma spesso le risorse a tua disposizione rimangono le stesse.
                    La mancanza di tempo, la mancanza di un aggiornamento di competenze (e purtroppo a volte le dimenticanze legate alle urgenze) portano a non riuscire a fare controlli regolari, gli aggiornamenti e le manutenzioni necessarie.
                    Questo porta a <strong>gravi rischi sulla la sicurezza dei dati aziendali e la produttività.</strong>
                    A questo poi si aggiungono i tentativi di intrusione e di attacco dall’esterno sempre più frequenti e con tecniche sempre più efficaci. </p>
                  
               <p class="terzap">  Sappiamo quanto questo possa essere frustrante e fonte di ansia e preoccupazione e vogliamo metterci <strong>a tua disposizione con servizi mirati</strong> che potrai richiedere al bisogno per alleggerire il tuo carico di lavoro. </p> 
          
          <button class="bottone">Scopri di più</button> 
            </div>
            <div class="corpo2"></div>
        </p-tabPanel>

        <p-tabPanel header="Sviluppo software">
            <div class="corpo1"></div>
            <div class="testo">
                <p class="primap"> Grazie ai nostri sviluppatori, ci occupiamo quotidianamente di progettare, costruire e manutenere qualsiasi progetto web, ecommerce, mobile, intranet, con uno sguardo costante a ricerca e sviluppo di nuove soluzioni ed il supporto del team hosting di secondo livello.</p>
                
          
          <button class="bottone">Scopri di più</button> 
            </div>
            <div class="corpo2"></div>
        </p-tabPanel>

        <p-tabPanel header="Finanziamenti">
            <div class="corpo1"></div>
            <div class="testo">
                <p class="primap"> Finanziamenti e agevolazioni </p>
                 <p class="secondap"> I servizi sono gestiti da un team di esperti, ogni giorno <strong>al fianco delle aziende, per garantire continuità ed un corretto funzionamento</strong> dei sistemi informatici delle imprese che si affidano a noi. </p>
                  
               <p class="terzap">  Così facendo, le imprese sono <strong>sgravate da quelle attività sistemistiche quotidiane,</strong> a volte necessarie ma spesso dimenticate o rimandate, e potendo così <strong>concentrarsi sul proprio core business</strong> e ottenere una gestione più razionale e sicura degli apparati informatici, oltre che un generale contenimento dei costi. </p> 
          
          <button class="bottone">Scopri di più</button> 
            </div>
            <div class="corpo2"></div>
        </p-tabPanel>

        <p-tabPanel header="Formazione">
            <div class="corpo1"></div>
            <div class="testo">
                <p class="primap">  Crediamo fortemente nell’<strong>importanza della formazione e lavoriamo assiduamente per il trasferimento delle competenze:</strong> sia gli utilizzatori alle prime armi sia i più esperti IT Manager si affidano a noi con la <strong>garanzia di acquisire strumenti, tecnologie e know how</strong> che possano aiutare a migliorare la produttività e la sicurezza in azienda. </p>
                 <p class="secondap"> Abbiamo <strong>certificazioni e skill molto specifiche</strong> negli ambiti delle tecnologie Microsoft e del network, oltre a collaborare con i diversi <strong>istituti di formazione del territorio</strong> per individuare e far crescere insieme i migliori talenti informatici. </p>
          
          <button class="bottone">Scopri di più</button> 
            </div>
            <div class="corpo2"></div>
        </p-tabPanel>

    </p-tabView>






    </div>

</div>
    <!-- <img src="../../assets/images/plus.svg" alt="">    -->

   

    