<div class="soluzionidrop">


    <div class="flex-1">

        <div class="flex-1">
    <h1>Le nostre soluzioni</h1>


    <h4 class="distanzah4">La competenza certificata, la continua formazione e l’aggiornamento del nostro personale ci permettono di realizzare soluzioni tecnologiche sempre al passo con i tempi e avanguardia.</h4>
   

    <div class="w-32rem h-4rem soluzioniside flex">
        <ul>
            <li class="serinf"><a [routerLink]="'servereinfrastrutture'">Server e infrastrutture</a>
                <div class="flex serinf1">
                    <h4 class="server"><a [routerLink]="'servereinfrastrutture'">Server e storage</a></h4>
                    <h4 class="virtualizzazione"><a [routerLink]="'virtualizzazione'">virtualizzazione</a></h4>
                    <h4 class="iperconvergenza"><a [routerLink]="'iperconvergenza'">Iperconvergenza</a></h4>
                    <h4 class="serverincloud"><a [routerLink]="'serverincloud'"></a>Server in cloud</h4>
                </div>
            </li>
            
            <li class="backrec"><a [routerLink]="'backupedisasterrecovery'">Backup e Disaster Recovery</a>
                <div class="flex backrec1">
                    <h4 class="backup"><a [routerLink]="'backupedisasterrecovery'">Backup</a></h4>
                    <h4 class="disaster"><a [routerLink]="'disasterrecoveryebusinesscontinuity'">Disaster Recovery e Business Continuity</a></h4>
                </div>
            </li>
           
            <li class="sic"><a [routerLink]="'sicurezza'">Sicurezza</a>
                <div class="flex sic1">
                    <h4 class="antivirus"><a [routerLink]="'sicurezza'">Antivirus</a></h4>
                    <h4 class="antispam"><a [routerLink]="'antispam'">Antispam</a></h4>
                    <h4 class="password"><a [routerLink]="'password'">Password</a></h4>
                    <h4 class="utm"><a [routerLink]="'utmfirewall'">UTM/Firewall</a></h4>
                    <h4 class="vpn"><a [routerLink]="'vpn'">VPN</a></h4>
                </div>
            </li>
          
            <li class="poslav"><a [routerLink]="'postazionidilavoro'">Postazioni di lavoro</a>
                <div class="flex poslav1">
                    <h4 class="pc"><a [routerLink]="'pc'">Pc</a></h4>
                    <h4 class="stazioni"><a [routerLink]="'stazioniappleewindows'">Stazioni Apple e Windows</a></h4>
                    <h4 class="mobile"><a [routerLink]="'mobile'">Mobile</a></h4>
                    <h4 class="videoconferenza">Videoconferenza</h4>
                    <h4 class="stampanti">Stampanti</h4>
                </div>
            </li>
          
            <li class="net"><a>Network</a>
                <div class="flex net1">
                    <h4 class="retilan">Reti LAN</h4>
                    <h4 class="certificazione">Certificazione cablaggi</h4>
                    <h4 class="retiwireless">Reti Wireless</h4>
                </div>
            </li>
          
            <li class="tecno"><a>Tecnologie Microsoft</a>
            
        <div class="flex tecno1">
            <h4 class="licenze">Licenze Microsoft Office 365</h4>
            <h4 class="migrazione">Migrazione posta</h4>
            <h4 class="formazione">Formazione</h4>
            <h4 class="power">Power Platform</h4>
            <h4 class="sharepoint">Sharepoint</h4>
            <h4 class="azure">Azure AD e Intune</h4>
            <h4 class="phonesystem">Phone System</h4>
        </div>
            </li>

            <li class="mailepec"><a>Mail e PEC</a>
            
        <div class="flex mailepec1">
            <h4 class="mail">Mail</h4>
            <h4 class="pec">PEC</h4>
            <h4 class="collaborazione">Collaborazione</h4>
            <h4 class="invio">Invio massivo</h4>
            <h4 class="archiviazione">Archiviazione</h4>
        </div>
            </li>

            <li class="hosdom"><a>Hosting e domini</a>
            
        <div class="flex hosdom1">
            <h4 class="domini">Domini</h4>
            <h4 class="certificati">Certificati SSL</h4>
            <h4 class="hosting">Hosting siti</h4>
            <h4 class="servercloud2">Server cloud</h4>
            <h4 class="gdpr">GDPR</h4>
        </div>
            </li>

            <li class="svisoft"><a>Sviluppo software</a>
            
        <div class="flex svisoft1">
            <h4 class="sviluppoweb">Sviluppo WEB</h4>
            <h4 class="sviluppoecommerce">Sviluppo e-commerce</h4>
            <h4 class="sviluppoappmobile">Sviluppo app mobile</h4>
            <h4 class="softwarecustom">Software custom</h4>
            <h4 class="intranet">Intranet e aree riservate</h4>
            <h4 class="seo"s>SEO e Social</h4>
            <h4 class="gestionali">Gestionali e ERP</h4>
        </div>
            </li>

            <li class="intel"><a>Internet e telefonia</a>
            
        <div class="flex intel1">
            <h4 class="connettivita">Connettività internet</h4>
            <h4 class="linee">Linee telefoniche</h4>
        </div>
            </li>

            <li class="centvoip"><a>Centralini VOIP e Microsoft Phone System</a>
                <div class="flex centvoip1">
                    <h4 class="sistema"s>Sistema di comunicazione Wildix</h4>
                    <h4 class="microsoft">Microsoft 365 Business Voice</h4>
                </div>
            </li>

            <li class="prigdpr"><a>Privacy e GDPR</a>
            
        <div class="flex prigdpr1">
            <h4 class="consulenza">Consulenza GDPR</h4>
            <h4 class="gdpr2">GDPR</h4>
        </div>
            </li>
        </ul>


</div>

    </div>
</div>

