<div class="riquadroverde">

    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Ogni giorno progettiamo, implementiamo e supportiamo le aziende nella <strong>gestione delle architetture IT</strong> su cui si basano i sistemi informativi.</p>

    <p class="p2">La nostra è un’attività di tipo sartoriale e prevede un‘<strong>analisi preliminare</strong> delle specifiche necessità delle aziende, per fornire un <strong>progetto con adeguati livelli di affidabilità, scalabilità, sicurezza dei dati</strong> e con un costo operativo concorrenziale.</p>

    <p class="p3">In base alle specifiche esigenze, proponiamo quindi le soluzioni più adatte, dalle infrastrutture tradizionali basate su <strong>server hardware</strong> fisico, a quelle <strong>virtualizzate</strong> con uno o più server, <strong>cluster o alta affidabilità, SAN</strong>.</p>

    <p class="p4">Progettiamo infrastrutture <strong>iperconvergenti</strong> ed in <strong>cloud</strong>, supportati dai migliori provider di servizi come <strong>Amazon Web Services, Microsoft Azure e Google Cloud Platform</strong>.</p>



    <div class="divicone flex">

        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinalGreen.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Server Hardware'"></app-icone>
            </p-tabPanel>
           
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-virtualizzazioneFinal.svg'"></app-icone>
                    
                </ng-template>
                <app-icone class="titolo" [titolo]="'Virtualizzazione'"></app-icone>
            </p-tabPanel>
    
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-iperconvFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Iperconvergenza'"></app-icone>
            </p-tabPanel>
    
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <app-icone class="immagine" [immagine]="'../../assets/images/icon-cloudFinal.svg'"></app-icone>
                </ng-template>
                <app-icone class="titolo" [titolo]="'Server in Cloud'"></app-icone>
            </p-tabPanel>
    
        </p-tabView>
    
    
    </div>

</div>


<h1>Un server fisico, tante unità virtuali</h1>

<p class="p5">La virtualizzazione consente di partizionare un singolo server fisico in varie macchine virtuali, che possono operare in modo indipendente o interagire tra loro, eseguendo applicazioni o sistemi operativi diversi e condividendo le risorse del server su cui sono attive: questa soluzione offre diversi vantaggi, in primis una maggiore sicurezza grazie alle macchine virtuali che non dipendono direttamente da un hardware specifico e in caso di incidente possono essere migrate senza spegnerle su un Server diverso, con conseguente riduzione dei disservizi dovuti da guasti dell’hardware, il migliore sfuttamento delle risorse hardware,  la semplificazione del backup e dei controlli relativi e una riduzione del costo complessivo della gestione ordinaria e della manutenzione.</p>
<p class="p6">Per una corretta implementazione della soluzione in termini di affidabilità e dimensionamento, occorre individuare i bisogni aziendali a livello di prestazioni, con un occhio al futuro e alle possibili evoluzioni definendone il numero di host e le ridondanze necessarie.
    Oltre alle valutazioni tecniche preliminari su che tipologia di infrastruttura approntare e con quali strumenti (processori, core, RAM, storage dei dischi, RAID o SAN, porte di rete), andranno definite le macchine virtuali e, ove necessario, che tipologia di licenza Windows server, se Standard o Datacenter.</p>
<p class="p7">Una volta definiti architettura e strumenti necessari, si passa all’implementazione vera e propria delle macchine virtuali: installazione, configurazione e collaudo sono passaggi fondamentali che, se accompagnati dalle dovute verifiche, garantiscono affidabilità della soluzione nel tempo, che deve essere consolidata costantemente da una gestione puntuale e monitoraggio delle attività, programmando per tempo gli aggiornamenti server, dei sistemi operativi e delle componenti di sicurezza, prevedendo ove necessario dei test di disaster recovery e le corrette strategie di backup.</p>

<h2>LA NOSTRA SOLUZIONE</h2>

<p class="p9">I nostri commerciali e tecnici certificati studiano quotidianamente soluzioni di virtualizzazione che siano prima di tutto in grado di ottimizzare le performance e la sicurezza dei nostri clienti: in questo senso ci sentiamo  a tutti gli effetti partner a fianco delle aziende, offrendo consulenze e analisi professionali per arrivare ad una scelta corretta e consapevole.</p>

<p class="p10">Nel tempo, abbiamo sviluppato competenze specifiche nella gestione delle infrastrutture, potendo contare su sistemisti certificati sui principali ambienti di virtualizzazione come Microsoft Windows Server e Hyper-V, Citrix XenServer, XenApp, XenDesktop e XenMobile, VMware vSphere e VMware vCloud Director.</p>

<p class="p11">In qualità di <strong>Gold Partner Microsoft</strong>, siamo nelle condizioni di supportare con competenza le organizzazioni di qualunque dimensione; oltre a ciò, <strong>la partnership diretta</strong> con tutti i maggiori produttori informatici ci consente una <strong>proposta neutrale</strong> scegliendo tra i migliori brand come <strong>Dell, HP, Lenovo, iXSystems</strong>.</p>

<div class="gliaccordion">
<p-accordion>
    <p-accordionTab header="Microsoft Gold Partner">
        <div class="flex">
            <div>
        <p class="p12"><strong>TEL&CO è Gold Partner Microsoft e può supportare con competenza le organizzazioni di qualunque dimensione.</strong></p>
        <p class="p13">TEL&CO è disponibile per consulenze per lo sviluppo di applicazioni basate sui sistemi operativi Microsoft.</p>
        </div>
            <img src="../../../assets/images/GOLD-300x111-1.png" alt="" class="primaimmagineaccordion">
        </div>
        </p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="DELL">
        <div class="flex">
        <div>
        <p class="p12">TEL&CO è un <strong>Partner Dell</strong> con competenze <strong>IT Solution Provider</strong> e può fornire la gamma completa di soluzioni Server e infrastrutture, ampiamente personalizzabili e con un supporto di assistenza tecnica eccezionale direttamente presso le sedi delle aziende. Il rapporto diretto con Dell, consente di offrire ai clienti <strong>i prezzi più competitivi del mercato</strong>.</p>
    </div>
        <img src="../../../../assets/images/DT_AuthorizedPartner_4C-300x87-1.jpg" alt="">
    
    </div>
    </p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="HP">
        <div class="flex">
        <div>
        <p class="p12">HP ha una gamma estremamente completa di soluzioni Server e infrastrutture, ampiamente personalizzabili e con un ottimo supporto di assistenza tecnica direttamente presso le sedi delle aziende. Il rapporto diretto con HP, consente di offrire ai clienti i prezzi più competitivi del mercato.</p>
    </div>
   <img src="../../../assets/images/Business_Partner-300x137-1.png" alt="">
    </div>
    </p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="LENOVO">
        <div class="flex">
        <div>
        <p class="p12">Lenovo offre un portfolio completo di  servizi e soluzioni per data center e infrastrutture smart in tutto il mondo.
            TEL&CO ha la partnership con Lenovo per garantire le competenze sia nelle soluzioni Server infrastrutturali, sia in quelle relative alle postazioni di lavoro da tavolo e portatili.
            Il rapporto diretto con Lenovo, consente di offrire ai clienti i prezzi più competitivi del mercato.</p>
        </div>
    <img src="../../../assets/images/Lenovo-Partner-Emblem-Infrastructure-Solutions-Partner-Authorized.png" alt="" class="immaginelenovo">
        </div>
        </p-accordionTab>
</p-accordion>


<p-accordion>
    <p-accordionTab header="iXsystem">
        <div class="flex">
            <div>
        <p class="p12">TEL&CO è Partner Autorizzato di iXsystem e può affiancare le aziende italiane nella analisi, implementazione e supporto di progetti di Storage ed archiviazione di classe Enterprise Mission-Critical</p>
    </div>
        <img src="../../../assets/images/Authorized-partner-iXSystem-768x595.png" alt="" class="immaginesystems">
   
    </div>
    </p-accordionTab>
</p-accordion>
</div>

<div class="riquadroverde2">

<div class="flex">

    <div class="sinistra">
        <h1>I NOSTRI VANTAGGI</h1>

        <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
          <p class="primotestoasinistra">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
            Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
            Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex due">
            <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-644.svg">
            <p-accordion>
              <p-accordionTab header="CONVENIENZA">
          <p class="secondotestoasinistra">I nostri esperti e tecnici informatici sono quotidianamente a disposizione dei nostri clienti per individuare le soluzioni più convenienti sul mercato. Affianchiamo le aziende in ogni scelta e valutazione rispetto all’architettura tecnologica dell’impresa, garantendo una consulenza professionale in grado di individuare dispositivi, sistemi ed apparati più convenienti e che siano in grado di ottimizzare prestazioni, sicurezza e compatibilità dei processi operativi digitali dell’azienda.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex tre">
            <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
            <p-accordion>
              <p-accordionTab header="FOCUS SUL BUSINESS">
          <p class="terzotestoasinistra">Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
            Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex quattro">
            <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
            <p-accordion>
              <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
          <p class="quartotestoasinistra">Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex cinque">
            <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-639.svg">
            <p-accordion>
              <p-accordionTab header="PROTEZIONE COMPLETA">
          <p class="quintotestoasinistra">La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

          <div class="flex sei">
            <img class="sestaimmagineasinistra" src="../../../assets/images/Raggruppa-627.svg">
            <p-accordion>
              <p-accordionTab header="RISPARMIO">
          <p class="sestaimmagineasinistra">La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p> 
          </p-accordionTab>
          </p-accordion>
          </div>

    </div>

    <div class="destra">

        <h1>SERVIZI CORRELATI</h1>

            <p-accordion>
              <p-accordionTab header="SERVIZI SISTEMISTICI">
          <p>Il nostro team di esperti è a disposizione per tutte le attività di supporto alla gestione delle infrastrutture informatiche in azienda, in modo da garantire continuità ed un corretto funzionamento dei sistemi informatici.</p> 
          <button class="bottone">Scopri di più</button>
        </p-accordionTab>
          </p-accordion>


          <p-accordion>
            <p-accordionTab header="GESTIONE INFRASTRUTTURE">
        <p>Il server oggi è il fulcro informativo di un’azienda, rappresenta davvero la linfa vitale dei processi e deve lavorare al massimo delle sue potenzialità: per fare ciò, è fondamentale prestare attenzione ai componenti chiave.</p> 
        <button class="bottone">Scopri di più</button>
      </p-accordionTab>
        </p-accordion>



        <p-accordion>
            <p-accordionTab header="SUPPORTO A IT MANAGER">
        <p>Il servizio di monitoraggio dei Server consente di anticipare l’insorgenza di problemi bloccanti o situazioni critiche, tramite un sistema che allerta in modo automatico i responsabili IT.</p> 
        <button class="bottone">Scopri di più</button>
      </p-accordionTab>
        </p-accordion>



        <p-accordion>
            <p-accordionTab header="RECUPERO DATI">
        <p>Una delle grandi preoccupazioni è la perdita di dati importanti per colpa di un’interruzione di corrente o di un danno fisico all’hard disk, ma questa può non essere definitiva.</p> 
        <button class="bottone">Scopri di più</button>
      </p-accordionTab>
        </p-accordion>



        <p-accordion>
            <p-accordionTab header="PREVENZIONE">
        <p>Ogni giorno i nostri tecnici si occupano di progettare tutte quelle precauzioni in grado di mettere al sicuro l’infrastruttura aziendale dei nostri clienti dagli imprevisti più comuni.</p> 
        <button class="bottone">Scopri di più</button>
      </p-accordionTab>
        </p-accordion>



        <p-accordion>
            <p-accordionTab header="FORMAZIONE">
        <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p> 
        <button class="bottone">Scopri di più</button>
      </p-accordionTab>
        </p-accordion>



        <p-accordion>
            <p-accordionTab header="AGEVOLAZIONI E CREDITO D'IMPOSTA">
        <p>Finanziamenti agevolati e credito d’imposta sono gli strumenti fondamentali per agevolare lo sviluppo strutturale delle aziende. </p> 
        <br>
        <p>Possiamo individuare tutte le opportunità di finanza agevolata per la tua impresa.</p>
        <button class="bottone">Scopri di più</button>
      </p-accordionTab>
        </p-accordion>



        <p-accordion>
            <p-accordionTab header="LOCAZIONE OPERATIVA">
        <p>La locazione operativa è la soluzione per gli imprenditori che vogliono dotarsi di beni strumentali, tecnologie e attrezzature senza indebitarsi per l’acquisto. Quando si parla di beni strumentali, tecnologie e attrezzature, noleggiare è meglio che comprare.</p> 
        <button class="bottone">Scopri di più</button>
      </p-accordionTab>
        </p-accordion>


    </div>


</div>

</div>


<h3>Certificazioni</h3>
<app-carousel></app-carousel>