<div class="servizidrop">

    <div class="flex-1">

        <div class="flex-1">
            <h1>I nostri servizi</h1>
            <h4>Servizi sistemistici offerti per il supporto tecnico delle infrastrutture informatiche della tua
                azienda, consentendoti di lavorare in serenità e di concentrarti sul tuo Core Business. <br>
                <br>
                I servizi sono curati dal nostro team di esperti che, grazie a una esperienza ventennale, garantisce il
                funzionamento quotidiano dei tuoi sistemi IT.
            </h4>
        </div>
        <div class="w-24rem h-4rem serviziside">
            <ul>
                <li class="sersis"><a [routerLink]="'servizisistemistici'">Servizi sistemistici</a>
                <div class="flex sersis1">
                    <h4 class="helpdesk"><a [routerLink]="'servizisistemistici'">Help Desk</a></h4>
                    <h4 class="presidio"><a [routerLink]="'presidio'">Presidio e manutenzione</a></h4>
                    <h4 class="prevenzione"><a [routerLink]="'prevenzione'">Prevenzione</a></h4>
                    <h4 class="vulnerability"><a [routerLink]="'vulnerability'">Vulnerability Assessment</a></h4>
                    <h4 class="recupero"><a [routerLink]="'recuperodati'">Recupero dati</a></h4>
                </div>

            </li>
                <li class="gesinf"><a [routerLink]="'gestioneinfrastrutture'">Gestione infrastrutture</a>
                
                    <div class="flex gesinf1">
                        <h4 class="postazioni"><a [routerLink]="'gestioneinfrastrutture'">Postazioni</a></h4>
                        <h4 class="server"><a [routerLink]="'server'">Server</a></h4>
                        <h4 class="backup"><a [routerLink]="'backup'">Backup</a></h4>
                        <h4 class="sicurezza"><a [routerLink]="'network'">Sicurezza</a></h4>
                        <h4 class="voip"><a [routerLink]="'VOIP'">VOIP</a></h4>
                    </div>
                </li>

                <li class="supman"><a [routerLink]="'supportoait'">Supporto a IT manager</a>
                    <div class="flex supman1">
                        <h4 class="post"><a [routerLink]="'supportoait'">Postazioni di lavoro</a></h4>
                        <h4 class="serv"><a [routerLink]="'server2'">Server</a></h4>
                        <h4 class="back"><a [routerLink]="'backup2'">Backup</a></h4>
                        <h4 class="netw"><a [routerLink]="'network2'">Network e Sicurezza</a></h4>
                        <h4 class="deploy"><a [routerLink]="'deploy'">Deploy per rollout pianificato</a></h4>
                    </div>
                </li>

                <li class="svilsof"><a [routerLink]="'svilupposoftware'">Sviluppo software</a>
                
                    <div class="flex svilsof1">
                        <h4 class="svilweb"><a [routerLink]="'svilupposoftware'">Sviluppo Web</a></h4>
                        <h4 class="svilcom"><a [routerLink]="'ecommerce'">Sviluppo e-commerce</a></h4>
                        <h4 class="svilapp"><a [routerLink]="'appmobile'">Sviluppo app mobile</a></h4>
                        <h4 class="svilsof"><a [routerLink]="'software'">Software custom</a></h4>
                        <h4 class="svilint"><a [routerLink]="'intranet'">Intranet e aree riservate</a></h4>
                        <h4 class="design"><a [routerLink]="'design'">Design e UI/UX</a></h4>
                        <h4 class="seo"><a [routerLink]="'seo'">SEO e Social</a></h4>
                        <h4 class="gest"><a [routerLink]="'gestionali'">Gestionali e ERP</a></h4>
                    </div>
                </li>

                <li class="fin"><a [routerLink]="'finanziamenti'">Finanziamenti</a>
                
                    <div class="flex fin1">
                        <h4 class="agevolazioni"><a [routerLink]="'agevolazioni'">Agevolazioni e credito d'imposta</a></h4>
                        <h4 class="locazione"><a [routerLink]="'locazione'">Locazione operativa</a></h4>
                    </div>
                </li>

                <li class="for"><a [routerLink]="'formazione'">Formazione</a>
                
                    <div class="flex for1">
                        <h4 class="formazione"><a [routerLink]="'formazione'">Formazione</a></h4>
                        <h4 class="istituti"><a [routerLink]="'istituti'">Istituti superiori e Università</a></h4>
                    </div>
        
                </li>
            </ul>
        </div>
    </div>
</div>