


<div class="riquadroazzurro">
    <p-dropdown class="drop" [options]="options" [(ngModel)]="selectedOption" optionLabel="name"></p-dropdown>

    <p class="p1">Se sei un IT Manager conosciamo bene il tuo mestiere.
        Sappiamo che il tuo lavoro sta cambiando: aumentano le attività che devi seguire, devi seguirle in modo puntuale, sono richieste competenze sempre più specifiche, ma spesso le risorse a tua disposizione rimangono le stesse.</p>

    <p class="p2">La mancanza di tempo, la mancanza di un aggiornamento di competenze (e purtroppo a volte le dimenticanze legate alle urgenze) portano a non riuscire a fare controlli regolari, gli aggiornamenti e le manutenzioni necessarie.
        Questo porta a gravi rischi sulla la sicurezza dei dati aziendali e la produttività.
        A questo poi si aggiungono i tentativi di intrusione e di attacco dall’esterno sempre più frequenti e con tecniche sempre più efficaci.</p>

    <p class="p3">Sappiamo quanto questo possa essere frustrante e fonte di ansia e preoccupazione e vogliamo metterci a tua disposizione con servizi mirati che potrai richiedere al bisogno per alleggerire il tuo carico di lavoro.</p>

      <div class="divicone flex">




        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                  <app-icone class="immagine" [immagine]="'../../assets/images/icon-postazioniFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Postazioni'"></app-icone>
            </p-tabPanel>
  
  
  
            <p-tabPanel>
                <ng-template pTemplate="header">
                  <app-icone class="immagine" [immagine]="'../../assets/images/icon-storageFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Server'"></app-icone>
            </p-tabPanel>
  
  
  
            <p-tabPanel>
                <ng-template pTemplate="header">
                  <app-icone class="immagine" [immagine]="'../../assets/images/icon-backupFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Backup'"></app-icone>
            </p-tabPanel>
  
  
  
            <p-tabPanel>
                <ng-template pTemplate="header">
                  <app-icone class="immagine" [immagine]="'../../assets/images/icon-networkFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Network e sicurezza'"></app-icone>
            </p-tabPanel>
  
  
  
            <p-tabPanel>
                <ng-template pTemplate="header">
                  <app-icone class="immagine" [immagine]="'../../assets/images/icon-deployFinal.svg'"></app-icone>
                  
                </ng-template>
                <app-icone class="titolo" [titolo]="'Deploy per rollout'"></app-icone>
            </p-tabPanel>
  
        </p-tabView>   

        </div>


</div>



<h1>Network e Sicurezza</h1>

<p class="p4"><strong>Le reti delle aziende sono costantemente sotto attacco ed è fondamentale installare le giuste protezioni, tipicamente dispositivi Firewall, collegamenti criptati VPN , sistemi anti virus e di condivisione dati sicura ecc..</strong></p>

<p class="p5">La scelta adeguata della soluzione da installare e la corretta implementazione e collaudo, rappresentano solo l’inizio del percorso per una adeguata protezione in azienda. Le reti aziendali infatti vengono violate sfruttando falle di sicurezza di dispositivi di sicurezza e di soluzioni software di comunicazione e collaborazione che, se pur validi e performanti quando sono stati acquistati, non sono stati più aggiornati e manutenuti nel tempo. Le tecniche di intrusione sono in continua evoluzione così come vengono scoperte quasi quotidianamente nuove falle di sicurezza. E’ quindi fondamentale che i dispositivi che consentono alla azienda di collegarsi con le attività esterne, siano sempre aggiornati e testati.</p>

<p class="p6">Spesso le PMI, per mancanza di tempo o di competenze, non dedicano tempo e risorse sufficienti alle attività di aggiornamento e manutenzione dei dispositivi di Network e sicurezza e alla formazione dei dipendenti in termini di sicurezza. Ai problemi di mancanza di aggiornamento dei dispositivi si aggiunge anche la mancanza di conoscenza degli utilizzatori in azienda, che a causa di azioni quotidiane (come aprire un email che “sembra” effettivamente inviata a lui) mettono a rischio la sicurezza dei dati. Sappiamo bene che mantenere aggiornati ed in sicurezza i sistemi di Network è un lavoro molto impegnativo e che richiede delle specifiche competenze e una pianificazione dei controlli particolarmente puntuale. 
    Per questi motivi offriamo un servizio di “affiancamento” con risorse dedicate per garantire che queste attività fondamentali vengano effettivamente svolte.</p>

 
<h2>IL NOSTRO SERVIZIO</h2>

    <p class="p8"><strong>Questo servizio è particolarmente utile a quelle imprese che non hanno personale dedicato a manutenere e verificare correttamente i sistemi di sicurezza, come i Firewall UTM, gli access point Wireless ecc. che sono un componente critico e che richiede competenze specifiche di livello più alto rispetto alla normale gestione delle postazioni di lavoro</strong>.</p>

    <p class="p9">Consente di anticipare l’insorgenza di problemi bloccanti o situazioni critiche, tramite un sistema di monitoraggio, attivo 24 ore su 24 e 7 giorni su 7 che informa in autonomia il supporto tecnico per la soluzione dei problemi da remoto e senza disturbare l’operatività degli utenti.
        Qualora le attività non si possano eseguire in modo risolutivo da remoto, verrà notificata la situazione straordinaria e quindi l’esigenza di pianificare un intervento tecnico .
        Per richieste o problemi non prevedibili è possibile contattare in modo illimitato il servizio di Help Desk per una risposta immediata.
        Con la periodicità definita, vengono inviati ai responsabili aziendali i report con tutte le attività svolte.</p>

    <div class="riquadroazzurro2">

        <div class="flex">
            <div class="sinistra">
            <h1>I NOSTRI VANTAGGI</h1>
            <br>
            
            <div class="flex uno">
            <img class="primaimmagineasinistra" src="../../../assets/images/Raggruppa-632.svg">
            <p-accordion>
              <p-accordionTab header="COMPETENZE CERTIFICATE">
              <p class="piccoloparagrafo">Tutte le nostre risorse tecniche hanno competenze certificate sui sistemi IT più diffusi e sono continuamente aggiornate con cicliche sessioni di formazione. 
                Questo consente ai nostri clienti di delegare a noi la gestione delle problematiche IT che richiedono knowhow o addirittura certificazioni specifiche. 
                Operando quotidianamente in realtà aziendali differenti, i nostri tecnici hanno le competenze ed un approccio proattivo in grado di portare valore, sicurezza e performance ad ogni tipologia di rete aziendale.</p> 
              </p-accordionTab>
            </p-accordion>
            </div>
            
            
            <div class="flex due">
              <img class="secondaimmagineasinistra" src="../../../assets/images/Raggruppa-628.svg">
              <p-accordion>
                <p-accordionTab header="CONTINUITA'">
            <p>Garantiamo alle aziende assistenza continuativa indipendentemente dai periodi di ferie, malattia e corsi di aggiornamento del nostro personale:
                non  contrattualizziamo infatti una singola risorsa, ma definiamo un pool di tecnici intercambiabili con competenze adeguate rispetto all’architettura ed alle configurazioni specifiche di ogni cliente. Interveniamo ove necessario per sostituzioni del personale dei nostri clienti, in caso di pensionamento o  fuoriuscita di una risorsa  IT.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
            
            
            
            <div class="flex tre">
              <img class="terzaimmagineasinistra" src="../../../assets/images/Raggruppa-634.svg">
              <p-accordion>
                <p-accordionTab header="FOCUS SUL BUSINESS">
            <p>Pensiamo a tutto noi, occupandoci delle attività di manutenzione e aggiornamento da remoto ed in modalità silente, senza disturbare o condizionare l’operatività degli utenti aziendali.
                Le risorse interne dei nostri clienti si disinteressano infatti dell’infrastruttura IT, liberi di concentrarsi serenamente sulle attività ad alto valore aggiunto per l’impresa: in questo modo  contribuiamo continuamente a migliorare la produttività aziendale, ottimizzando performance e flussi di lavoro.</p> 
            </p-accordionTab>
            </p-accordion>
            </div>
            
            <div class="flex quattro">
              <img class="quartaimmagineasinistra" src="../../../assets/images/Raggruppa-626.svg">
              <p-accordion>
                <p-accordionTab header="PREZZI FISSI E TRASPARENTI">
            <p>Nessuna spesa inaspettata: il nostro servizio è erogato a prezzo fisso e con supporto continuativo, con un canone mensile per ogni dispositivo supportato.</p>
            </p-accordionTab>
            </p-accordion>
            </div>
    
            <div class="flex cinque">
                <img class="quintaimmagineasinistra" src="../../../assets/images/Raggruppa-639.svg">
                <p-accordion>
                  <p-accordionTab header="PROTEZIONE COMPLETA">
              <p>La sicurezza per noi è sempre al primo posto: garantire la giusta protezione quotidiana è la nostra mission verso i clienti, individuando tutti quei prodotti e soluzioni che proteggano l’infrastruttura aziendale ed i dati più sensibili e strategici.</p>
              </p-accordionTab>
              </p-accordion>
              </div>
    
            </div>
           
            <div class="destra">
              <h1>AREE DI INTERVENTO</h1>
              <br>
            
            
              <p-accordion>
                <p-accordionTab header="NETWORK">
                  <p>L’operatività di una azienda dipende in maniera determinante dalla sua rete: in caso di malfunzionamenti, le conseguenze possono essere svariate. Diventa quindi fondamentale che i collegamenti vengano correttamente implementati e testati.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
              
            
              <p-accordion>
                <p-accordionTab header="SICUREZZA">
            <p>Ogni organizzazione dovrebbe strutturare una serie di attività e strumenti al fine di tutelare il sistema informatico, dai pc alla rete, dai server ai dispositivi mobili, ed i dati in essi contenuti.</p>
            <button class="bottone">Scopri di più</button>  
            </p-accordionTab>
            </p-accordion>
            
            
            <p-accordion>
              <p-accordionTab header="INTERNET E TELEFONIA">
                <p>Supportiamo le aziende nella scelta del provider migliore, con il giusto rapporto qualità/prezzo e per creare le condizioni necessarie per garantire la business continuity.</p>
                <button class="bottone">Scopri di più</button>  
              </p-accordionTab>
            </p-accordion>
            

              <p-accordion>
                <p-accordionTab header="FORMAZIONE">
                  <p>Grazie ai nostri tecnici e consulenti mettiamo a disposizione le nostre competenze per valutare progetti formativi su argomenti specifici, organizzando le sessioni necessarie per approfondire tematiche, flussi operativi, applicazioni disponibili, esigenze ed obiettivi.</p>
                  <button class="bottone">Scopri di più</button>  
                </p-accordionTab>
              </p-accordion>
            
        </div>
            </div>

    </div>

    <h3>Certificazioni</h3>
<app-carousel></app-carousel>

